<template>
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-film"></i> Saved Strips</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><i class="ss-search"></i> Select a Patient</p>
                                <select v-select="selected_patient" placeholder="Sort by patient..." class="form-control" style="width:100%!important;">
                                    <option>Select a patient...</option>
                                    <option v-for="patient in patients" :value="patient.id">{{ patient.name_first }} {{ patient.name_last }}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <p><i class="ss-search"></i> Select a Recording Session</p>
                                <select v-select="selected_session" :disabled="!sessions" placeholder="Sort by session..." class="form-control" style="width:100%!important;">
                                    <option>Select a session...</option>
                                    <option v-for="session in sessions" :value="session.id">{{ session.value }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                                <div style="height:300px;overflow-y:scroll;border:1px dashed #696969;">
                                    <div v-if="stripGraphs">
                                        <template v-for="(index, graph) in stripGraphs">
                                            <div class="col-xs-12" style="height:112px;"><!-- fucking l33t design hacked m8 -->
                                                <a href="#" @click="renderRecording" :id="graph.hash">
                                                    <img
                                                            :class="{
                                                                            active: graph.recording[0].id == recording_id,
                                                                            inactive: graph.recording[0].id != recording_id
                                                                    }"
                                                            :src="graph.image"
                                                            class="img-responsive"
                                                    />
                                                </a>
                                                <small>Submitted {{ graph.recording[0].created_at }} (<strong>Debug:</strong> {{ graph.hash }})</small>
                                            </div>
                                        </template>
                                    </div>
                                    <div v-else class="text-center">
                                        <h1><h1><i class="fa fa-refresh fa-spin"></i> Fetching Your Saved Strips...</h1></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div v-if="ecgData">
                                    <ecg-graph-display :recording.sync="recording_id" :notes.sync="notes" :data.sync="ecgData" :reported.sync="reported_events" :remeasurements="remeasurements"></ecg-graph-display>
                                </div>
                                <div v-else class="text-center" style="height:400px;">
                                    <h3>Click on a strip above to load the Analysis Panel</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</template>


<script>

    // Imports
    import EcgGraphDisplay from '../ecg-graph/EcgGraphDisplay.vue';
    import moment from 'moment';
    import _ from 'underscore';

    export default {
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                strips: false,
                stripHashes: false,
                stripGraphs: false,
                ecgData: false,
                recording_id: false,
                notes: false,
                events: false,
                reported_events: false,
                selected_patient: false,
                patients: false,
                sessions: false,
                selected_session: false,
                remeasurements: false,
            }
        },
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        directives: {
            select: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function () {
                    var self = this
                    $(this.el)
                            .select2()
                            .on('change', function () {
                                self.set(this.value)
                            })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },
        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {
            this.$http.get('/api/v1/strips').then((response) => {
                this.getStripGraphs(response.data);
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });

            this.$http.get('/api/v1/patients').then((response) => {
               this.patients = response.data.data;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });
        },
        /*
         |---------------------------------------------------
         | Watch                                            |
         |---------------------------------------------------
         */
        watch: {

            'selected_patient': function(val) {
                if(val) {
                    this.$http.get('/api/v1/patients/' + this.selected_patient + '/sessions').then((response) => {
                        var sessions = [];
                        _.each(response.data, function(session) {
                            sessions.push({
                                'id': session.id,
                                'value': "Session from " +  moment(session.date_start).format('MM-DD-YY') + " to " + moment(session.date_end).format('MM-DD-YY')
                            });
                        });
                        this.sessions = sessions;
                }, (response) => {
                        console.error(response.data);
                    });
                }
            },

            'selected_session': function(val) {
                if(val) {
                    this.$http.get('/api/v1/strips/' + this.selected_patient + '/' + this.selected_session).then((response) => {
                        this.getStripGraphs(response.data);
                    }, (response) => {
                        console.error(response.data);
                    });
                }
            }
        },
        methods: {
            'getStripGraphs': function(strips) {
                console.log("Getting graphs");
                this.strips = strips;
                var hashes = _.pluck(this.strips, 'recording_hash');
                this.$http.post('/api/v1/recordings/graphs', {'hashes': hashes}).then((response) => {
                    this.stripGraphs = response.data;
                }, (response) => {
                    console.error(response.data);
                });
            },
            'renderRecording': function() {
                this.ecgData = false;
                this.recording_id = false;
                this.$http.get('/api/v1/recording/' + event.currentTarget.id).then((response) => {
                    console.log(response.data);
                    this.reported_events = response.data.reported_events;
                    this.ecgData = response.data.recording_data;
                    this.recording_id = response.data.id;
                    this.remeasurements = response.data.recording_remeasurements;
                    this.notes = response.data.recording_notes;
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
            },
        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: {
            'ecg-graph-display' : EcgGraphDisplay,
        },
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user'],
    }
</script>