<template>
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-target"></i> Strip Analysis</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                    <ul>

                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>

    // Imports
    import moment from 'moment';
    import _ from 'underscore';

    export default {
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                strips: false,
                stripHashes: false,
                stripGraphs: false
            }
        },
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {
            this.$http.get('/api/v1/strips').then((response) => {
                // Ugly data.data object to support VueTable
                this.strips = response.data;
                hashes = _.pluck(this.strips, 'recording_hash');
                this.getStripGraphs();
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });
        },
        /*
         |---------------------------------------------------
         | Watch                                            |
         |---------------------------------------------------
         */
        watch: function () {

        },
        methods: {
            'getStripGraphs': function() {
                this.$http.post('/api/v1/recordings/graphs', {'hashes': hashes}).then((response) => {
                    this.stripGraphs = response.data;
                }, (response) => {
                    console.error(response.data);
                });
            }
        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: [],
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user'],
    }
</script>