<template>
    <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="row">
                    <div class="container">
                        <div class="modal-header">
                            <button type="button" class="close" @click="show = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-building"></i><sup><i class="fa fa-plus-circle"></i></sup> Create New Network</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-xs-12" v-show="hasErrors">
                                            <div class="alert alert-danger">
                                                <div class="clearfix">
                                                    <div class="col-md-3">
                                                        <h3><i class="fa fa-warning"></i></h3>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul class="list list-unstyled">
                                                            <li v-for="error in errorMessages">
                                                                {{ error }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" v-show="hasSuccess">
                                            <div class="alert alert-success">
                                                <div class="clearfix">
                                                    <div class="col-md-3">
                                                        <h3><i class="fa fa-check"></i></h3>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <h3>The network has been created.</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <network-form :name.sync="name"
                                                      :address.sync="address"
                                                      :address_2.sync="address_2"
                                                      :city.sync="city"
                                                      :province.sync="province"
                                                      :postal_code.sync="postal_code"
                                                      :phone.sync="phone"
                                                      :fax.sync="fax"
                                                      ></network-form>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="submitNewNetworkForm">
                                <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                Submit</button>
                            <button type="button" class="btn btn-danger" @click="show = false">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>

</style>

<script>
    import NetworkForm from './NetworkForm.vue';
    import _ from 'underscore';

    export default{
        /**
         |----------------------------------------
         |DATA
         |----------------------------------------
         * @returns {{isSubmitting: boolean}}
         */
        data(){

            return{
                networkFormModal: true,
                isSubmitting: false,
                hasErrors: false,
                hasSuccess: false,
                errorMessages: [],

                // Network Properties
                name: null,
                address: null,
                address_2: null,
                city: null,
                details: null,
                province: null,
                postal_code: null,
                phone: null,
                fax: null,
                details: null,

                provinces: null,
            }

        },

        directives: {


        },

        ready: function() {
            this.$broadcast('loadProvinces');
        },

        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {

            'isSubmitting': function (val) {
                if (val == true) {

                }
            },

            'selected': function (val) {
                this.selected_province = val;
            },

            'show' : function(val) {
                if(val == false) {
                    this.isSubmitting = false;
                    this.hasErrors = false;
                    this.hasSuccess = false;
                    this.errorMessages = [];

                    this.name = null;
                    this.address = null;
                    this.address_2 = null;
                    this.city = null;
                    this.province = null;
                    this.postal_code = null;
                    this.phone = null;
                    this.fax = null;
                    this.details = null;
                    this.users=  [];
                    this.$dispatch('update-network-table');
                }
            }

        },
        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods : {

            /**
             * Submit a new network
             * @param {Object} e
             */
            submitNewNetworkForm : function(e) {
                this.isSubmitting = true;

                var params = {
                    'name': this.name,
                    'address': this.address,
                    'address_2': this.address_2,
                    'city': this.city,
                    'province': this.province,
                    'postal_code': this.postal_code,
                    'phone': this.phone,
                    'fax': this.fax,
                    'details': this.details,
                    'users': []
                };

               this.$http.post('/api/v1/networks', params).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
               });

            },

            /**
             * Handle a success response from the submission form
             * @param {Object} e
             */
            handleSuccess : function(response) {
                this.name = null;
                this.email = null;
                this.address = null;
                this.address_2 = null;
                this.city = null;
                this.province = null;
                this.postal_code = null;
                this.phone = null;
                this.fax = null;
                this.details = null;
                this.roles = [];
                this.hasErrors = false;
                this.hasSuccess = true;
                this.isSubmitting = false;
            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }

        },
        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {
            'network-form': NetworkForm
        },
        /**
         |----------------------------------------
         |PROPERTIES
         |----------------------------------------
         */
        props: ['user', 'show'],
    }
</script>
