<template>
    <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="row">
                    <div class="container">
                        <div class="modal-header">
                            <button type="button" class="close" @click="show = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-building"></i><sup><i class="fa fa-plus-edit"></i></sup> Edit Network</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-xs-12" v-show="hasErrors">
                                            <div class="alert alert-danger">
                                                <div class="clearfix">
                                                    <div class="col-md-3">
                                                        <h3><i class="fa fa-warning"></i></h3>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul class="list list-unstyled">
                                                            <li v-for="error in errorMessages">
                                                                {{ error }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" v-show="hasSuccess">
                                            <div class="alert alert-success">
                                                <div class="clearfix">
                                                    <div class="col-md-3">
                                                        <h3><i class="fa fa-check"></i></h3>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <h3>The network has been created.</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <network-form :name.sync="name"
                                                      :address.sync="address"
                                                      :address_2.sync="address_2"
                                                      :city.sync="city"
                                                      :province.sync="province"
                                                      :postal_code.sync="postal_code"
                                                      :phone.sync="phone"
                                                      :fax.sync="fax"
                                                      ></network-form>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="submitNetworkForm">
                                <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                Submit</button>
                            <button type="button" class="btn btn-danger" @click="show = false">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>

</style>
<script>
    import NetworkForm from './NetworkForm.vue';
    export default{
        data(){
            return{
                networkFormModal: true,
                isSubmitting: false,
                isResettingPassword: false,
                hasErrors: false,
                hasSuccess: false,
                resetSuccess: false,
                errorMessages: [],

                // Network Properties
                name: null,
                address: null,
                address_2: null,
                city: null,
                postal_code: null,
                phone: null,
                fax: null,
                details: null,
                province: false,

                provinces: null,


            }
        },

        ready: function() {
            this.$broadcast('loadProvinces');
        },

        /**
         |----------------------------------------
         |CREATED
         |----------------------------------------
         */
        /**
         |----------------------------------------
         |DIRECTIVES
         |----------------------------------------
         */
        directives: {


        },

        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {

            'isSubmitting': function (val) {
                if (val == true) {

                }
            },
            'show': function (val) {
                if(val instanceof Object == true) {
                    this.name = val.name;

                    // Address is hosted in a contact object from Vuetable
                        this.address = val.contact.address;
                        this.address_2 = val.contact.address_2;
                        this.city = val.contact.city;
                        this.province = val.contact.province.id;
                        this.postal_code = val.contact.postal_code;
                        this.phone = val.contact.phone;
                        this.fax = val.contact.fax;

                    this.details = val.details;
                }
                else if(val == false) {
                    this.isSubmitting = false;
                    this.hasErrors = false;
                    this.hasSuccess = false;
                    this.errorMessages = false;
                    this.$dispatch('update-network-table');
                }
            }
        },

        /**
         |-----------------------------------------
         |METHODS
         |-----------------------------------------
         */
        methods: {

            submitNetworkForm : function() {
                this.isSubmitting = true;
                var params = {
                    'name': this.name,
                    'address': this.address,
                    'address_2': this.address_2,
                    'city': this.city,
                    'province': this.province,
                    'postal_code': this.postal_code,
                    'phone': this.phone,
                    'fax': this.fax,
                    'details': this.details
                };

                this.$http.put('/api/v1/networks/' + this.show.id, params).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });

            },

            handleSuccess: function(response) {
                this.hasErrors = false;
                this.hasSuccess = true;
                this.isSubmitting = false;
                console.info("SUCCESS RESPONSE " + JSON.stringify(response));
            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }
        },
        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {
            'network-form': NetworkForm
        },
        /**
         |-----------------------------------------
         |PROPERTIES
         |-----------------------------------------
         */
        props: ['user', 'show']

    }
</script>
