<template>
    <div class="form-group">
        <label class="control-label col-xs-3" for="name">Name</label>
        <div class="col-xs-6">
            <input name="username" v-model="name" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="address">Address</label>
        <div class="col-xs-6">
            <input name="email" v-model="address" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="address_2">Address 2</label>
        <div class="col-xs-6">
            <input name="email" v-model="address_2" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="city">City</label>
        <div class="col-xs-6">
            <input name="email" v-model="city" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="province">Province</label>
        <div class="col-xs-6">
            <select v-select="province" placeholder="Provinces..." class="form-control" style="width:100%!important;">
                <option>Select Province...</option>
                <option v-for="province in provinces" :value="province.id">{{ province.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="postal_code">Postal Code</label>
        <div class="col-xs-6">
            <input name="postal_code" v-model="postal_code" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="phone">Phone</label>
        <div class="col-xs-6">
            <input name="phone" v-model="phone" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="fax">Fax</label>
        <div class="col-xs-6">
            <input name="fax" v-model="fax" class="form-control" type="text" />
        </div>
    </div>


</template>

<script>

    export default{
        /**
         |----------------------------------------
         |CREATED
         |----------------------------------------
         */
        created: function() {



        },

        directives: {
            select: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function () {
                    var self = this
                    $(this.el)
                            .select2()
                            .on('change', function () {
                                self.set(this.value)
                            })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },

        },
        events: {

            // Load Provinces
            'loadProvinces' : function(){
                this.$http.get('/api/v1/provinces').then((response) => {
                    this.provinces = response.data;
                }, (response) => {
                    console.error("Error " + JSON.stringify(response));
                });
            }
        },
        props:[
            'name',
            'address',
            'address_2',
            'city',
            'province',
            'provinces',
            'postal_code',
            'phone',
            'fax'
        ]
    }

</script>
