<template>
    <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="container">
                    <div class="modal-header">
                        <button type="button" class="close" @click="show = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="myModalLabel"><i class="ss-connection"></i> {{ show.name }}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row" v-if="show">
                            <div class="col-xs-6">
                                <div v-if="show.contact">
                                    <h3><i class="ss-location"></i> Contact Details</h3>
                                    <ul class="list-unstyled">
                                        <li>{{ show.contact.address }}</li>
                                        <li v-if="show.contact.address_2">{{ show.contact.address_2 }}</li>
                                        <li v-if="show.contact.city.length">{{ show.contact.city }},
                                                                            <span v-if="show.contact.province.name.length">{{ show.contact.province.name }}</span>
                                                                            &nbsp; <span v-if="show.contact.postal_code.length">{{ show.contact.postal_code }}</span>

                                        </li>
                                    </ul>
                                </div>
                                <div v-if="show.patients">
                                    <h3><i class="ss-heartuser"></i> Network Patients</h3>
                                    <ul class="list-unstyled">

                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <h3><i class="ss-contacts"></i> Network Staff</h3>
                                <div v-if="staff">
                                    <div v-for="member in staff">
                                            <a
                                                    style="margin-bottom:5px"
                                                    class="clearfix pull-left btn btn-default btn-block"
                                                    href="#"
                                                    @click="viewNetworkMember"
                                                    v-bind:id="member.id">
                                                        <span class="pull-left">
                                                            {{ member.name }}
                                                        </span>
                                                {{{ member.role }}}
                                            </a>
                                    </div>
                                </div>
                                <div v-else>
                                    <div v-if="isLoadingUsers">
                                        <i class="fa fa-spinner fa-spin"></i> Loading members...
                                    </div>
                                    <div v-else>
                                        <p>No users have been assigned to this network.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click="show = false">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                staff: false,
                practices: false,
                isLoadingUsers: false
            }
        },
        watch: {
            'show' : function(val) {
                if(val == false) {
                    this.staff = false;
                } else {
                    this.isLoadingUsers = true;
                    // Load the Network members when show is changed to an actual network
                    this.$http.get('/api/v1/networks/' + this.show.id + '/staff').then((response) => {
                        this.staff = response.data;
                    }, (response) => {
                        console.error("Error " + JSON.stringify(response));
                    });
                }
            }
        },
        /**
         |----------------------------------------------
         |METHODS
         |----------------------------------------------
         */
        methods : {

            'viewNetworkMember' : function() {
                this.show = false;
                this.staff = false;
                this.practices = false;
                this.$dispatch('show-user', {user_id: event.currentTarget.id});
            }

        },
        /**
         |----------------------------------------------
         |PROPERTIES
         |----------------------------------------------
         */
        props: ['user', 'show'],
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 1998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        background-color: rgba(255, 255, 255, .99);
        overflow-y: scroll;
        transition: all .3s ease;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }

    label {
        font-weight: 700;
    }

</style>