<template>
    <!-- Admin Dashboard -->
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-dashboard"></i> Dashboard</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h1><i class="fa fa-users"></i> New Users</h1>
                            <user-registered-chart :height="320"></user-registered-chart>
                        </div>
                        <div class="col-md-6">
                            <h1><i class="fa fa-heartbeat"></i> Patient Examinations</h1>
                            <patient-examined-chart :height="320"></patient-examined-chart>
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h1><i class="fa fa-building"></i> Networks</h1>
                            <data-aggregate-chart :height="320"></data-aggregate-chart>
                        </div>
                        <div class="col-md-9 text-center">
                            <h1><i class="fa fa-file"></i> Activity Log</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Admin Dashboard -->
</template>

<script>
    // These components serve only as examples until we have finalized the functionality
    // that Rijuven admin accounts want to take a look at
    import UserRegisteredChart from './charts/RecordingsCountWeekChart';
    import PatientsExaminedChart from './charts/ReportedEventsCountChart';
    import DataAggregateChart from './charts/ArythmiasCapturedChart';

    export default {
        ready() {

        },
        components: {
            'user-registered-chart': UserRegisteredChart,
            'patient-examined-chart': PatientsExaminedChart,
            'data-aggregate-chart': DataAggregateChart
        },
        props: ['user'],
    }
</script>

