<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title" v-show="network"><i class="fa fa-dashboard"></i> {{ network.name }}</h3></div>
                    <div class="panel-body panel-padded">
                        <div v-if="network">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1><i class="ss-heart"></i> Recordings Submitted</h1>
                                    <recordings-count-chart :height="320"></recordings-count-chart>
                                </div>
                                <div class="col-md-6">
                                    <h1><i class="fa fa-heartbeat"></i> Reported Events Captured</h1>
                                    <reported-events-count-chart :height="320"></reported-events-count-chart>
                                </div>
                            </div>
                            <div class="row">
                                <hr />
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h1><i class="ss-alert"></i> Alerts Captured</h1>
                                    <arythmias-captured-chart :height="320"></arythmias-captured-chart>
                                </div>
                                <div class="col-md-9">
                                    <h1><i class="fa fa-file"></i> Recent Network Activities</h1>
                                    <activity-log :user.sync="user"></activity-log>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="col-xs-12 text-center">
                                <h3><i class="fa fa-spinner fa-spin"></i></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    import RecordingsCountWeekChart from './charts/RecordingsCountWeekChart';
    import ReportedEventsCountChart from './charts/ReportedEventsCountChart';
    import ArythmiasCapturedChart from './charts/ArythmiasCapturedChart';
    import ActivityLog from './utilities/ActivityLog.vue';

    export default {
        name: 'NetworkAdminDashboard',
        data() {
            return{
                network: false
            }
        },
        created: function() {
            this.$http.get('/api/v1/networks/' + this.user.network.id).then((response) => {
                this.network = response.data;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });
        },

        components: {
            'recordings-count-chart': RecordingsCountWeekChart,
            'reported-events-count-chart': ReportedEventsCountChart,
            'arythmias-captured-chart': ArythmiasCapturedChart,
            'activity-log': ActivityLog
        },
        props: ['user']
    }
</script>