<template>
    <div id="patient-bashboard">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-4">
                                    <!--<h3 class="panel-title pull-left"><i class="ss-heartuser"></i> Patients</h3>&lt;!&ndash;<i class="fa fa-heartbeat"></i>&ndash;&gt;-->
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#assigned"><i class="ss-heartuser"></i> My Patients</a></li>
                                        <li><a data-toggle="tab" href="#all"><i class="ss-users"></i> All Patients</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control search-input" @keyup.enter="setFilter" v-model="searchFor" placeholder="Search" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" @click="setFilter" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <button class="btn btn-default" @click="resetFilter" type="button">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-warning pull-right" href="#" v-link="{ path: '/patient-portal/triage' }"><i class="ss-medicalbag"></i> Triage Center</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="assigned" class="row tab-pane fade in active">
                                    <vuetable v-ref:assignedtable
                                              api-url="/api/v1/patients?assigned=true"
                                              :fields="columns"
                                              :item-actions="itemActions"
                                              table-class="table table-responsive table-hover table-striped table-bordered"
                                              :per-page="10"
                                              :sort-order="[{ field: 'updated_at', direction: 'desc' }]"
                                              table-class="table table-bordered table-striped table-hover"
                                              ascending-icon="fa fa-chevron-up"
                                              descending-icon="fa fa-chevron-down"
                                              pagination-path=""
                                              pagination-info-no-data-template=""
                                              pagination-info-data-template=""
                                              pagination-component="vuetable-pagination"
                                              :item-actions="itemActions"
                                              :per-page="perPage"
                                              paginationInfo="{from} {to} {total}"
                                              :append-params="moreParams"
                                    ></vuetable>
                                </div>
                                <div class="row tab-pane fade" id="all">
                                    <vuetable v-ref:vuetable
                                              api-url="/api/v1/patients"
                                              :fields="columns"
                                              :item-actions="itemActions"
                                              table-class="table table-responsive table-hover table-striped table-bordered"
                                              :per-page="10"
                                              :sort-order="[{ field: 'updated_at', direction: 'desc' }]"
                                              table-class="table table-bordered table-striped table-hover"
                                              ascending-icon="fa fa-chevron-up"
                                              descending-icon="fa fa-chevron-down"
                                              pagination-path=""
                                              pagination-info-no-data-template=""
                                              pagination-info-data-template=""
                                              pagination-component="vuetable-pagination"
                                              :item-actions="itemActions"
                                              :per-page="perPage"
                                              paginationInfo="{from} {to} {total}"
                                              :append-params="moreParams"
                                    ></vuetable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .ui {
        margin-left: 2px;
    }

    .search-input {
        background: #222;
        border-color: #222;
        color: #fff;
    }

    .input-group {
        margin-bottom: 5px;
    }

    .vuetable th.sortable:hover {
        color: #2185d0;
        cursor: pointer;
    }
    .vuetable-actions {
        width: 11%;
        padding: 12px 0px;
        text-align: center;
    }

    .vuetable-pagination {

    }
    .vuetable-pagination-info {
        float: left;
        margin-top: auto;
        margin-bottom: auto;
    }
    .vuetable-pagination-component {
        float: right;
    }
    .vuetable-pagination-component .pagination {
        margin: 0px;
    }
    .vuetable-pagination-component .pagination .btn {
        cursor: pointer;
        margin: 2px;
    }
    [v-cloak] {
        display: none;
    }
    .highlight {
        background-color: yellow;
    }
    /* Loading Animation: */
    .vuetable-wrapper {
        opacity: 1;
        position: relative;
        filter: alpha(opacity=100); /* IE8 and earlier */
    }
    .vuetable-wrapper.loading {
        opacity:0.4;
        transition: opacity .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out;
        -webkit-transition: opacity .3s ease-in-out;
    }
    .vuetable-wrapper.loading:after {
        position: absolute;
        content: '';
        top: 40%;
        left: 50%;
        margin: -30px 0 0 -30px;
        border-radius: 100%;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        border: 4px solid #000;
        height: 60px;
        width: 60px;
        background: transparent !important;
        display: inline-block;
        -webkit-animation: pulse 1s 0s ease-in-out infinite;
        animation: pulse 1s 0s ease-in-out infinite;
    }

    .vuetable-actions {
        width: 150px;
    }

    @keyframes pulse {
        0% {
            -webkit-transform: scale(0.6);
            transform: scale(0.6); }
        50% {
            -webkit-transform: scale(1);
            transform: scale(1);
            border-width: 12px; }
        100% {
            -webkit-transform: scale(0.6);
            transform: scale(0.6); }
    }
</style>

<script>

    import Vuetable from 'vuetable/src/components/Vuetable.vue';
    import moment from 'moment';

    export default{

        /**
         |-----------------------------------------
         |DATA
         |-----------------------------------------
         */
        data(){
            return{
                showModal: false,
                showDeleteModal: false,
                showEditModal: false,
                showPatientModal: false,
                paginationComponent: 'vuetable-pagination',
                perPage: 10,
                moreParams: [],
                columns: [
                    {
                        name: 'name_first',
                        sortField: 'name_first',
                        title: 'First Name',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'name_last',
                        sortField: 'name_last',
                        title: 'Last Name',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'last_body_position',
                        sortField: 'last_body_position',
                        titleClass: 'text-center',
                        title: 'Last Body Position',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'last_data_submitted',
                        sortField: 'last_data_submitted',
                        title: 'Last Recording Submitted',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: '__actions',
                        title: '',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    }
                ],
                itemActions: [
                    { name: 'show-item', label: '', icon: 'fa fa-heartbeat', class: 'ui btn btn-primary' },
                    { name: 'session-item', 'label': '', icon: 'fa fa-eye', class: 'ui btn btn-info' }
                ]
            }
        },

        created: function() {
            this.$broadcast('vuetable-pagination:set-options', {
                wrapperClass: 'pagination',
                icons: { first: '', prev: '', next: '', last: ''},
                activeClass: 'active',
                linkClass: 'btn btn-default',
                pageClass: 'btn btn-default'
            });
        },

        ready: function() {

        },

        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {
            'vuetable': Vuetable
        },

        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {
            'perPage': function(val, oldVal) {
                this.$broadcast('vuetable:refresh')
            },
        },

        /**
         |-----------------------------------------
         |EVENTS
         |-----------------------------------------
         */
        events: {
            'vuetable:loading': function() {
                this.$dispatch('showLoadingMask');
            },

            'vuetable:load-success': function(response) {
                this.$dispatch('vuetable-pagination:set-options');
                this.$dispatch('hideLoadingMask');
                // Disable view button for non-existent recording sessions
                var patients = response.body.data;
                var vm = this;
                for(var i=0;i<patients.length;i++){
                    if(patients[i].active_recording_session === null) {
                        console.log(vm.$refs.vuetable);
                    }
                }
            },
            'vuetable:action': function(action, data) {
                if (action == 'show-item') {
                    //this.showPatientModal = data;
                    var url = "/patient-portal/recordings/" + data.id + "/" + data.active_recording_session;
                    this.$route.router.go(url);
                }
                if(action == 'session-item') {
                    var url = '/patient-portal/report/' + data.id + '/' + data.active_recording_session;
                    this.$route.router.go(url);
                }
            },
            'vuetable:load-error': function(response) {
                console.error('Load Error: ', response);
            },
            'update-patient-table': function() {
                this.$refs.vuetable.loadData();
            }

        },

        /**
         |-----------------------------------------
         |METHODS
         |-----------------------------------------
         */
        methods: {

            /**
             * Format Moment.js Date
             */
            formatDate: function(value) {
                if (value == null) return '';
                    return moment(value, 'YYYY-MM-DD h:mm:ss').format('MMMM Do YYYY h:mm:ss a');
            },
            setFilter: function() {
                if(this.searchFor.length>0) {
                    this.moreParams = [
                        'filter=' + this.searchFor
                    ];
                }
                this.$nextTick(function() {
                    this.$broadcast('vuetable:refresh')
                })
            },
            resetFilter: function() {
                this.searchFor = '';
                this.moreParams = [];
                this.setFilter()
            },
        },

        /**
         |-----------------------------------------
         |PROPERTIES
         |-----------------------------------------
         */
        props: ['patient']

    }
</script>

