<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title" id="myModalLabel"><i class="fa fa-user"></i><sup><i class="fa fa-edit"></i></sup> Create Patient</h3>
                    <div class="pull-right">
                        <button class="btn btn-danger" type="button" @click="goBack">Cancel</button>
                        <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="submitNewPatientForm">
                            <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span> Submit
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="row" id="success-notification">
                            <div class="col-xs-12" v-show="hasErrors" id="error-list">
                                <div class="alert alert-danger">
                                    <div class="clearfix">
                                        <div class="col-md-3">
                                            <h3><i class="fa fa-warning"></i></h3>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list list-unstyled">
                                                <li v-for="error in errorMessages">
                                                    {{ error }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" v-show="hasSuccess">
                                <div class="alert alert-success">
                                    <div class="clearfix">
                                        <div class="clearfix">
                                            <div class="col-md-3">
                                                <h3><i class="fa fa-check"></i></h3>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>The patient has been created.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <patient-form   :patientdata.sync="patientdata"
                                            :optionsdata.sync="optionsdata"
                                            :networkdata.sync="networkdata"
                                            :techphysdata.sync="techphysdata"
                            ></patient-form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import _ from 'underscore';
    import moment from 'moment';
    import PatientForm from './PatientForm.vue';

    export default{
        /**
         |----------------------------------------
         |DATA
         |----------------------------------------
         * @returns {{isSubmitting: boolean}}
         */
        data(){
            return{
                patientFormModal: true,
                isSubmitting: false,
                isResettingPassword: false,
                hasErrors: false,
                hasSuccess: false,
                resetSuccess: false,
                errorMessages: [],
                patientdata : {
                    'id': null,
                    'name_first': null,
                    'name_last': null,
                    'name_middle': null,
                    'name_title': null,
                    'dob': null,
                    'gender': null,
                    'health_card_number': null,
                    'health_card_expiration': null,
                    'address_street1': null,
                    'address_city': null,
                    'address_province': null,
                    'address_postal_code': null,
                    'address_country': null,
                    'phone1': null,
                    'phone1_type': 'Home',
                    'phone2': null,
                    'phone2_type': 'Mobile',
                    'email': null,
                    'height': null,
                    'weight': null,
                    'patient_history': null,
                    'network_id': null,
                },
                optionsdata : [],
                networkdata : [],
            }
        },
        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {

            'isSubmitting': function (val) {
                if (val == true) {

                }
            },
            'patientdata.dob': function(val) {
                this.patientdata.dob = moment(val).format('MM/DD/YY');
            },
            'patientdata.health_card_expiration': function(val) {
                this.patientdata.health_card_expiration = moment(val).format('MM/DD/YY');
            },
            'patientdata.phone1_type': function(val) {
                if(val == null || val == "")
                    this.patientdata.phone1_type = 1;
            },
            'patientdata.phone2_type': function(val) {
                if(val == null || val == "")
                    this.patientdata.phone2_type = 2;
            }
        },
        ready: function() {
            this.loadConfigData();
            this.loadNetworkData();
        },

        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods : {

            goBack: function() {
              this.$dispatch('go-back');
            },

            loadPatientData: function(patientID){
                this.$dispatch('showLoadingMask');
                var url = '/api/v1/patients/' + patientID  + '/edit';
                this.$http.get(url).then((response) => {
                    this.patientdata = response.data;
                    this.$dispatch('hideLoadingMask');
                }, (response) => {
                     console.error(response.data);
                });
            },

            loadConfigData: function(){
                this.$dispatch('showLoadingMask');
                var url = '/api/v1/configs';
                this.$http.get(url).then((response) => {
                    this.optionsdata = response.data;
                    this.$dispatch('hideLoadingMask');
                }, (response) => {
                     
                });
            },

            loadNetworkData: function(){
                this.$dispatch('showLoadingMask');
                var url = '/api/v1/networks';
                this.$http.get(url).then((response) => {
                    this.networkdata = response.data;
                    this.$dispatch('hideLoadingMask');
                }, (response) => {
                     
                });
            },

            /**
             * Submit a new patient
             * @param {Object} e
             */
            submitNewPatientForm : function(e) {
                this.isSubmitting = true;

                var params = {
                    'id': this.patientdata.id,
                    'name_first': this.patientdata.name_first,
                    'name_last': this.patientdata.name_last,
                    'name_middle': this.patientdata.name_middle,
                    'name_title': this.patientdata.name_title,
                    'dob': moment(this.patientdata.dob).format("YYYY-MM-DD"),
                    'gender': this.patientdata.gender,
                    'health_card_number': this.patientdata.health_card_number,
                    'health_card_expiration': moment(this.patientdata.health_card_expiration).format("YYYY-MM-DD"),
                    'address_street1': this.patientdata.address_street1,
                    'address_city': this.patientdata.address_city,
                    'address_province': this.patientdata.address_province,
                    'address_postal_code': this.patientdata.address_postal_code,
                    'address_country': this.patientdata.address_country,
                    'phone1': this.patientdata.phone1,
                    'phone1_type': this.patientdata.phone1_type,
                    'phone2': this.patientdata.phone2,
                    'phone2_type': this.patientdata.phone2_type,
                    'email': this.patientdata.email,
                    'height': this.patientdata.height,
                    'weight': this.patientdata.weight,
                    'patient_history': this.patientdata.patient_history,
                    'network_id': this.patientdata.network_id,
                };

                this.$http.post('/api/v1/patients', params).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });
            },

            hideSuccess: function(){
                var self = this;
                setTimeout(function(){
                    self.hasSuccess = false;
                }, 8000);
            },

            /**
             * Handle a success response from the submission form
             * @param {Object} e
             */
            handleSuccess : function(response) {
                this.hasErrors = false;
                this.hasSuccess = true;
                this.isSubmitting = false;
                var el = window.document.getElementById("success-notification");
                var x_pos = el.scrollTop;
                window.scrollTo(x_pos, 0);
                this.hideSuccess();
            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                var el = window.document.getElementById("success-notification");
                var x_pos = el.scrollTop;
                window.scrollTo(x_pos, 0);
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }
        },

        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {
            'patientForm': PatientForm
        },

        /**
         |----------------------------------------
         |PROPERTIES
         |----------------------------------------
         */
        props: ['patient', 'show'],
    }
</script>

<style>
    .required {
        border-bottom: 2px dotted #FF8589;
    }
    label {
        font-weight: 700;
    }

</style>