<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title" id="myModalLabel"><i class="fa fa-user"></i><sup><i class="fa fa-edit"></i></sup> Edit Patient</h3>
                    <div class="pull-right">
                        <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="submitNewPatientForm">
                            <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span> Submit
                        </button>
                        <button type="button" class="btn btn-danger" @click="goBack">Close</button>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-12" v-show="hasErrors">
                                <div class="alert alert-danger">
                                    <div class="clearfix">
                                        <div class="col-md-3">
                                            <h3><i class="fa fa-warning"></i></h3>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list list-unstyled">
                                                <li v-for="error in errorMessages">
                                                    {{ error }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" v-show="hasSuccess">
                                <div class="alert alert-success">
                                    <div class="clearfix">
                                        <div class="col-md-3">
                                            <h3><i class="fa fa-check"></i></h3>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>The patient has been saved.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <patient-form   :patientdata.sync="patientdata"
                                            :optionsdata.sync="optionsdata"
                                            :networkdata.sync="networkdata"
                                            :techphysdata.sync="techphysdata"
                            ></patient-form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import _ from 'underscore';
    import moment from 'moment';
    import PatientForm from './PatientForm.vue';

    export default{
        /**
         |----------------------------------------
         |DATA
         |----------------------------------------
         * @returns {{isSubmitting: boolean}}
         */
        data(){

            return{
                patientFormModal: true,
                isSubmitting: false,
                isResettingPassword: false,
                hasErrors: false,
                hasSuccess: false,
                resetSuccess: false,
                errorMessages: [],
                patientdata : [],
                optionsdata : [],
                networkdata : [],
            }
        },

        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {
            'isSubmitting': function (val) {
                if (val == true) {

                }
            },
            'patientdata.dob': function(val) {
                this.patientdata.dob = moment(val).format('MM/DD/YY');
            },
            'patientdata.health_card_expiration': function(val) {
                if(val !== null)
                    this.patientdata.health_card_expiration = moment(val).format('MM/DD/YY');
            }

        },
        ready: function() {
            this.loadConfigData();
            this.loadNetworkData();
            this.loadPatientData(this.$route.params.patientID);
        },

        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods : {

            goBack: function() {
                this.$dispatch('go-back')
            },

            loadPatientData: function(patientID){
                this.$dispatch('showLoadingMask');
                var url = '/api/v1/patients/' + patientID  + '/edit';
                this.$http.get(url).then((response) => {
                    console.log(JSON.stringify(response.data));
                    this.patientdata = response.data;
                    this.$dispatch('hideLoadingMask');
                }, (response) => {
                     
                });
            },

            loadConfigData: function(){
                this.$dispatch('showLoadingMask');
                var url = '/api/v1/configs';
                this.$http.get(url).then((response) => {
                    this.optionsdata = response.data;
                    this.$dispatch('hideLoadingMask');
                }, (response) => {
                     
                });
            },

            loadNetworkData: function(){
                this.$dispatch('showLoadingMask');
                var url = '/api/v1/networks';
                this.$http.get(url).then((response) => {
                    this.networkdata = response.data;
                    this.$dispatch('hideLoadingMask');
                }, (response) => {
                     
                });
            },

            /**
             * Submit a new patient
             * @param {Object} e
             */
            submitNewPatientForm : function(e) {
                this.isSubmitting = true;
                var params = {
                    'id': this.patientdata.id,
                    'name_first': this.patientdata.name_first,
                    'name_last':  this.patientdata.name_last,
                    'name_middle': this.patientdata.name_middle,
                    'name_title': this.patientdata.name_title,
                    'dob': moment(this.patientdata.dob).format("YYYY-MM-DD"),
                    'gender': this.patientdata.gender,
                    'health_card_number': this.patientdata.health_card_number,
                    'health_card_expiration': moment(this.patientdata.health_card_expiration).format("YYYY-MM-DD"),
                    'address_street1': this.patientdata.address_street1,
                    'address_city': this.patientdata.address_city,
                    'address_province': this.patientdata.address_province,
                    'address_postal_code': this.patientdata.address_postal_code,
                    'address_country': this.patientdata.address_country,
                    'phone1': this.patientdata.phone1,
                    'phone1_type': this.patientdata.phone1_type,
                    'phone2': this.patientdata.phone2,
                    'phone2_type': this.patientdata.phone2_type,
                    'email': this.patientdata.email,
                    'height': this.patientdata.height,
                    'weight': this.patientdata.weight,
                    'patient_history': this.patientdata.patient_history,
                    'network_id': this.patientdata.network_id
                };

                this.$http.put('/api/v1/patients/' + this.$route.params.patientID, params).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });

            },

            sendResetPassword: function() {
                this.isResettingPassword = true;
                this.$http.put('/api/v1/patient/' + this.show.id + '/reset_password').then((response) => {
                    this.handlePasswordReset(response);
                }, (response) => {
                    this.handlePasswordError(response);
                });
            },

            handlePasswordReset: function(response) {
                this.resetSuccess = true;
                this.isResettingPassword = false;
            },

            handlePasswordError: function(response) {
                alert("Error" + JSON.stringify(response));
                this.isResettingPassword = false;
            },

            /**
             * Handle a success response from the submission form
             * @param {Object} e
             */
            handleSuccess : function(response) {
                this.hasErrors = false;
                this.hasSuccess = true;
                this.isSubmitting = false;
            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }

        },

        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {
            'patientForm': PatientForm
        },

        /**
         |----------------------------------------
         |PROPERTIES
         |----------------------------------------
         */
        props: ['patient', 'show'],
    }
</script>

<style>
    .required {
        border-bottom: 2px dotted #FF8589;
    }


label {
        font-weight: 700;
    }

</style>