<template>
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 class="panel-title pull-left"><i class="ss-heartuser"></i> Patients</h3><!--<i class="fa fa-heartbeat"></i>-->
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control search-input" @keyup.enter="setFilter" v-model="searchFor" placeholder="Search" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" @click="setFilter" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <button class="btn btn-default" @click="resetFilter" type="button">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <a type="button" class="btn btn-primary pull-right" v-link="{ path: 'patients/create/'}"><i class="fa fa-plus-circle"></i> Create Patient</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <vuetable v-ref:vuetable
                                      api-url="/api/v1/patients"
                                      :fields="columns"
                                      :item-actions="itemActions"
                                      table-class="table table-responsive table-hover table-striped table-bordered"
                                      :per-page="10"
                                      :sort-order="[{ field: 'updated_at', direction: 'desc' }]"
                                      table-class="table table-bordered table-striped table-hover"
                                      ascending-icon="fa fa-chevron-up"
                                      descending-icon="fa fa-chevron-down"
                                      pagination-path=""
                                      pagination-info-no-data-template=""
                                      pagination-info-data-template=""
                                      pagination-component="vuetable-pagination"
                                      :item-actions="itemActions"
                                      :per-page="perPage"
                                      paginationInfo="{from} {to} {total}"
                                      :append-params="moreParams"
                            ></vuetable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <delete-patient :show.sync="showDeleteModal" :patient="patient"></delete-patient>
</template>

<style>
    .ui {
        margin-left: 2px;
    }

    .search-input {
        background: #222;
        border-color: #222;
        color: #fff;
    }

    .input-group {
        margin-bottom: 5px;
    }

    .vuetable th.sortable:hover {
        color: #2185d0;
        cursor: pointer;
    }
    .vuetable-actions {
        width: 11%;
        padding: 12px 0px;
        text-align: center;
    }

    .vuetable-pagination {

    }
    .vuetable-pagination-info {
        float: left;
        margin-top: auto;
        margin-bottom: auto;
    }
    .vuetable-pagination-component {
        float: right;
    }
    .vuetable-pagination-component .pagination {
        margin: 0px;
    }
    .vuetable-pagination-component .pagination .btn {
        cursor: pointer;
        margin: 2px;
    }
    [v-cloak] {
        display: none;
    }
    .highlight {
        background-color: yellow;
    }
    /* Loading Animation: */
    .vuetable-wrapper {
        opacity: 1;
        position: relative;
        filter: alpha(opacity=100); /* IE8 and earlier */
    }
    .vuetable-wrapper.loading {
        opacity:0.4;
        transition: opacity .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out;
        -webkit-transition: opacity .3s ease-in-out;
    }
    .vuetable-wrapper.loading:after {
        position: absolute;
        content: '';
        top: 40%;
        left: 50%;
        margin: -30px 0 0 -30px;
        border-radius: 100%;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        border: 4px solid #000;
        height: 60px;
        width: 60px;
        background: transparent !important;
        display: inline-block;
        -webkit-animation: pulse 1s 0s ease-in-out infinite;
        animation: pulse 1s 0s ease-in-out infinite;
    }

    .vuetable-actions {
        width: 150px;
    }

    @keyframes pulse {
        0% {
            -webkit-transform: scale(0.6);
            transform: scale(0.6); }
        50% {
            -webkit-transform: scale(1);
            transform: scale(1);
            border-width: 12px; }
        100% {
            -webkit-transform: scale(0.6);
            transform: scale(0.6); }
    }
</style>

<script>
    import DeletePatient from './DeletePatient.vue';

    import Vuetable from 'vuetable/src/components/Vuetable.vue';

    import moment from 'moment';

    export default{

        /**
         |-----------------------------------------
         |DATA
         |-----------------------------------------
         */
        data(){
            return{
                showModal: false,
                showDeleteModal: false,
                showEditModal: false,
                showPatientModal: false,
                paginationComponent: 'vuetable-pagination',
                perPage: 10,
                moreParams: [],
                columns: [
                    {
                        name: 'name_first',
                        sortField: 'name_first',
                        title: 'First Name',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'name_last',
                        sortField: 'name_last',
                        title: 'Last Name',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'last_body_position',
                        sortField: 'last_body_position',
                        titleClass: 'text-center',
                        title: 'Last Body Position',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'last_data_submitted',
                        sortField: 'last_data_submitted',
                        title: 'Last Recording Submitted',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: '__actions',
                        title: '',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    }
                ],
                itemActions: [
                    { name: 'show-item', label: '', icon: 'fa fa-eye', class: 'ui btn btn-primary' },
                    { name: 'edit-item', label: '', icon: 'fa fa-edit', class: 'ui btn btn-success' },
                    { name: 'delete-item', label: '', icon: 'fa fa-trash', class: 'ui btn btn-danger' }
                ]
            }
        },

        created: function() {
            this.$broadcast('vuetable-pagination:set-options', {
                wrapperClass: 'pagination',
                icons: { first: '', prev: '', next: '', last: ''},
                activeClass: 'active',
                linkClass: 'btn btn-default',
                pageClass: 'btn btn-default'
            });
        },

        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {
            'delete-patient': DeletePatient,
            'vuetable': Vuetable
        },

        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {
            'perPage': function(val, oldVal) {
                this.$broadcast('vuetable:refresh')
            },
        },

        /**
         |-----------------------------------------
         |EVENTS
         |-----------------------------------------
         */
        events: {
            'vuetable:loading': function() {
                this.$dispatch('showLoadingMask');
            },


            'vuetable:load-success': function(response) {
                this.$dispatch('vuetable-pagination:set-options');
                this.$dispatch('hideLoadingMask');
            },
            'vuetable:action': function(action, data) {
                if(action == 'delete-item') {
                    this.showDeleteModal = data;
                } else if (action == 'edit-item') {
                    var url = "patients/edit/" + data.id;
                    this.$route.router.go(url);
                } else if (action == 'show-item') {
                    var url = "patients/show/" + data.id;
                    this.$route.router.go(url);
                }
            },
            'vuetable:load-error': function(response) {
                console.error('Load Error: ', response);
            },
            'update-patient-table': function() {
                this.$refs.vuetable.loadData();
            }

        },

        /**
         |-----------------------------------------
         |METHODS
         |-----------------------------------------
         */
        methods: {

            /**
             * Format Moment.js Date
             */
            formatDate: function(value) {
                if (value == null) return '';
                return moment(value, 'YYYY-MM-DD h:mm:ss').format('MMMM Do YYYY h:mm:ss a');
            },
            setFilter: function() {
                if(this.searchFor.length>0) {
                    this.moreParams = [
                        'filter=' + this.searchFor
                    ];
                }
                this.$nextTick(function() {
                    this.$broadcast('vuetable:refresh')
                })
            },
            resetFilter: function() {
                this.searchFor = '';
                this.moreParams = [];
                this.setFilter()
            },


        },

        /**
         |-----------------------------------------
         |PROPERTIES
         |-----------------------------------------
         */
        props: ['patient']

    }
</script>
