<template>
    <div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="name_title">Title</label>
            <div class="col-xs-6">
                <input id="name_title" name="name_title" v-model="patientdata.name_title" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="name_first">First Name</label>
            <div class="col-xs-6">
                <input id="name_first" name="name_first" v-model="patientdata.name_first" class="form-control required" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="name_middle">Middle Name</label>
            <div class="col-xs-6">
                <input id="name_middle" name="name_middle" v-model="patientdata.name_middle" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="name_last">Last Name</label>
            <div class="col-xs-6">
                <input id="name_last" name="name_last" v-model="patientdata.name_last" class="form-control  required" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="dob">Date of Birth</label>
            <div class="col-xs-6">
                <datepicker
                        format="MM/DD/YYYY"
                        :value.sync="patientdata.dob"
                >
                </datepicker>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="gender">Gender</label>
            <div class="col-xs-6">
                <select v-model="patientdata.gender" class="form-control">
                    <option>Please choose...</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="health_card_number">Health Card Number</label>
            <div class="col-xs-6">
                <input id="health_card_number" name="health_card_number" v-model="patientdata.health_card_number" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="health_card_expiration">Health Card Expiration</label>
            <div class="col-xs-6">
                <datepicker
                        format="MM/DD/YYYY"
                        :value.sync="patientdata.health_card_expiration"
                >
                </datepicker>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="address_street1">Street</label>
            <div class="col-xs-6">
                <input id="address_street1" name="address_street1" v-model="patientdata.address_street1" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="address_city">City</label>
            <div class="col-xs-6">
                <input id="address_city" name="address_city" v-model="patientdata.address_city" class="form-control" type="text" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="address_province">Province</label>
            <div class="col-xs-6">
                <select v-select="patientdata.address_province" id="address_province" placeholder="Provinces..." class="form-control" style="width:100%!important;">
                    <option>Select province...</option>
                    <option v-for="province in optionsdata.provinces" :value="province.id">{{ province.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="address_postal_code">Postal Code</label>
            <div class="col-xs-6">
                <input id="address_postal_code" name="address_postal_code" v-model="patientdata.address_postal_code" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="address_country">Country</label>
            <div class="col-xs-6">
                <input id="address_country" name="address_country" v-model="patientdata.address_country" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="phone1">Phone 1</label>
            <div class="col-xs-6">
                <input id="phone1" name="phone1" v-model="patientdata.phone1" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="phone1_type">Phone 1 Type</label>
            <div class="col-xs-6">
                <select id="phone1_type" v-select="patientdata.phone1_type" placeholder="Phone 1 Type..." class="form-control" style="width:100%!important;">
                    <option v-for="phone_type in optionsdata.phone_types" :value="phone_type.id">{{ phone_type.name }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="phone2">Phone 2</label>
            <div class="col-xs-6">
                <input id="phone2" name="phone2" v-model="patientdata.phone2" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="phone2_type">Phone 2 Type</label>
            <div class="col-xs-6">
                <select id="phone2_type" v-select="patientdata.phone2_type" placeholder="Phone 2 Type..." class="form-control" style="width:100%!important;">
                    <option v-for="phone_type in optionsdata.phone_types" :value="phone_type.id">{{ phone_type.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="email">Email</label>
            <div class="col-xs-6">
                <input id="email" name="email" v-model="patientdata.email" class="form-control" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="height">Height</label>
            <div class="col-xs-2">
                <div class="input-group">
                    <input id="height" name="height" v-model="patientdata.height" class="form-control" type="text" />
                    <span class="input-group-addon" id="sizing-addon2"> cm.</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="weight">Weight</label>
            <div class="col-xs-2">
                <div class="input-group">
                    <input id="weight" name="weight" v-model="patientdata.weight" class="form-control" type="text" />
                    <span class="input-group-addon" id="sizing-addon2"> kg.</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="patient_history">Patient History</label>
            <div class="col-xs-6">
                <textarea rows="8" id="patient_history" name="patient_history" v-model="patientdata.patient_history" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="network_id">Network</label>
            <div class="col-xs-6">
                <select v-select="patientdata.network_id" id="network_id" placeholder="Network..." class="form-control" style="width:100%!important;">
                    <option value="false">Select network...</option>
                    <option v-for="network in networkdata" :value="network.id">{{ network.name }}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'underscore';
    import datepicker from 'vue-date-picker';

    export default{
        computed: {
            hasNetwork: function(){
                if ((this.patientdata.network_id)&&(this.patientdata.network_id >= 0)){
                    return true;
                } else {
                    return false;
                }
            }
        },
        directives: {
            select: {
                twoWay: true,
                priority: 1000,
                params: ['options'],
                bind: function () {
                    var self = this
                    $(this.el)
                            .select2()
                            .on('change', function () {
                                self.set(this.value)
                            })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },
        },
        components: {
            'datepicker': datepicker,
        },
        props:[
            "patientdata",
            "optionsdata",
            "networkdata",
            "techphysdata"
        ]
    }

</script>