<template>
        <div class="container-fluid">
                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="modal-title" id="myModalLabel">View Patient</h4>
                        </div>
                        <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="row">

                                        <div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Title</p></div>
            <div class="col-xs-6">
                {{{patientdata.name_title}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>First Name</p></div>
            <div class="col-xs-6">
                {{{patientdata.name_first}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Middle Name</p></div>
            <div class="col-xs-6">
                {{{patientdata.name_middle}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Last Name</p></div>
            <div class="col-xs-6">
                {{{patientdata.name_last}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Date of Birth</p></div>
            <div class="col-xs-6">
                {{{patientdata.dob}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Gender</p></div>
            <div class="col-xs-6">
                {{{patientdata.gender}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Health Card Number</p></div>
            <div class="col-xs-6">
                {{{patientdata.health_card_number}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Health Card Expiration</p></div>
            <div class="col-xs-6">
               {{{patientdata.health_card_expiration}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Street</p></div>
            <div class="col-xs-6">
                {{{patientdata.address_street1}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>City</p></div>
            <div class="col-xs-6">
                {{{patientdata.address_city}}}
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-xs-3"><p>Province</p></div>
            <div class="col-xs-6">
             <template v-if="patientdata.address_province">
                <p v-for="province in optionsdata.provinces | filterBy patientdata.address_province in 'id'">{{{province.name}}}</p>
                </template>
             </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Postal Code</p></div>
            <div class="col-xs-6">
                {{{patientdata.address_postal_code}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Country</p></div>
            <div class="col-xs-6">
                {{{patientdata.address_country}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Phone 1</p></div>
            <div class="col-xs-6">
                {{{patientdata.phone1}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Phone 1 Ext</p></div>
            <div class="col-xs-6">
                {{{patientdata.phone1_ext}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Phone 1 Type</p></div>
            <div class="col-xs-6">
                <template v-if="patientdata.phone1_type">
                <p v-for="phone_type in optionsdata.phone_types | filterBy patientdata.phone1_type in 'id'">{{{phone_type.name}}}</p>
                </template>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-xs-3"><p>Phone 2</p></div>
            <div class="col-xs-6">
                {{{patientdata.phone2}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Phone 2 Ext</p></div>
            <div class="col-xs-6">
                {{{patientdata.phone2_ext}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Phone 2 Type</p></div>
            <div class="col-xs-6">
                <template v-if="patientdata.phone1_type">
                <p v-for="phone_type in optionsdata.phone_types | filterBy patientdata.phone1_type in 'id'">{{{phone_type.name}}}</p>
                </template>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Email</p></div>
            <div class="col-xs-6">
                {{{patientdata.email}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Alternate Email</p></div>
            <div class="col-xs-6">
                {{{patientdata.email_alt}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Height</p></div>
            <div class="col-xs-6">
                {{{patientdata.height}}} cm.
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Weight</p></div>
            <div class="col-xs-6">
                {{{patientdata.weight}}} kg.
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Patient History</p></div>
            <div class="col-xs-6">
                {{{patientdata.patient_history}}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3"><p>Network</p></div>
            <div class="col-xs-6">
                <template v-if="patientdata.network_id">
                <p v-for="network in networkdata | filterBy patientdata.network_id in 'id'">{{{network.name}}}</p>
                </template>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="group">Group</label>
            <div class="col-xs-6">
                <template v-if="patientdata.group">
                    <p v-for="group in optionsdata.patientGroups | filterBy patientdata.group in 'id'">{{{group.name}}}</p>
                 </template>
            </div>
        </div>
    </div>
    </div>
    </form>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-danger" @click="goBack">Close</button>
    </div>
    </div>
    </div>
    </div>
</template>

<script>

    import _ from 'underscore';
    //import PatientForm from './PatientForm.vue';

    export default{
        /**
         |----------------------------------------
         |DATA
         |----------------------------------------
         * @returns {{{isSubmitting: boolean}}}
         */
        data(){

            return{
                patientFormModal: true,
                isSubmitting: false,
                isResettingPassword: false,
                hasErrors: false,
                hasSuccess: false,
                resetSuccess: false,
                errorMessages: [],
                patientdata : [],


            }

        },

        computed: {
            phone2_new_type: function(){
                return this.patientdata.phone2_type;
            }
        },

        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {

        },
        ready: function() {
            this.loadPatientData(this.$route.params.patientID)
        },

        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods : {

            goBack: function() {
                this.$dispatch('go-back');
            },

            loadPatientData: function(patientID){
                this.$dispatch('showLoadingMask');
                var url = '/api/v1/patients/' + patientID + '/edit';
                this.$http.get(url).then((response) => {
                    this.patientdata = response.data;
                    this.$dispatch('hideLoadingMask');
                }, (response) => {
                     console.error(response.data);
                });
            },

            loadConfigData: function(){
                this.$dispatch('showLoadingMask');
                var url = '/api/v1/configs';
                this.$http.get(url).then((response) => {
                    this.optionsdata = response.data;
                    this.$dispatch('hideLoadingMask');
                }, (response) => {
                     
                });

            },

            loadNetworkData: function(){
                this.$dispatch('showLoadingMask');
                var url = '/api/v1/networks';
                this.$http.get(url).then((response) => {
                    this.networkdata = response.data;
                    this.$dispatch('hideLoadingMask');
                }, (response) => {
                     
                });
            }

        },

        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {
            //'patientForm': PatientForm
        },

        /**
         |----------------------------------------
         |PROPERTIES
         |----------------------------------------
         */
        props: ['patient', 'show'],
    }
</script>

<style>

    label {
        font-weight: 700;
    }

    div.control-label {
            padding-top: 3px !important;
    }

</style>