html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

#wrapper.patient-portal {
  padding: 0 0 0 0;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar-brand > img {
  max-height: 32px;
}

.navbar-default {
  background-color: #0c2746;
}

#app-admin .form-group,
#patient-bashboard .form-group {
  margin-top: 15px;
}

#app-admin .form-control,
#patient-bashboard .form-control {
  box-shadow: none;
}

#app-admin .sidebar-nav,
#patient-bashboard .sidebar-nav {
  top: 15px;
}

#app-admin .navbar > div,
#patient-bashboard .navbar > div {
  margin: 0 25px 0 5px;
}

#app-admin .loading-container,
#patient-bashboard .loading-container {
  font-size: 28px;
  font-family: inherit;
}

#app-admin .datetime-picker input[type="text"],
#patient-bashboard .datetime-picker input[type="text"] {
  height: 39px;
  border: 1px solid #ccc;
  color: #6f6f6f;
}

#app-admin .input-group-btn .btn.btn-sm,
#patient-bashboard .input-group-btn .btn.btn-sm {
  padding: 8px 12px;
  height: 39px;
}

#app-admin .panel-footer,
#patient-bashboard .panel-footer {
  position: fixed;
  bottom: 0;
  left: 210px;
  height: 61px;
  width: calc(100% - 210px);
  z-index: 200;
}

#app-admin .panel-title,
#patient-bashboard .panel-title {
  display: inline-block;
  font-size: 26px;
  line-height: 160%;
}

#app-admin .panel,
#patient-bashboard .panel {
  margin: 61px 0 61px 0;
  border: none;
  box-shadow: none;
}

#app-admin .panel.panel-success,
#patient-bashboard .panel.panel-success {
  border-color: transparent;
}

#app-admin .panel.panel-success > .panel-heading,
#patient-bashboard .panel.panel-success > .panel-heading {
  position: fixed;
  top: 45px;
  left: 210px;
  width: calc(100% - 210px);
  color: #333333;
  background-color: #eee;
  border: none;
  min-height: 61px;
  z-index: 200;
}

#app-admin .panel-body,
#patient-bashboard .panel-body {
  padding: 0 15px;
}

#app-admin .panel-body h1, #app-admin .panel-body .h1,
#patient-bashboard .panel-body h1,
#patient-bashboard .panel-body .h1 {
  font-size: 22px;
}

#app-admin .search-input,
#patient-bashboard .search-input {
  background: #fff;
  border-color: #ccc;
  color: #333;
}

#app-admin .vuetable-pagination,
#patient-bashboard .vuetable-pagination {
  width: 100%;
  height: 28px;
  line-height: 28px;
  margin-bottom: 10px;
  background-color: transparent !important;
}

#app-admin .vuetable-pagination-component .pagination,
#patient-bashboard .vuetable-pagination-component .pagination {
  margin: 0 15px;
}

#app-admin .vuetable-pagination-component .pagination a,
#patient-bashboard .vuetable-pagination-component .pagination a {
  display: inline-block;
  padding: 0 5px;
  color: #333;
  cursor: pointer;
  border: 1px solid #fff;
  width: 28px;
  text-align: center;
}

#app-admin .vuetable-pagination-component .pagination a.active,
#patient-bashboard .vuetable-pagination-component .pagination a.active {
  background-color: #204670;
  color: #fff;
}

#app-admin .vuetable-pagination-component .pagination a:hover,
#patient-bashboard .vuetable-pagination-component .pagination a:hover {
  background-color: #7daed3;
  text-decoration: none;
  color: #fff;
}

#app-admin .vuetable-pagination-component .pagination a.disabled,
#patient-bashboard .vuetable-pagination-component .pagination a.disabled {
  opacity: 0.2;
  cursor: default;
}

#app-admin .vuetable-pagination-component .pagination a.disabled:hover,
#patient-bashboard .vuetable-pagination-component .pagination a.disabled:hover {
  background-color: transparent;
  text-decoration: none;
  color: #333;
}

#app-admin .table-bordered > thead > tr > th, #app-admin .table-bordered > thead > tr > td,
#patient-bashboard .table-bordered > thead > tr > th,
#patient-bashboard .table-bordered > thead > tr > td {
  background-color: #ddd;
  color: #333;
}

#app-admin .table-bordered > thead > tr > th:hover, #app-admin .table-bordered > thead > tr > td:hover,
#patient-bashboard .table-bordered > thead > tr > th:hover,
#patient-bashboard .table-bordered > thead > tr > td:hover {
  color: #204670;
  background-color: #e5e5e5;
}

#app-admin .table > tbody > tr > td,
#patient-bashboard .table > tbody > tr > td {
  vertical-align: middle;
}

#app-admin .table > tbody > tr > td h5, #app-admin .table > tbody > tr > td .h5,
#patient-bashboard .table > tbody > tr > td h5,
#patient-bashboard .table > tbody > tr > td .h5 {
  margin: 0;
}

#app-admin td.vuetable-actions,
#patient-bashboard td.vuetable-actions {
  min-width: 150px;
  white-space: nowrap;
}

#app-admin .panel-padded,
#patient-bashboard .panel-padded {
  padding: 0 15px;
}

#app-admin .vuetable-actions .ui.btn,
#patient-bashboard .vuetable-actions .ui.btn {
  width: 42px;
  text-align: center;
  margin: 1px;
}

#patient-bashboard #page-content-wrapper {
  margin-top: 45px;
}

#patient-bashboard .panel .panel-body {
  padding: 0;
}

#patient-bashboard .panel.panel-success > .panel-heading {
  width: 100%;
  left: 0;
  padding: 10px 15px 0 30px;
}

#patient-bashboard .nav-tabs {
  border-bottom: none;
}

#patient-bashboard .nav-tabs > li > a {
  height: 51px;
  padding-top: 12px;
  font-size: 18px;
  color: #777;
  background-color: #e7e7e7;
  border: none;
}

#patient-bashboard .nav-tabs > li > a:hover, #patient-bashboard .nav-tabs > li > a:focus {
  color: #333;
  background-color: #e3e3e3;
  border: none;
}

#patient-bashboard .nav-tabs > li.active > a {
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #333;
}

#patient-bashboard .nav-tabs > li.active > a:hover, #patient-bashboard .nav-tabs > li.active > a:focus {
  color: #333;
  background-color: #ddd;
  border: 1px solid #ddd;
  cursor: default;
}

#login-page .panel-heading {
  text-align: center;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

#login-page .home-logo {
  max-height: 90px;
  margin: 60px 0 30px 0;
}

.navbar-default .navbar-nav > .dropdown > a.dropdown-toggle:hover {
  background-color: #204670;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #204670;
  color: #fff;
}

.navbar-default .navbar-nav .list-group {
  margin-bottom: 0;
}

/*# sourceMappingURL=patient-portal.css.map */
