<template>
    <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="row">
                    <div class="container">
                        <div class="modal-header">
                            <button type="button" class="close" @click="show = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel"><i class="ss-podcast"></i> Archive Recording Session</h4>
                        </div>
                        <div class="modal-body">
                            <p>Confirm archival of this recording session?</p>
                            <p>Once a session is archived, the device(s) associated with this patient will no longer capture any ECG Recordings.  All ECG Recordings can, however, be viewed
                                and assigned for analysis.</p>
                            <hr />
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="form-horizontal">
                                        <label class="col-md-6">Were the devices assigned to this patient returned in working order?</label>
                                        <div class="col-md-6">
                                            <ul class="list-group">
                                                <li class="list-group-item" v-for="device in show.devices">
                                                    <span class="clearfix">
                                                        <span class="pull-left">
                                                             Device ID: {{ device }}
                                                        </span>
                                                        <span class="pull-right">
                                                            <label class="radio-inline">
                                                              <input type="radio" :id="device" :name="device" value="true" @change="addDeviceToPool($event, device)">Yes
                                                            </label>
                                                            <label class="radio-inline">
                                                              <input type="radio" :id="device" :name="device" value="false" @change="addDeviceToPool($event, device)">No
                                                            </label>
                                                        </span>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" v-show="hasErrors">
                                    <div class="alert alert-danger">
                                        <div class="clearfix">
                                            <div class="col-md-3">
                                                <h3><i class="fa fa-warning"></i></h3>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="list list-unstyled">
                                                    <li v-for="error in errorMessages">
                                                        There was an error archiving this recording session.  Please try again later.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12" v-show="hasSuccess">
                                    <div class="alert alert-success">
                                        <div class="clearfix">
                                            <div class="col-md-3">
                                                <h3><i class="fa fa-check"></i></h3>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>The recording session has been archived.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button v-show="!hasSuccess" type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="confirmArchiveSession">
                                        <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                        Confirm</button>
                                    <button type="button" class="btn btn-danger" @click="show = false">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        data(){
            return{
                isSubmitting: false,
                hasSuccess: false,
                hasErrors: false,
                devicesReturned: []
            }
        },
        watch: {
            'show' : function(val) {
                if(val == false) {
                    this.isSubmitting = false;
                    this.hasSuccess = false;
                    this.hasErrors = false;
                }
            }
        },
        /**
         |----------------------------------------------
         |METHODS
         |----------------------------------------------
         */
        methods : {
            addDeviceToPool: function(event, val) {
                var condition = event.target.value;
                var deviceId = val;
                this.devicesReturned.push(
                        {
                            radio_id: deviceId,
                            returned: condition
                });
            },
            confirmArchiveSession:  function() {
                if(this.devicesReturned.length < 1) {
                    alert("Please fill out the device return fields.");
                    return false;
                }
                this.isSubmitting = true;
                this.$http.delete('/api/v1/recording_sessions/' + this.show.id).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });
                var vm = this;
                this.devicesReturned.forEach(function(device){
                    if(device.returned == 'false') {
                        vm.$http.post('/api/v1/devices/disable',
                                {
                                    network_id: vm.user.network.id,
                                    radio_id: device.radio_id
                                }
                        ).then((response) => {
                            console.log(response.data);
                        }, (response) => {
                            console.error(response.data);
                        });
                    }
                });
            },

            handleSuccess: function(response) {
                this.hasErrors = false;
                this.hasSuccess = true;
                this.$dispatch('update-recording-sessions-table');
            },

            handleError: function(response) {
                this.hasSuccess = false;
                this.hasErrors = true;
                this.isSubmitting = false;
            }
        },
        /**
         |----------------------------------------------
         |PROPERTIES
         |----------------------------------------------
         */
        props: ['user', 'show'],
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 1998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        background-color: rgba(255, 255, 255, .99);
        overflow-y: scroll;
        transition: all .3s ease;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }

    label {
        font-weight: 700;
    }

</style>