<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left"><i class="ss-calendar"></i> Schedule a Recording Session</h3>
                    <div class="pull-right">
                        <button v-link="{path: '/network-portal/sessions' }"  type="button" class="btn btn-danger">Cancel</button>
                        <button type="button" @click="submitNewSessionRecording" class="btn btn-success">Confirm</button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" v-if="hasSuccess">
                        <div class="col-xs-12">
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3>This recording session has been updated.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="hasError">
                        <div class="col-xs-12">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div class="col-md-6">
                                    <ul class="list list-unstyled">
                                        <li v-for="error in hasError">
                                            {{ error }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <h2><i class="fa fa-pencil"></i> Session Details</h2>
                                <hr />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Interpretation:</label>
                            <div class="col-xs-6">
                                <textarea class="form-control" v-model="interpretation" placeholder="(e.g. Reason for session, global notes, etc...)"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Indications:</label>
                            <div class="col-xs-6">
                                <textarea class="form-control" v-model="indications" placeholder="(e.g. Reason for session, global notes, etc...)"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">From:</label>
                            <div class="col-xs-6">
                                <datepicker
                                        format="MM/DD/YYYY"
                                        :value.sync="start_date"
                                >
                                </datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">To:</label>
                            <div class="col-xs-6">
                                <datepicker
                                        format="MM/DD/YYYY"
                                        :value.sync="end_date"
                                >
                                </datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Patient</label>
                            <div class="col-xs-6">
                                <select v-select="selected_patient" placeholder="Available patients..." class="form-control" style="width:100%!important;">
                                    <option value="0">Select a patient...</option>
                                    <option v-for="patient in available_patients" :value="patient.id">{{ patient.name_first }} {{ patient.name_last }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Devices</label>
                            <div class="col-xs-6">
                                <select v-multi="selected_devices" placeholder="Available devices..." class="form-control" style="width:100%!important;" multiple>
                                    <option>Select a device...</option>
                                    <option v-for="device in available_devices" :value="device.id">{{ device.radio_id }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <h2><i class="fa fa-user-md"></i> Staff Assignments</h2>
                                <hr />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <p><strong>Note:</strong> The following staff members assigned will have access to review, analyze, and comment on incoming patient recordings.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Cardiac Technicians</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <select v-multi="selected_technicians" placeholder="Network Cadiac Technicians..." class="form-control" style="width:100%!important;" multiple>
                                        <option>Select Cardiac Technicians...</option>
                                        <option v-for="tech in cardiac_technicians" :value="tech.id">{{ tech.name }}</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button type="button" @click="assignAllStaff" class="btn btn-sm btn-warning">
                                            <i class="fa fa-users"></i>
                                            Assign All
                                        </button>
                                        <button class="btn btn-sm btn-success" type="button" @click="addNewUser(cardiac-tech)">
                                            <i class="fa fa-plus"></i> New
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Interpreting Physician</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <select v-select="selected_cardiologists" placeholder="Network Cardiologists..." class="form-control" style="width:100%!important;">
                                        <option>Select Interpreting Physicians...</option>
                                        <option v-for="cardiologist in cardiologists" :value="cardiologist.id">{{ cardiologist.name }}</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" :disabled="!selected_cardiologists">
                                            <i class="fa fa-building"></i> Select Location <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li v-for="location in cardiologistLocations">
                                                <a href="#" @click="setCardiologistLocation" :id="location.location_id">
                                                    {{ location.location_street }} {{ location.location_street_2 }}<br />
                                                    {{ location.location_city }}, {{ location.location_province.name }} - {{ location.location_postal_code }}
                                                </a>
                                            </li>
                                        </ul>
                                        <button class="btn btn-sm btn-success" type="button" @click="addNewUser(phys)">
                                            <i class="fa fa-plus"></i> New
                                        </button>
                                    </div>
                                </div>
                                <template v-if="cardiologist_location">
                                    <div class="input-group">
                                        <div class="panel panel-success">
                                            <div class="panel-body">
                                                {{ cardiologist_location.location_street }} {{ cardiologist_location.location_street_2 }}<br />
                                                {{ cardiologist_location.location_city }}, {{ cardiologist_location.location_province.name }} - {{ cardiologist_location.location_postal_code }}
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Referring Physician</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <select v-select="selected_physicians" placeholder="Network Physicians..." class="form-control" style="width:100%!important;">
                                        <option>Select Referring Physicians...</option>
                                        <option v-for="physician in physicians" :value="physician.id">{{ physician.name }}</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" :disabled="!selected_physicians">
                                            <i class="fa fa-building"></i> Select Location <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li v-for="location in physicianLocations">
                                                <a href="#" @click="setPhysicianLocation" :id="location.location_id">
                                                    {{ location.location_street }} {{ location.location_street_2 }}<br />
                                                    {{ location.location_city }}, {{ location.location_province.name }} - {{ location.location_postal_code }}
                                                </a>
                                            </li>
                                        </ul>
                                        <button class="btn btn-sm btn-success" type="button" @click="addNewUser(phys)">
                                            <i class="fa fa-plus"></i> New
                                        </button>
                                    </div>
                                </div>
                                <template v-if="physician_location">
                                    <div class="input-group">
                                        <div class="panel panel-success">
                                            <div class="panel-body">
                                                {{ physician_location.location_street }} {{ physician_location.location_street_2 }}<br />
                                                {{ physician_location.location_city }}, {{ physician_location.location_province.name }} - {{ physician_location.location_postal_code }}
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Copy To</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <select v-select="selected_copyto" placeholder="Network Physicians..." class="form-control" style="width:100%!important;">
                                        <option>Select a Physician...</option>
                                        <option v-for="physician in physicians" :value="physician.id">{{ physician.name }}</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" :disabled="!selected_copyto">
                                            <i class="fa fa-building"></i> Select Location <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li v-for="location in copyToLocations">
                                                <a href="#" @click="setCopyToLocation" :id="location.location_id">
                                                    {{ location.location_street }} {{ location.location_street_2 }}<br />
                                                    {{ location.location_city }}, {{ location.location_province.name }} - {{ location.location_postal_code }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <template v-if="copyto_location">
                                    <div class="input-group">
                                        <div class="panel panel-success">
                                            <div class="panel-body">
                                                {{ copyto_location.location_street }} {{ copyto_location.location_street_2 }}<br />
                                                {{ copyto_location.location_city }}, {{ copyto_location.location_province.name }} - {{ copyto_location.location_postal_code }}
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <create-user :show.sync="showModal" :user="user"></create-user>
</template>

<script>

    // Imports
    import moment from 'moment';
    import _ from 'underscore';
    import CreateUserModal from '../users/CreateUserModal.vue';
    import datepicker from 'vue-date-picker';

    export default {
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        /*
         |---------------------------------------------------
         | Directives                                       |
         |---------------------------------------------------
         */
        directives: {
            select: {
                twoWay: true,
                priority: 1000,
                params: ['options'],
                bind: function () {
                    var self = this
                    $(this.el)
                        .select2()
                        .on('change', function () {
                            self.set(this.value)
                        })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },
            multi: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function() {
                    var self = this
                    $(this.el)
                        .select2({
                            data: this.params.options
                        })
                        .on('change', function() {
                            self.set($(self.el).val()) // Don't use this.value
                        })
                },
                update: function(value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function() {
                    $(this.el).off().select2('destroy')
                }
            }
        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {

            // Grab available devices
            this.$http.get('/api/v1/networks/' + window.User.network.id +'/devices').then((response) => {
                this.available_devices = response.data;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });

            // Grab available patients
            this.$http.get('/api/v1/networks/' + window.User.network.id +'/patients').then((response) => {
                this.available_patients = response.data;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });

            // Grab network staff
            this.$http.get('/api/v1/networks/' + window.User.network.id + '/staff').then((response) => {
                this.cardiac_technicians = response.data.cardiac_technicians;
                this.cardiologists = response.data.cardiologists;
                this.physicians = response.data.physicians;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });

        },
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                showModal: false,
                available_devices: false,
                available_patients: false,
                availalble_locations: false,
                interpretation: null,
                indications: null,
                start_date: moment().format('MM/DD/YYYY'),
                end_date: moment().add(14, 'days').format('MM/DD/YYYY'),
                cardiac_technicians: false,
                cardiologists: false,
                physicians: false,
                session_notes: false,
                selected_patient: 0,
                selected_devices: false,
                selected_physicians: false,
                selected_cardiologists: false,
                physician_location: false,
                cardiologistLocations: false,
                physicianLocations: false,
                copyToLocations: false,
                cardiologist_location: false,
                copyto_location: false,
                selected_technicians: false,
                selected_copyto: false,
                hasSuccess: false,
                hasError: false,
            }
        },
        /*
         |---------------------------------------------------
         | Watchers                                         |
         |---------------------------------------------------
         */
        watch: {
            'available_devices': function(val) {

            },
            'available_patients': function(val) {

            },
            'showModal': function(val) {
                if(val == false) {
                    console.log("A new user was added, refreshing users");
                    // Grab network staff
                    this.$http.get('/api/v1/networks/' + window.User.network.id + '/staff').then((response) => {
                        this.cardiac_technicians = response.data.cardiac_technicians;
                        this.cardiologists = response.data.cardiologists;
                        this.physicians = response.data.physicians;
                    }, (response) => {
                        console.error("Error " + JSON.stringify(response));
                    });
                }
            },
            'selected_cardiologists': function(val) {
                if(val)
                    this.getLocationsForUser(val, 'cardiologist');
                else {
                    this.cardiologistLocations = false;
                    this.cardiologist_location = false;
                }
            },
            'selected_physicians': function(val) {
                if(val)
                    this.getLocationsForUser(val, 'physician');
                else {
                    this.physicianLocations = false;
                    this.physician_location = false;
                }
            },
            'selected_copyto': function(val) {
                if(val)
                    this.getLocationsForUser(val, 'copyto');
                else {
                    this.copyToLocations = false;
                    this.copyto_location = false;
                }
            },
        },
        /*
         |---------------------------------------------------
         | Methods                                          |
         |---------------------------------------------------
         */
        methods: {

            'getLocationsForUser': function(user_id, user_type) {
                this.$http.get('/api/v1/user/' + user_id + '/locations').then((response) => {
                    if(user_type == 'cardiologist')
                        this.cardiologistLocations = response.data;
                    if(user_type == 'physician')
                        this.physicianLocations = response.data;
                    if(user_type == 'copyto')
                        this.copyToLocations = response.data;
                }, (response) => {
                    console.error(response.data);
                });
            },

            'setCardiologistLocation': function(event) {
                this.cardiologist_location = _.find(this.cardiologistLocations, function(loc) { return loc.location_id == event.currentTarget.id });
                event.preventDefault()
            },

            'setPhysicianLocation': function(event) {
                this.physician_location =  _.find(this.physicianLocations, function(loc) { return loc.location_id == event.currentTarget.id });
                event.preventDefault()
            },

            'setCopyToLocation': function(event) {
                this.copyto_location = _.find(this.copyToLocations, function(loc) { return loc.location_id == event.currentTarget.id });
                event.preventDefault()
            },

            'assignAllStaff': function() {
                this.selected_technicians   = _.pluck(this.cardiac_technicians, 'id');
            },

            'submitNewSessionRecording': function() {
                var selected_techs = [];
                _.each(this.selected_technicians, function(tech){
                    selected_techs.push({
                        'user_id': tech,
                        'location_id': null,
                        'user_type': 'cardiac_technician'
                    });
                });

                var payload = {
                    'session_notes': this.global_notes,
                    'start_date': this.start_date,
                    'end_date': this.end_date,
                    'patient': this.selected_patient,
                    'devices': this.selected_devices,
                    'users': []
                };
                if(selected_techs.length > 0) {
                    payload.users.push(selected_techs);
                }
                if(this.selected_cardiologists.length > 0) {
                    payload.users.push([{'user_id':this.selected_cardiologists, 'location_id': this.cardiologist_location.location_id, 'user_type': 'interpreting-cardiologist'}]);
                }
                if(this.selected_physicians.length > 0) {
                    payload.users.push([{'user_id':this.selected_physicians, 'location_id': this.physician_location.location_id, 'user_type': 'referring-physician'}]);
                }
                if(this.selected_copyto.length > 0) {
                    payload.users.push([{'user_id':this.selected_copyto, 'location_id': this.copyto_location.location_id, 'user_type': 'copy-to'}])
                }
                console.log(JSON.stringify(payload));

                this.$http.post('/api/v1/recording_sessions', payload).then((response) => {
                    this.hasSuccess = response.data;
                    this.hasError = false;
                    this.$dispatch('update-recording-sessions-table');
                }, (response) => {
                    this.hasSuccess = false;
                    this.hasError = response.data;
                });
            },

            'addNewUser': function(type) {
                console.log("Adding new user " + type);
                this.showModal = true;
            },

        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: {
            'datepicker': datepicker,
            'create-user': CreateUserModal
        },
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user'],
    }
</script>