<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 class="panel-title pull-left"><i class="ss-podcast"></i> Recording Sessions</h1>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" class="form-control search-input" @keyup.enter="setFilter" v-model="searchFor" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" @click="setFilter" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <button class="btn btn-default" @click="resetFilter" type="button">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" v-link="{path: '/network-portal/sessions/create' }" class="btn btn-primary pull-right"><i class="ss-calendar"></i> Schedule a Session</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <vuetable v-ref:vuetable
                                          api-url="/api/v1/recording_sessions"
                                          :fields="columns"
                                          :item-actions="itemActions"
                                          table-class="table table-responsive table-hover table-striped table-bordered"
                                          :per-page="10"
                                          :sort-order="[{ field: 'id', direction: 'desc' }]"
                                          table-class="table table-bordered table-striped table-hover"
                                          ascending-icon="fa fa-chevron-up"
                                          descending-icon="fa fa-chevron-down"
                                          pagination-path=""
                                          pagination-info-no-data-template=""
                                          pagination-info-data-template=""
                                          pagination-component="vuetable-pagination"
                                          :item-actions="itemActions"
                                          :per-page="perPage"
                                          paginationInfo="{from} {to} {total}"
                                          :append-params="moreParams"
                                ></vuetable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <archive-recording-session :show.sync="showArchiveModal" :user="user"></archive-recording-session>
</template>

<script>

    // Imports
    import _ from 'underscore';
    import moment from 'moment';
    import Vuetable from 'vuetable/src/components/Vuetable.vue';
    import ArchiveRecordingSession from './ArchiveRecordingSession.vue';

    export default {
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {

        },
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                paginationComponent: 'vuetable-pagination',
                perPage: 10,
                moreParams: [],
                showArchiveModal: false,
                searchFor: '',
                columns: [
                    {
                        name: 'patient',
                        title: 'Patient Name',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'devices',
                        sortField: 'devices',
                        title: 'Device IDs',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'session_pin',
                        sortField: 'session_pin',
                        title: 'PIN',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'start_date',
                        sortField: 'date_start',
                        titleClass: 'text-center',
                        title: 'Start Date',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'end_date',
                        sortField: 'date_end',
                        titleClass: 'text-center',
                        title: 'End Date',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'analysts',
                        title: 'Analysts Assigned',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                        callback: 'formatAnalyst'
                    },
                    {
                        name: 'last_recording',
                        sortField: 'last_recording',
                        title: 'Last Recording Submitted',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: '__actions',
                        title: '',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    }
                ],
                itemActions: [
                    { name: 'show-item', label: '', icon: 'fa fa-eye', class: 'ui btn btn-primary' },
                    { name: 'edit-item', label: '', icon: 'fa fa-edit', class: 'ui btn btn-success' },
                    { name: 'archive-item', label: '', icon: 'fa fa-save', class: 'ui btn btn-danger' }
                ]
            }
        },
        /*
         |---------------------------------------------------
         | Watch                                            |
         |---------------------------------------------------
         */
        watch: {
            'perPage': function(val, oldVal) {
                this.$broadcast('vuetable:refresh')
            },
        },
        /*
         |---------------------------------------------------
         | Methods                                          |
         |---------------------------------------------------
         */
        methods: {
            formatAnalyst: function(value) {
                var personnelString = '';
                _.each(value, function(user) {
                    if(user.role == 'cardiac-tech') {
                        personnelString += '<p><span class="label label-success">Cardiac Tech - ' + user.name + '</span></p>';
                    } else if(user.role == 'interpreting-cardiologist') {
                        personnelString +=  '<p><span class="label label-danger">Cardiologist - ' + user.name + '</span></p>';
                    } else if(user.role == 'physician') {
                        personnelString +=  '<p><span class="label label-default">Physician - ' + user.name + '</span></p>';
                    }
                });
                return personnelString;
            },
            setFilter: function() {
                if(this.searchFor.length>0) {
                    this.moreParams = [
                        'filter=' + this.searchFor
                    ];
                }
                this.$nextTick(function() {
                    this.$broadcast('vuetable:refresh')
                })
            },
            resetFilter: function() {
                this.searchFor = '';
                this.moreParams = [];
                this.setFilter()
            },
        },
        /**
         |-----------------------------------------
         |EVENTS
         |-----------------------------------------
         */
        events: {
            // Set pagination & disable archived buttons
            'vuetable:load-success': function(response) {
                this.$dispatch('vuetable-pagination:set-options');
                this.$dispatch('hideLoadingMask');
                var recordings = response.body.data;
                var vm = this;
                for(var i=0;i<recordings.length;i++){
                    if(!Array.isArray(recordings[i].devices)) {
                        vm.$refs.vuetable.tableData.map(function (item) {
                            if (item.id == recordings[i].id) {
                                var n = i+1;
                                $('body').find(".vuetable tr:eq("+n+") td:last .btn-primary")
                                         .prop('disabled', true);
                                $('body').find(".vuetable tr:eq("+n+") td:last .btn-danger")
                                         .prop('disabled', true);
                            }
                        });
                    }
                }
            },
            'vuetable:loading': function() {
                this.$dispatch('showLoadingMask');
            },
            // Action buttons
            'vuetable:action': function(action, data) {
                if(action == 'archive-item') {
                    this.showArchiveModal = data;
                } else if (action == 'edit-item') {
                    this.$route.router.go('/network-portal/sessions/' + data.id + '/edit');
                } else if (action == 'show-item') {
                    this.$route.router.go('/network-portal/recordings/' + data.patient_id + '/' + data.id)
                }
            },

            'update-recording-sessions-table': function() {
                this.$refs.vuetable.loadData();
            },
        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: {
            'vuetable': Vuetable,
            'archive-recording-session': ArchiveRecordingSession
        },
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user'],
    }
</script>

<style>
    .ui {
        margin-left: 2px;
    }

    .search-input {
        background: #fff;
        border-color: #ccc;
        color: #333;
    }

    .input-group {
        margin-bottom: 5px;
    }

    .vuetable th.sortable:hover {
        color: #2185d0;
        cursor: pointer;
    }
    .vuetable-actions {
        width: 11%;
        padding: 12px 0px;
        text-align: center;
    }

    .vuetable-pagination {

    }
    .vuetable-pagination-info {
        float: left;
        margin-top: auto;
        margin-bottom: auto;
    }
    .vuetable-pagination-component {
        float: right;
    }
    .vuetable-pagination-component .pagination {
        margin: 0px;
    }
    .vuetable-pagination-component .pagination .btn {
        cursor: pointer;
        margin: 2px;
    }
    [v-cloak] {
        display: none;
    }
    .highlight {
        background-color: yellow;
    }
    /* Loading Animation: */
    .vuetable-wrapper {
        opacity: 1;
        position: relative;
        filter: alpha(opacity=100); /* IE8 and earlier */
    }
    .vuetable-wrapper.loading {
        opacity:0.4;
        transition: opacity .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out;
        -webkit-transition: opacity .3s ease-in-out;
    }
    .vuetable-wrapper.loading:after {
        position: absolute;
        content: '';
        top: 40%;
        left: 50%;
        margin: -30px 0 0 -30px;
        border-radius: 100%;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        border: 4px solid #000;
        height: 60px;
        width: 60px;
        background: transparent !important;
        display: inline-block;
        -webkit-animation: pulse 1s 0s ease-in-out infinite;
        animation: pulse 1s 0s ease-in-out infinite;
    }
    @keyframes pulse {
        0% {
            -webkit-transform: scale(0.6);
            transform: scale(0.6); }
        50% {
            -webkit-transform: scale(1);
            transform: scale(1);
            border-width: 12px; }
        100% {
            -webkit-transform: scale(0.6);
            transform: scale(0.6); }
    }
</style>