<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left"><i class="ss-calendar"></i><sup><i class="fa fa-edit"></i></sup> Schedule a Recording Session</h3>
                    <div class="pull-right">
                        <button type="button" @click="archiveRecordingSession" class="btn btn-warning"><i class="fa fa-save"></i> End Recording Session</button>
                        <button v-link="{path: '/network-portal/sessions' }"  type="button" class="btn btn-danger">Cancel</button>
                        <button type="button" @click="submitNewSessionRecording" class="btn btn-success">Confirm</button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" v-if="hasSuccess">
                        <div class="col-xs-12">
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3>This recording session has been updated.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="hasError">
                        <div class="col-xs-12">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3>There was an error processing your request.</h3>
                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="clearfix">
                                    <h2 class="pull-left"><i class="fa fa-pencil"></i> Session Details</h2>
                                    <span class="pull-right label label-success" style="margin-top:45px;">
                                        Session Authentication PIN: {{ session_pin }}
                                    </span>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="control-label col-xs-3">Interpretation:</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control" v-model="interpretation" placeholder="(e.g. Reason for session, global notes, etc...)"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="control-label col-xs-3">Indications:</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control" v-model="indications" placeholder="(e.g. Reason for session, global notes, etc...)"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">From:</label>
                            <div class="col-xs-6">
                                <datepicker
                                        format="MM/DD/YYYY"
                                        :value.sync="start_date"
                                >
                                </datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">To:</label>
                            <div class="col-xs-6">
                                <datepicker
                                        format="MM/DD/YYYY"
                                        :value.sync="end_date"
                                >
                                </datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Patient</label>
                            <div class="col-xs-6">
                                <select v-select="selected_patient" placeholder="Available patients..." class="form-control" style="width:100%!important;">
                                    <option disabled>Select a patient...</option>
                                    <option v-for="patient in available_patients" :value="patient.id">{{ patient.name_first }} {{ patient.name_last }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Devices</label>
                            <div class="col-xs-6">
                                <select v-multi="selected_devices" placeholder="Available devices..." class="form-control" style="width:100%!important;" multiple>
                                    <option>Select a device...</option>
                                    <option v-for="device in available_devices" :value="device.id">{{ device.radio_id }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <h2><i class="fa fa-user-md"></i> Staff Assignments</h2>
                                <hr />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <p><strong>Note:</strong> The following staff members assigned will have access to review, analyze, and comment on incoming patient recordings.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Cardiac Technicians</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <select v-multi="selected_technicians" placeholder="Network Cadiac Technicians..." class="form-control" style="width:100%!important;" multiple>
                                        <option>Select Cardiac Technicians...</option>
                                        <option v-for="tech in cardiac_technicians" :value="tech.id">{{ tech.name }}</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button type="button" @click="assignAllStaff" class="btn btn-sm btn-warning">
                                            <i class="fa fa-users"></i>
                                            Assign All
                                        </button>
                                        <button class="btn btn-sm btn-success" type="button" @click="addNewUser(cardiac-tech)">
                                            <i class="fa fa-plus"></i> New
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Interpreting Physician</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <select v-select="selected_cardiologists" placeholder="Network Cardiologists..." class="form-control" style="width:100%!important;">
                                        <option>Select Interpreting Physicians...</option>
                                        <option v-for="cardiologist in cardiologists" :value="cardiologist.id">{{ cardiologist.name }}</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" :disabled="!selected_cardiologists">
                                            <i class="fa fa-building"></i> Select Location <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li v-for="location in cardiologistLocations">
                                                <a href="#" @click="setCardiologistLocation" :id="location.location_id">
                                                    {{ location.location_street }} {{ location.location_street_2 }}<br />
                                                    {{ location.location_city }}, {{ location.location_province.name }} - {{ location.location_postal_code }}
                                                </a>
                                            </li>
                                        </ul>
                                        <button class="btn btn-sm btn-success" type="button" @click="addNewUser(phys)">
                                            <i class="fa fa-plus"></i> New
                                        </button>
                                    </div>
                                </div>
                                <template v-if="cardiologist_location">
                                    <div class="input-group">
                                        <div class="panel panel-success">
                                            <div class="panel-body">
                                                {{ cardiologist_location.location_street }} {{ cardiologist_location.location_street_2 }}<br />
                                                {{ cardiologist_location.location_city }}, {{ cardiologist_location.location_province.name }} - {{ cardiologist_location.location_postal_code }}
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Referring Physician</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <select v-select="selected_physicians" placeholder="Network Physicians..." class="form-control" style="width:100%!important;">
                                        <option>Select Referring Physicians...</option>
                                        <option v-for="physician in physicians" :value="physician.id">{{ physician.name }}</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" :disabled="!selected_physicians">
                                            <i class="fa fa-building"></i> Select Location <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li v-for="location in physicianLocations">
                                                <a href="#" @click="setPhysicianLocation" :id="location.location_id">
                                                    {{ location.location_street }} {{ location.location_street_2 }}<br />
                                                    {{ location.location_city }}, {{ location.location_province.name }} - {{ location.location_postal_code }}
                                                </a>
                                            </li>
                                        </ul>
                                        <button class="btn btn-sm btn-success" type="button" @click="addNewUser(phys)">
                                            <i class="fa fa-plus"></i> New
                                        </button>
                                    </div>
                                </div>
                                <template v-if="physician_location">
                                    <div class="input-group">
                                        <div class="panel panel-success">
                                            <div class="panel-body">
                                                {{ physician_location.location_street }} {{ physician_location.location_street_2 }}<br />
                                                {{ physician_location.location_city }}, {{ physician_location.location_province.name }} - {{ physician_location.location_postal_code }}
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">Copy To</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <select v-select="selected_copyto" placeholder="Network Physicians..." class="form-control" style="width:100%!important;">
                                        <option>Select a Physician...</option>
                                        <option v-for="physician in physicians" :value="physician.id">{{ physician.name }}</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" :disabled="!selected_copyto">
                                            <i class="fa fa-building"></i> Select Location <i class="fa fa-chevron-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li v-for="location in copyToLocations">
                                                <a href="#" @click="setCopyToLocation" :id="location.location_id">
                                                    {{ location.location_street }} {{ location.location_street_2 }}<br />
                                                    {{ location.location_city }}, {{ location.location_province.name }} - {{ location.location_postal_code }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <template v-if="copyto_location">
                                    <div class="input-group">
                                        <div class="panel panel-success">
                                            <div class="panel-body">
                                                {{ copyto_location.location_street }} {{ copyto_location.location_street_2 }}<br />
                                                {{ copyto_location.location_city }}, {{ copyto_location.location_province.name }} - {{ copyto_location.location_postal_code }}
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <create-user :show.sync="showModal" :user="user"></create-user>
    <archive-recording-session :show.sync="showArchiveModal" :user="user"></archive-recording-session>
</template>

<script>

    // Imports
    import moment from 'moment';
    import _ from 'underscore';
    import datepicker from 'vue-date-picker';
    import CreateUser from '../users/CreateUserModal.vue';
    import ArchiveRecordingSession from './ArchiveRecordingSession.vue';

    export default {
        name: 'UpdateRecordingSession',
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        /*
         |---------------------------------------------------
         | Directives                                       |
         |---------------------------------------------------
         */
        directives: {
            select: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function () {
                    var self = this
                    $(this.el)
                        .select2()
                        .on('change', function () {
                            self.set(this.value)
                        })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },
            multi: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function() {
                    var self = this
                    $(this.el)
                        .select2({
                            data: this.params.options
                        })
                        .on('change', function() {
                            self.set($(self.el).val()) // Don't use this.value
                        })
                },
                update: function(value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function() {
                    $(this.el).off().select2('destroy')
                }
            }
        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {

            // Grab available devices
            this.$http.get('/api/v1/networks/' + window.User.network.id +'/devices').then((response) => {
                this.available_devices = response.data;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });

        },
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                showModal: false,
                available_devices: false,
                available_patients: false,
                availalble_locations: false,
                interpretation: null,
                indications: null,
                showArchiveModal: false,
                start_date: moment().format('MM/DD/YYYY'),
                end_date: moment().add(14, 'days').format('MM/DD/YYYY'),
                cardiac_technicians: false,
                cardiologists: false,
                device_ids: false,
                physicians: false,
                session_notes: false,
                selected_patient: false,
                session_pin: false,
                selected_devices: false,
                selected_physicians: false,
                selected_cardiologists: false,
                physician_location: false,
                cardiologistLocations: false,
                physicianLocations: false,
                copyToLocations: false,
                cardiologist_location: false,
                copyto_location: false,
                selected_technicians: false,
                selected_copyto: false,
                staffLoaded: false,
                addedExistingPatient: false,
                addedExistingDevice: false,
                hasSuccess: false,
                hasError: false,
            }
        },
        /*
         |---------------------------------------------------
         | Watchers                                         |
         |---------------------------------------------------
         */
        watch: {
            'available_devices': function(val) {
                if(!this.addedExistingDevice)
                    this.getAvailablePatients();
            },
            'available_patients': function(oldVal, val) {
                if(!this.addedExistingPatient)
                    this.getAvailableStaff();
            },
            'staffLoaded': function(val) {
                if(val) {
                    this.$http.get('/api/v1/recording_sessions/' + this.$route.params.session_id).then((response) => {
                        this.fillForm(response.data);
                }, (response) => {
                        console.error(response.data);
                    });
                }
            },
            'showModal': function(val) {
                if(val == false) {
                    // Grab network staff
                    this.$http.get('/api/v1/networks/' + window.User.network.id + '/staff').then((response) => {
                        this.cardiac_technicians = response.data.cardiac_technicians;
                        this.cardiologists = response.data.cardiologists;
                        this.physicians = response.data.physicians;
                    }, (response) => {
                        console.error("Error " + JSON.stringify(response));
                    });
                }
            },
            'selected_cardiologists': function(val) {
                if(val)
                    this.getLocationsForUser(val, 'cardiologist');
                else {
                    this.cardiologistLocations = false;
                    this.cardiologist_location = false;
                }
            },
            'selected_physicians': function(val) {
                if(val)
                    this.getLocationsForUser(val, 'physician');
                else {
                    this.physicianLocations = false;
                    this.physician_location = false;
                }
            },
            'selected_copyto': function(val) {
                if(val)
                    this.getLocationsForUser(val, 'copyto');
                else {
                    this.copyToLocations = false;
                    this.copyto_location = false;
                }
            }
        },
        /*
         |---------------------------------------------------
         | Methods                                          |
         |---------------------------------------------------
         */
        methods: {

            'getLocationsForUser': function(user_id, user_type) {
                this.$http.get('/api/v1/user/' + user_id + '/locations').then((response) => {
                    if(user_type == 'cardiologist')
                        this.cardiologistLocations = response.data;
                    if(user_type == 'physician')
                        this.physicianLocations = response.data;
                    if(user_type == 'copyto')
                        this.copyToLocations = response.data;
                }, (response) => {
                    console.error(response.data);
                });
            },

            'setCardiologistLocation': function(event) {
                this.cardiologist_location = _.find(this.cardiologistLocations, function(loc) { return loc.location_id == event.currentTarget.id });
                event.preventDefault()
            },

            'setPhysicianLocation': function(event) {
                this.physician_location =  _.find(this.physicianLocations, function(loc) { return loc.location_id == event.currentTarget.id });
                event.preventDefault()
            },

            'setCopyToLocation': function(event) {
                this.copyto_location = _.find(this.copyToLocations, function(loc) { return loc.location_id == event.currentTarget.id });
                event.preventDefault()
            },

            'assignAllStaff': function() {
                this.selected_technicians   = _.pluck(this.cardiac_technicians, 'id');
            },

            'getAvailablePatients': function() {
                this.$http.get('/api/v1/networks/' + window.User.network.id +'/patients').then((response) => {
                    this.available_patients = response.data;
                }, (response) => {
                    console.error("Error " + JSON.stringify(response));
                });
            },

            'getAvailableStaff': function() {
                this.$http.get('/api/v1/networks/' + window.User.network.id + '/staff').then((response) => {
                    this.cardiac_technicians = response.data.cardiac_technicians;
                    this.cardiologists = response.data.cardiologists;
                    this.physicians = response.data.physicians;
                    this.staffLoaded = true;
                }, (response) => {
                    console.error("Error " + JSON.stringify(response));
                });
            },

            'fillForm': function(fields) {
                this.addedExistingDevice = true;
                this.available_devices = _.union(this.available_devices, fields.devices);
                this.start_date = moment(fields.date_start).format('MM/DD/YYYY');
                this.end_date = moment(fields.date_end).format('MM/DD/YYYY');
                this.selected_devices = _.pluck(fields.devices, 'id');
                this.device_ids = fields.devices;
                this.addedExistingPatient = true;
                this.available_patients.push(fields.patient);
                this.selected_patient = fields.patient.id;
                this.session_pin = fields.session_pin;

                var techs = [];
                var cardiologists = [];
                var physicians = [];
                var copyto = [];

                _.each(fields.users, function(user) {
                    if(user.user_type == 'cardiac_technician')
                        techs.push(user);
                });

                _.each(fields.patient.users, function(user){
                    if(user.user_type == 'interpreting-cardiologist')
                        cardiologists.push(user);
                });

                _.each(fields.patient.users, function(user){
                    if(user.user_type == 'referring-physician')
                        physicians.push(user);
                });

               _.each(fields.users, function(user){
                    if(user.user_type == 'copy-to')
                        copyto.push(user);
                });

                this.selected_technicians = _.pluck(techs, 'id');
                this.selected_cardiologists = _.pluck(cardiologists, 'id');
                this.selected_physicians = _.pluck(physicians, 'id');
                this.selected_copyto = _.pluck(copyto, 'id');

                this.cardiologist_location = _.find(cardiologists[0].locations, function(location) {
                                                    return location.location_id == cardiologists[0].selected_location;
                                              });

                this.physician_location = _.find(physicians[0].locations, function(location){
                                                return location.location_id = physicians[0].selected_location;
                                            });

                this.copyto_location = _.find(copyto[0].locations, function(location){
                                            return location.location_id = copyto[0].selected_location;
                                        });

            },

            'submitNewSessionRecording': function() {
                var selected_techs = [];
                _.each(this.selected_technicians, function(tech){
                    selected_techs.push({
                        'user_id': tech,
                        'location_id': null,
                        'user_type': 'cardiac_technician'
                    });
                });

                var payload = {
                    'session_notes': this.global_notes,
                    'start_date': this.start_date,
                    'end_date': this.end_date,
                    'patient': this.selected_patient,
                    'devices': this.selected_devices,
                    'users': [
                        selected_techs,
                        [{'user_id':this.selected_cardiologists, 'location_id': this.cardiologist_location.location_id, 'user_type': 'interpreting-cardiologist'}],
                        [{'user_id':this.selected_physicians, 'location_id': this.physician_location.location_id, 'user_type': 'referring-physician'}],
                        [{'user_id':this.selected_copyto, 'location_id': this.copyto_location.location_id, 'user_type': 'copy-to'}]
                    ]
                };
                this.$http.put('/api/v1/recording_sessions/' + this.$route.params.session_id, payload).then((response) => {
                    this.hasSuccess = response.data;
                    this.hasError = false;
                    this.$dispatch('update-recording-sessions-table');
                }, (response) => {
                    this.hasSuccess = false;
                    this.hasError = response.data;
                });
            },
            'addNewUser': function(type) {
                this.showModal = true;
            },
            'archiveRecordingSession': function() {
                this.showArchiveModal = {
                    id: this.$route.params.session_id,
                    patient: this.patient,
                    session_pin: this.session_pin,
                    devices: _.pluck(this.device_ids, 'radio_id'),
                    start_date: this.start_date,
                    end_date: this.end_date,
                    analysts: [this.selected_cardiologists, this.selected_physicians, this.selected_copyto]
                };
            }
        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: {
            'datepicker': datepicker,
            'create-user': CreateUser,
            'archive-recording-session': ArchiveRecordingSession
        },
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user'],
    }
</script>