<template>
    <div>
        <template v-if="network_activity">
            <table class="table table-bordered table-striped table-responsive">
                <tr>
                    <th class="text-center">Action</th>
                    <th class="text-center">Date/Time</th>
                </tr>
                <tr v-for="activity in network_activity">
                    <td class="text-left">
                        <p>{{ activity.activity_content }}</p>
                    </td>
                    <td>
                        <p>{{ activity.created_at }}</p>
                    </td>
                </tr>
            </table>
        </template>
        <template v-else>
            <table class="table table-bordered table-striped table-responsive">
                <tr>
                    <td>
                        <h4>The activity log is empty.</h4>
                    </td>
                </tr>
            </table>
        </template>
    </div>
</template>

<script type="text/babel">
    import _ from 'underscore';
    import moment from 'moment';

    export default {
        data(){
            return {
                network_activity: false,
            }
        },
        ready() {
            this.$http.get('/api/v1/networks/'+window.User.network.id+'/metrics/activity_log').then((response) => {
                this.network_activity = response.data;
            }, (response) => {
                console.error(JSON.stringify(response.data));
            });
        },
        components: {

        },
        props: ['user'],
    }
</script>

<style lang="sass">

</style>