<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left"><i class="ss-settings"><sup><i class="fa fa-edit"></i></sup></i> My Account</h3>
                    <div class="pull-right">
                        <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="submitNewUserForm">
                            <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span> Submit
                        </button>
                        <a class="btn btn-danger" href="#" v-link="{ path: '/patient-portal' }">
                            Cancel
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-xs-12" v-show="hasSuccess">
                                    <div class="alert alert-success">
                                        <div class="clearfix">
                                            <div class="col-md-3">
                                                <h3><i class="fa fa-check-circle"></i></h3>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>Your account has been updated!</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12" v-show="hasErrors">
                                    <div class="alert alert-danger">
                                        <div class="clearfix">
                                            <div class="col-md-3">
                                                <h3><i class="fa fa-warning"></i></h3>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="list list-unstyled">
                                                    <li v-for="error in errorMessages">
                                                    {{ error }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3" for="username">Name</label>
                                        <div class="col-xs-6">
                                            <input name="username" v-model="name" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-3" for="email">Email Address</label>
                                        <div class="col-xs-6">
                                            <input name="email" v-model="email" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-3" for="password">Password (leave blank to not change)</label>
                                        <div class="col-xs-6">
                                            <input name="password" v-model="password" class="form-control" type="password" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-3" for="password_confirmation">Password Confirmation </label>
                                        <div class="col-xs-6">
                                            <input name="password_confirmation" v-model="password_confirmation" class="form-control" type="password" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<style>

</style>
<script>
    import UserForm from '../users/UserForm.vue';

    export default{
        data(){
            return{
                //msg:'hello vue',
// User Properties
                hasErrors: false,
                hasSuccess: false,
                errorMessages: [],
                isSubmitting: false,
                name: false,
                email: false,
                id: false,
                password: false,
                password_confirmation: false
            }
        },
        components:{
            'user-form': UserForm
        },
        ready: function(){
            this.name = window.User.user.name;
            this.email = window.User.user.email;
            this.id = window.User.user.id;
        },
        watch: {
            'isSubmitting': function (val) {
                if (val == true) {
                }
            }
        },
        props: ['user', 'show'],
        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods : {

            /**
             * Submit a new user
             * @param {Object} e
             */
            submitNewUserForm : function(e) {
                this.isSubmitting = true;
                var params = {
                    'name': this.name,
                    'email': this.email,
                    'password': this.password,
                    'password_confirm': this.password_confirmation
                };
                this.$http.post('/api/v1/users/account/', params).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });

            },

            /**
             * Handle a success response from the submission form
             * @param {Object} e
             */
            handleSuccess : function(response) {
                //var roles = [];
                this.hasErrors = false;
                this.hasSuccess = true;
                this.isSubmitting = false;

            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }

        },

    }
</script>
