<template>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#" v-link="{ path: '/mastermind' }"><i class="ss-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="#" v-link="{ path: '/mastermind/users' }"><i class="ss-users"></i> Users

                </a>
            </li>
            <li>
                <a href="#" v-link="{ path: '/mastermind/networks' }"><i class="ss-connection"></i>
                    Networks
                </a>
            </li>
            <li>
                <a href="#" v-link="{path: '/mastermind/practices' }"><i class="ss-males"></i>
                    Practices
                </a>
            </li>
            <li>
                <a href="#" v-link="{ path: '/mastermind/patients' }"><i class="ss-heartuser"></i> Patients
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" v-link="{ path: '/mastermind/clients' }"><i class="ss-cell"></i>
                  Active Recordings
                </a>
            </li>
        </ul>
    </div>
</template>

<style>

    /* always present */
    .expand-transition {
        transition: all .3s ease;
        height: 30px;
        padding: 10px;
        background-color: #eee;
        overflow: hidden;
    }
    /* .expand-enter defines the starting state for entering */
    /* .expand-leave defines the ending state for leaving */
    .expand-enter, .expand-leave {
        height: 0;
        padding: 0 10px;
        opacity: 0;
    }
</style>

<script>

    export default{
        data(){
            return{
                userBadge: 0,
            }
        },
        components:{

        },
        events: {
            'set-user-badge': function() {
                this.userBadge = this.userBadge + 1;
            }
        },
        props: ['user'],
    }
</script>
