<template>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#" v-link="{ path: '/network-portal' }"><i class="ss-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="#" v-link="{ path: '/network-portal/staff' }"><i class="ss-users"></i> Directory</a>
            </li>
            <li>
                <a href="#" v-link="{ path: '/network-portal/practices' }"><i class="ss-males"></i> Practices</a>
            </li>
            <li>
                <a href="#" v-link="{ path: '/network-portal/patients' }"><i class="ss-heartuser"></i> Patients</a>
            </li>
            <li>
                <a href="#" v-link="{ path: '/network-portal/devices' }"><i class="ss-cellbars"></i> Devices</a>
            </li>
            <li>
                <a href="#" v-link="{ path: '/network-portal/sessions' }"><i class="ss-podcast"></i> Recording Sessions</a>
            </li>
        </ul>
    </div>
</template>

<style>

    /* always present */
    .expand-transition {
        transition: all .3s ease;
        height: 30px;
        padding: 10px;
        background-color: #eee;
        overflow: hidden;
    }
    /* .expand-enter defines the starting state for entering */
    /* .expand-leave defines the ending state for leaving */
    .expand-enter, .expand-leave {
        height: 0;
        padding: 0 10px;
        opacity: 0;
    }
</style>

<script>

    export default{
        data(){
            return{

            }
        },
        components:{

        },
        events: {

        },
        props: ['user'],
    }
</script>
