<template>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#" v-link="{ path: '/patient-portal' }">
                    <i class="ss-heartuser"></i> Dashboard
                </a>
            </li>
        </ul>
    </div>
</template>

<script>

    export default{
        data(){
            return{

            }
        },
        components:{

        },
        events: {

        },
        props: ['user'],
    }
</script>
