<template>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title" id="myModalLabel"><i class="ss-males"></i> Edit Practice</h4>
                        <div class="pull-right">
                            <button class="btn btn-danger" type="button" @click="goBack">Cancel</button>
                            <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="submitNewPracticeForm">
                                <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                Submit</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-xs-12" v-show="hasErrors">
                                    <div class="alert alert-danger">
                                        <div class="clearfix">
                                            <div class="col-md-3">
                                                <h3><i class="fa fa-warning"></i></h3>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="list list-unstyled">
                                                    <li v-for="error in errorMessages">
                                                        {{ error }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12" v-show="hasSuccess">
                                    <div class="alert alert-success">
                                        <div class="clearfix">
                                            <div class="col-md-3">
                                                <h3><i class="fa fa-check"></i></h3>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>The practice has been saved.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <template v-if="practicedata[0]">
                                        <div class="form-group">
                                            <label class="control-label col-xs-3" for="username">Name</label>
                                            <div class="col-xs-6">
                                                <input id="username" name="username" v-model="practicedata[0].name" class="form-control" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3" for="selected_network">Network</label>
                                            <div class="col-xs-6">
                                                <select v-model="practicedata[0].network.id" placeholder="Networks..." class="form-control" style="width:100%!important;">
                                                    <option>Select Network...</option>
                                                    <option v-for="network in networkdata" :value="network.id">{{ network.name }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3" for="selected_users">User(s)</label>
                                            <div class="col-xs-6">
                                                <template v-for="skill in staffChoices">
                                                    <template v-for="user in skill">
                                                        <div class="row">
                                                            <p><input type="checkbox" id="{{user.id}}" :value="user.id" v-model="convertUsersToInt" />
                                                                <label for="{{user.id}}">{{user.name}}</label></p>
                                                        </div>
                                                    </template>
                                                </template>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>



<script>

    import _ from 'underscore';
    //import PracticeForm from './PracticeForm.vue';

    export default{
        /**
         |----------------------------------------
         |DATA
         |----------------------------------------
         * @returns {{isSubmitting: boolean}}
         */
        data(){

            return{
                practiceFormModal: true,
                isSubmitting: false,
                hasErrors: false,
                hasSuccess: false,
                errorMessages: [],
                isLoadingUsers: true,

                // Network Properties
                name: null,
                selected_network: false,
                selected_users: false,

                networks: null,
                users: false,

                practicedata: [],
                networkdata: [],
                staffChoices: [],
                convertUsersToInt: []
            }

        },

        computed: {

        },

        directives: {

        },

        created: function(){


        },
        ready(){
            this.getPracticeData();
            this.loadNetworkData();
        },
        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {

            'practicedata[0].network.id': function() {

                console.log('network id changed');
                this.loadStaff();
            },

            'isSubmitting': function (val) {
                if (val == true) {

                }
            },


            'show' : function(val) {
                if(val == false) {
                    this.isSubmitting = false;
                    this.hasErrors = false;
                    this.hasSuccess = false;
                    this.errorMessages = [];
                    this.name = null;
                    this.selected_network = false;
                    this.selected_users = false;
                    this.$dispatch('update-practice-table');
                } else if(val instanceof Object == true) {
                    this.name = val.name;
                    this.selected_network = val.network.id;
                    this.$broadcast('loadUsers',val.network.id, this.show.id);
                }
            }


        },
        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods : {

            goBack: function() {
                this.$dispatch('go-back');
            },

            /**
             * Submit a new network
             * @param {Object} e
             */
            submitNewPracticeForm : function(e) {
                this.isSubmitting = true;
                console.log(this.convertUsersToInt);
                var params = {
                    'name': this.practicedata[0].name,
                    'network_id': this.practicedata[0].network_id,
                    'users': this.convertUsersToInt
                };

                this.$http.put('/api/v1/practices/' + this.$route.params.practiceID, params).then((response) => {
                    this.handleSuccess(response);
            }, (response) => {
                    this.handleError(response);
                });
            },
            loadStaff : function() {
                this.$dispatch('showLoadingMask');
                this.$http.get('/api/v1/networks/' + this.practicedata[0].network.id + '/staff').then((response) => {
                    var users = response.data;
                    var key = 'cardiologists';
                    delete users[key];
                    this.staffChoices = users;
                    this.$dispatch('hideLoadingMask');
            }, (response) =>{
                    console.error("ERROR " + JSON.stringify(response));
                    this.$dispatch('hideLoadingMask');
                });
            },

            getPracticeData: function(){
                this.$http.get('/api/v1/practices/').then((response) => {

                    function getPracticeData(id) {
                    var data = response.data.data;
                    return data.filter(
                            function(data){
                                return data.id == id
                            }
                    );
                }
                this.practicedata = getPracticeData(this.$route.params.practiceID);
                for (var i = 0; i < this.practicedata[0].users.length; i++) {
                    this.convertUsersToInt[i] = parseInt(this.practicedata[0].users[i].id);
                }
                console.log(this.practicedata);
            }, (response) => {
                    console.error("Error " + JSON.stringify(response));
                });
            },

            loadNetworkData: function(){
                this.$dispatch('showLoadingMask');
                var url = '/api/v1/networks';
                this.$http.get(url).then((response) => {
                    this.networkdata = response.data;
                    this.$dispatch('hideLoadingMask');
                }, (response) => {

                });
            },

            /**
             * Handle a success response from the submission form
             * @param {Object} e
             */
            handleSuccess : function(response) {
                this.hasSuccess = true;
                this.isSubmitting = false;
            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }

        },

        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {

        },

        /**
         |----------------------------------------
         |PROPERTIES
         |----------------------------------------
         */
        props: ['user', 'show'],
    }
</script>
