<template>
    <div>
        <template v-if="practicedata[0]">
            <div class="form-group">
                <label class="control-label col-xs-3" for="username">Name</label>
                <div class="col-xs-6">
                    <input id="username" name="username" v-model="practicedata[0].name" class="form-control" type="text" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="selected_network">Network</label>
                <div class="col-xs-6">
                    <select v-model="practicedata[0].network.id" placeholder="Networks..." class="form-control" style="width:100%!important;">
                        <option>Select Network...</option>
                        <option v-for="network in networkdata" :value="network.id">{{ network.name }}</option>
                    </select>
                </div>
            </div>
            <div class="divider"></div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="selected_users">User(s)</label>
                <div class="col-xs-6">
                    <template v-for="skill in staffChoices">
                        <template v-for="user in skill">
                            <div class="row">
                                <p><input type="checkbox" id="{{user.id}}" :value="user.id" v-model="convertUsersToInt" />
                                <label for="{{user.id}}">{{user.name}}</label></p>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
        </template>
    </div>
</template>

<script>

export default{

    data(){
        return{
            staffChoices: []
        }
    },

    props:[
        'practicedata',
        'networkdata',
    ],
    computed: {
        convertUsersToInt: function(){
            var newarray = [];
            for (var i = 0; i < this.practicedata[0].users.length; i++) {
                newarray[i] = parseInt(this.practicedata[0].users[i].id);
                console.log(newarray[i]);
            }
            return newarray;
        }
    },

    /**
     |-----------------------------------------
     |WATCHERS
     |-----------------------------------------
     */
    watch: {

        'practicedata[0].network.id': function() {
            this.loadStaff();
        },

    },


    created: function(){
        this.$http.get('/api/v1/networks').then((response) => {
            this.networks = response.data;
        }, (response) => {
            console.error("Error " + JSON.stringify(response));
        });
    },
    events: {


    },
    methods : {

        submitNewPracticeForm: function (e) {
            this.isSubmitting = true;
            var params = {
                'name': this.practicedata[0].name,
                'network_id': this.practicedata[0].network_id,
                'users': this.practicedata[0].users
            };
        },
        loadStaff : function () {
            this.$dispatch('showLoadingMask');
            this.$http.get('/api/v1/networks/' + this.practicedata[0].network.id + '/staff').then((response) => {
                console.log(response.data);
                this.staffChoices = response.data;
                this.$dispatch('hideLoadingMask');
            }, (response) => {
                console.error("ERROR " + JSON.stringify(response));
                this.$dispatch('hideLoadingMask');
            });
        }
    }

}

</script>
