<template>
        <div class="container-fluid">
                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="modal-title" id="myModalLabel">View Practice</h4>
                        </div>
                        <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="control-label col-xs-3">Name</div >
                                        <div class="col-xs-6">
                                            <p>{{practicedata[0].name}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div  class="control-label col-xs-3">Network</div >
                                        <div class="col-xs-6">
                                            <p>{{practicedata[0].network.name}}</p>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="form-group">
                                        <div class="control-label col-xs-3" >User(s)</div >
                                        <div class="col-xs-6">
                                                <template v-for="user in practicedata[0].users">
                                                        <p>{{user.name}}</p>
                                                </template>
                                        </div>
                                    </div>
                                </form>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-danger" type="button" @click="goBack">Close</button>
                        </div>
                    </div>
                </div>
            </div>
</template>



<script>

    import _ from 'underscore';

    export default{
        /**
         |----------------------------------------
         |DATA
         |----------------------------------------
         * @returns {{isSubmitting: boolean}}
         */
        data(){

            return{
                practiceFormModal: true,
                isSubmitting: false,
                hasErrors: false,
                hasSuccess: false,
                errorMessages: [],
                isLoadingUsers: true,

                // Network Properties
                name: null,
                selected_network: false,
                selected_users: false,

                networks: null,
                users: false,

                practicedata: []
            }

        },

        computed: {

        },

        directives: {

        },

        created: function(){


        },
        ready(){
            this.getPracticeData();
            console.log(this.practicedata);
        },
        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {
            'show' : function(val) {
                if(val == false) {
                    this.isSubmitting = false;
                    this.hasErrors = false;
                    this.hasSuccess = false;
                    this.errorMessages = [];
                    this.name = null;
                    this.selected_network = false;
                    this.selected_users = false;
                    this.$dispatch('update-practice-table');
                } else if(val instanceof Object == true) {
                    this.name = val.name;
                    this.selected_network = val.network.id;
                    this.$broadcast('loadUsers',val.network.id, this.show.id);
                }
            }


        },
        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods : {

            goBack: function() {
                this.$dispatch('go-back');
            },

            getPracticeData: function(){
                this.$http.get('/api/v1/practices/').then((response) => {

                    function getPracticeData(id) {
                        var data = response.data.data;
                      return data.filter(
                        function(data){
                            return data.id == id
                        }
                      );
                    }
                    this.practicedata = getPracticeData(this.$route.params.practiceID);
                    console.log(this.practicedata);
                }, (response) => {
                    console.error("Error " + JSON.stringify(response));
                });
            },
        },

        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {

        },

        /**
         |----------------------------------------
         |PROPERTIES
         |----------------------------------------
         */
        props: ['user', 'show'],
    }
</script>

<style type="text/css">
    
    div.control-label {
        padding-top: 3px !important;
    }

</style>
