<template>
    <div class="margin-top">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="clearfix">
                      <span class="pull-left">
                        <h2 class="panel-title"> <i class="fa fa-file-pdf-o"></i> Patient Details {{ patient.name_first }} {{ patient.name_last}}</h2>
                       </span>
                       <span class="pull-right">
                            <a href="#" @click="holterReport()" class="label label-danger"><i class="fa fa-file-pdf-o"></i> Holter Report</a>
                            <a href="#" @click="transmissionReport()" class="label label-info"><i class="fa fa-file-pdf-o"></i> Transmission Report</a>
                       </span>
                </span>
            </div>
            <div class="panel-body">
                    <template v-if="patient">
                        <div class="col-xs-12">
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="background-color:#03063b;color:#FFF;" colspan="2">
                                            <i class="ss-info"></i> Patient Information
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            Patient Name:
                                        </th>
                                        <td>
                                            {{ patient.name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Date of Birth:
                                        </th>
                                        <td>
                                            {{ patient.dob }} ({{ patient.age }} years old)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Ethnicity:
                                        </th>
                                        <td>
                                            {{ patient.ethnicity }}
                                        </td>
                                    </tr>
                                </table>
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="background-color:#03063b;color:#FFF;" colspan="2">
                                            <i class="ss-contacts"></i> Contact Information
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            Address:
                                        </th>
                                        <td>
                                            {{{ patient.address }}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Primary Phone:
                                        </th>
                                        <td>
                                            {{ patient.phone_primary }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Alternate Phone:
                                        </th>
                                        <td>
                                            {{ patient.phone_secondary }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="background-color:#03063b;color:#FFF;" colspan="2">
                                            <i class="ss-medicalcross"></i> Medical Information
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            Height:
                                        </th>
                                        <td>
                                            {{{ patient.height }}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Weight:
                                        </th>
                                        <td>
                                            {{{ patient.weight }}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Patient History
                                        </th>
                                        <td>
                                            {{{ patient.patient_history }}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Health Card:
                                        </th>
                                        <td>
                                            {{{ patient.health_card_number }}}
                                            <br /><br />
                                            {{{ patient.health_card_expiration }}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <hr />
                        </div>
                        <div class="col-xs-12">
                            <template v-for="session in patient.sessions">
                                <template v-if="session.is_active">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th colspan="4"  style="background-color:#03063b;color:#FFF;">
                                                <i class="fa fa-heartbeat"></i> Current Recording Session
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" style="background-color:#ccc;color:#000;">
                                                <i class="ss-podcast"></i> Session Data
                                            </th>
                                            <th colspan="2" style="background-color:#ccc;color:#000;">
                                                <i class="fa fa-heartbeat"></i>
                                                 Last Recording Entry
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                Assigned By:
                                            </th>
                                            <td>
                                                {{ session.assigned_by }}
                                            </td>
                                            <th>
                                                Last Recording Subbmited
                                            </th>
                                            <td>
                                                {{ session.last_recording.created_at }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Recording Session Length
                                            </th>
                                            <td>
                                                {{ session.date_start }} to {{ session.date_end }} ({{ session.num_of_days.d }} days)
                                            </td>
                                            <td colspan="2">
                                                <div class="clearfix">
                                                    <img :src="session.last_recording.small_graph" class="img-responsive pull-left" />
                                                        <template v-for="event in session.last_recording.events">
                                                            <template v-if="event.MEASUREMENTS">
                                                                <table class="measurements tex-center table table-bordered table-triped">
                                                                    <tr>
                                                                        <th class="pr">
                                                                            PR Average
                                                                        </th>
                                                                        <th class="qrs">
                                                                            QRS Average
                                                                        </th>
                                                                        <th class="qt">
                                                                            QT Average
                                                                        </th>
                                                                        <th class="rr">
                                                                            RR Average
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-center">
                                                                            {{ event.MEASUREMENTS.PR_AVER }}ms
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{ event.MEASUREMENTS.QRS_AVER }}ms
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{ event.MEASUREMENTS.QT_AVER }}ms
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{ event.MEASUREMENTS.HR_AVER }}bpm
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </template>
                                                        </template>
                                                    </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Notes:
                                            </th>
                                            <td>
                                                -
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Total Recordings:
                                            </th>
                                            <td>
                                                {{ session.recordings_counted }}
                                            </td>
                                            <td>
                                                <strong>Full Disclosure Report:</strong>
                                                <span v-show="downloadUrl">
                                                   <a class="btn btn-default btn-lg" href="{{ downloadUrl }}" target="_blank">
                                                        <i class="ss-download"></i>
                                                        Download Your Report
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </template>
                            </template>
                        </div>
                    </template>
                    <template v-else>
                        <h3 class="text-center">
                            <i class="fa fa-spinner fa-spin"></i> Loading patient data...
                        </h3>
                    </template>
            </div>
            <div class="panel-footer">
                <button  @click="generateFullDisclosureReport" :disabled="isGeneratingReport" class="btn btn-success">
                    <span v-show="isGeneratingReport">
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                    GENERATE REPORT
                </button>
                <a href="#" v-link="{ path: '/patient-portal' }" class="btn btn-default">
                    CLOSE
                </a>
            </div>
        </div>
    </div>
    <transmission-report-modal :show.sync="showTransmissionReport" :user.sync="user"></transmission-report-modal>
    <holter-summary-report-modal :show.sync="showHolterReport" :user.sync="user"></holter-summary-report-modal>
</template>

<script>

    // Imports
    import moment from 'moment';
    import _ from 'underscore';
    import TransmissionReportModal from '../reports/TransmissionReportModal.vue';
    import HolterSummaryReportModal from '../reports/HolterSummaryReportModal.vue';

    module.exports = {
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {
            this.$http.get('/api/v1/patients/' + this.patient_id).then((response) => {
                this.patient = response.data;
            }, (response) => {
                console.error(JSON.stringify(response.data));
            });
        },
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                session_id: this.$route.params.session_id,
                patient_id: this.$route.params.patient_id,
                patient: false,
                generatedReport: false,
                selectDateStart: false,
                selectDateEnd: false,
                isGeneratingReport: false,
                downloadUrl: false,
                showTransmissionReport: false,
                showHolterReport: false
            }
        },
        /*
         |---------------------------------------------------
         | Events                                           |
         |---------------------------------------------------
         */
        events: {},
        /*
         |---------------------------------------------------
         | Methods                                          |
         |---------------------------------------------------
         */
        methods: {

            transmissionReport: function() {
                this.showTransmissionReport = this.patient_id;
            },

            holterReport: function() {
                this.showHolterReport = this.patient_id;
            },

            generateFullDisclosureReport: function() {
                this.isGeneratingReport = true;
                var payload = {
                    recording_session_id: this.session_id
                }
                this.$http.post('/api/v1/reports/full_disclosure/', payload).then((response) => {
                    this.isGeneratingReport = false;
                    this.downloadUrl = '/patient-portal/reports/'+response.data[0].id;
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
            },
        },
        /*
         |---------------------------------------------------
         | Watch                                            |
         |---------------------------------------------------
         */
        watch: {
            /**
             *
             */
            patient: function(oldVal, newVal) {

            },
            /**
             *
             */
            dateRange: function(oldVal, newVal) {
                if(newVal == false) {
                    console.log("New val is " + newVal);
                } else {
                    console.log("Old val is " + oldVal);
                }
            }
        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: {
            'transmission-report-modal': TransmissionReportModal,
            'holter-summary-report-modal': HolterSummaryReportModal
        },
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user'],
    }
</script>