<template>
    <!-- cheap bootstrap modal + vue modal -->
    <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div style="width:100%;margin:0px auto;max-height:720px;" class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click="show = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <template v-if="patient">
                                <i class="fa fa-file-pdf-o"></i> {{ patient }} - Patient Report
                            </template>
                            <template v-else>
                                <i class="fa fa-spin fa-spiner"></i>
                            </template>
                        </h4>
                    </div>
                    <div class="modal-body" style="max-height:720px;overflow-y:scroll;">
                        <template v-if="patient">
                            <div class="clearfix">
                                    <div class="alert alert-success" v-show="hasSuccess">
                                        <h2><i class="ss-check"></i> Your report is ready!</h2>
                                        <a class="btn btn-default btn-lg" href="{{ downloadUrl }}" target="_blank">
                                            <i class="ss-download"></i>
                                            Download Your Report
                                        </a>
                                    </div>
                                    <div v-show="hasErrors">
                                        <i class="ss-alert"></i> {{ hasErrors }}
                                    </div>
                                    <div v-if="!hasSuccess">
                                        <div class="col-xs-6">
                                            <table class="table table-responsive table-bordered">
                                                <tr>
                                                    <th><strong>Patient:</strong></th>
                                                    <td>{{ patient }}</td>
                                                </tr>
                                                <tr>
                                                    <th><strong>Date of Birth:</strong></th>
                                                    <td>{{ dob }}</td>
                                                </tr>
                                                <tr>
                                                    <th><strong>Age:</strong></th>
                                                    <td>{{ age }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-xs-6">
                                            <table class="table table-responsive table-bordered">
                                                <tr>
                                                    <th><strong>Network:</strong></th>
                                                    <td>
                                                        <strong>{{ user.network.name }}</strong><br />
                                                        {{ user.network.address }}<br />
                                                        {{ user.network.address_2 }}<br />
                                                        {{ user.network.city}}, {{ user.network.postal_code }}<br />
                                                        <br />
                                                        {{ user.network.phone }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th><strong>Reported Generated by:</strong></th>
                                                    <td>
                                                        {{ user.user.name }}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    <div class="clearfix">
                                        <template v-for="recording in recordings">
                                                <img :src="recording.strip" class="img-responsive image" />
                                        </template>
                                        <div class="alert alert-success" v-show="hasSuccess">
                                            <i class="ss-check"></i> {{ hasSuccess }}
                                        </div>
                                        <div class="alert alert-error" v-show="hasErrors">
                                            <i class="ss-alert"></i> {{ hasErrors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </template>
                        <template v-else>
                            <template v-if="!noAlerts">
                                <h3><i class="fa fa-spinner fa-spin"></i> Loading alerts...</h3>
                            </template>
                            <template v-else>
                                <h3><i class="fa fa-warning"></i> No recordings have been flagged for this patient.</h3>
                            </template>
                        </template>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" @click="show = false">Close</button>
                            <template v-if="!noAlerts">
                                <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="generateReport" v-show="!hasSuccess">
                                    <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                    Generate Report
                                </button>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    // Imports
    import _ from 'underscore';
    import moment from 'moment';

    export default {
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {
            this.$http.get('/api/v1/notes/categories').then((response) => {
                this.note_categories = response.data;
            }, (response) => {
                console.error(response.data);
            });
        },
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                recordings: false,
                patient: false,
                dob: false,
                age: false,
                note_categories: false,
                selected_category: false,
                selected_physician: false,
                note: '',
                hasSuccess: false,
                recording_session: false,
                hasErrors: false,
                isSubmitting: false,
                noAlerts: false,
                downloadUrl: false,
            }
        },
        /*
         |---------------------------------------------------
         | Methods                                          |
         |---------------------------------------------------
         */
        methods: {

            /**
             * Post a referral
             */
            generateReport: function() {
                this.isSubmitting = true;
                var payload = {
                    'recording_session_id': this.recording_session
                };
                this.$http.post('/api/v1/reports/patient_transmission', payload).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });
            },

            handleSuccess : function(response) {
                this.hasErrors = false;
                this.hasSuccess = response.data;
                this.downloadUrl = '/patient-portal/reports/'+response.data[0].id;
                this.isSubmitting = false;
            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }
        },
        /*
         |---------------------------------------------------
         | Watch                                            |
         |---------------------------------------------------
         */
        watch: {
            'show': function(val) {
                if(!val){
                    this.selected_category = false;
                    this.strips = '';
                    this.selected_priority = false;
                    this.hasSuccess = false;
                    this.hasErrors = false;
                    this.recordings = false;
                    this.patient = false;
                    this.dob = false;
                    this.age = false;
                    this.note_categories = false;
                    this.hasSuccess = false;
                    this.hasErrors =false;
                    this.isSubmitting = false;
                    this.noAlerts = false;
                    $('body').removeClass('modal-open');
                } else {
                    $('body').addClass('modal-open');
                    this.$http.get('/api/v1/clips/patient/' + val).then((response) => {
                        this.patient = response.data.patient;
                        this.dob = response.data.dob;
                        this.age = response.data.age;
                        this.recordings = response.data.recordings;
                        this.recording_session = response.data.recording_session;
                    }, (response) => {
                        this.noAlerts = true;
                        console.error("Error " + JSON.stringify(response));
                    });
                }
            }
        },
        /*
         |---------------------------------------------------
         | Directives                                       |
         |---------------------------------------------------
         */
        directives: {
            select: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function () {
                    var self = this
                    $(this.el)
                        .select2()
                        .on('change', function () {
                            self.set(this.value)
                        })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },
        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: [],
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user', 'recording_id', 'show'],
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>