
// Variables
@import "variables";

html, body{
  position: relative;
  width:100%;
  height: 100%;
}


#wrapper {
  &.patient-portal {
    padding: 0 0 0 0;
  }
}
.navbar-brand {
  padding: 5px 15px;
}
.navbar-brand > img {
  max-height: 32px;
}
.navbar-default{
  background-color: #0c2746;
}
#app-admin,
#patient-bashboard{
  .form-group {
    margin-top: 15px;
  }
  .form-control {
    box-shadow: none;
  }
  .sidebar-nav {
    top: 15px;
  }
  .navbar {
    &> div{
      margin:0 25px 0 5px;
    }
  }
  .loading-container {
    font-size: 28px;
    font-family: inherit;
  }
  .datetime-picker input[type="text"] {
    height: 39px;
    border: 1px solid #ccc;
    color: #6f6f6f;
  }
  .input-group-btn .btn.btn-sm{
    padding: 8px 12px;
    height: 39px;
  }
  .panel-footer {
    position: fixed;
    bottom: 0;
    left: $sidebar-wrapper-width;
    height: $panel-footer-height;
    width: calc(100% - #{$sidebar-wrapper-width});
    z-index: 200;
  }
  .panel-title {
    display: inline-block;
    font-size: 26px;
    line-height: 160%;
  }
  .panel {
    margin: $panel-head-height 0 $panel-footer-height 0;
    border: none;
    box-shadow: none;
    &.panel-success {
      border-color: transparent;
      &> .panel-heading {
        position: fixed;
        top: 45px;
        left: $sidebar-wrapper-width;
        width: calc(100% - #{$sidebar-wrapper-width});
        color: $gray-dark;
        background-color: #eee;
        border: none;
        min-height: $panel-head-height;
        z-index: 200;
      }
    }
  }

  .panel-body{
    padding:0 15px;
    h1, .h1 {
      font-size: 22px;
    }
  }
  .search-input {
    background: #fff;
    border-color: #ccc;
    color: #333;
  }
  .vuetable-pagination{
    width: 100%;
    height: 28px;
    line-height: 28px;
    margin-bottom: 10px;
    background-color: transparent !important;
  }
  .vuetable-pagination-component{
    .pagination{
      margin: 0 15px;
      a {
        display: inline-block;
        padding:0 5px;
        color: #333;
        cursor: pointer;
        border: 1px solid #fff;
        width:28px;
        text-align: center;
        &.active{
          background-color: $brand-secondary;
          color: #fff;
        }
        &:hover{
          background-color: $brand-primary;
          text-decoration: none;
          color: #fff;
        }
        &.disabled{
          //display: none;
          opacity: 0.2;
          cursor: default;
          &:hover{
            background-color: transparent;
            text-decoration: none;
            color: #333;
          }
        }
      }
    }
  }
  .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    background-color: #ddd;
    color: #333;
    &:hover{
      color: $brand-secondary;
      background-color: #e5e5e5;
    }
  }
  .table > tbody > tr > td {
    vertical-align: middle;
    h5, .h5 {
      margin: 0;
    }
  }
  td.vuetable-actions{
    min-width: 150px;
    white-space: nowrap;
  }
  .panel-padded{
    padding: 0 15px;
  }
  .vuetable-actions{
    .ui{
      &.btn{
        width: 42px;
        text-align: center;
        margin: 1px;
      }
    }
  }
}
#patient-bashboard{
  #page-content-wrapper {
    margin-top: 45px;
  }
  .panel {
    .panel-body{
      padding: 0;
    }
    &.panel-success {
      &> .panel-heading {
        width: 100%;
        left: 0;
        padding: 10px 15px 0 30px;
      }
    }
  }
  .nav-tabs {
    border-bottom: none;
    & > li {
      & > a{
        height: 51px;
        padding-top: 12px;
        font-size: 18px;
        color: #777;
        background-color: #e7e7e7;
        border:none;
        &:hover,
        &:focus{
          color: #333;
          background-color: #e3e3e3;
          border:none;
        }
      }
      &.active{
        & > a{
          background-color: #ddd;
          border: 1px solid #ddd;
          color: #333;
          &:hover,
          &:focus{
            color: #333;
            background-color: #ddd;
            border: 1px solid #ddd;
            cursor: default;
          }
        }
      }
    }
  }
}
#login-page{
  .panel-heading{
    text-align: center;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
  }
  .home-logo{
    max-height: 90px;
    margin:60px 0 30px 0;
  }
}
.navbar-default .navbar-nav > .dropdown > a.dropdown-toggle:hover{
  background-color: $brand-secondary;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: $brand-secondary;
  color: #fff;
}

.navbar-default .navbar-nav .list-group{
  margin-bottom: 0;
}
#patient-portal{

}