<template>
    <div class="app-container">
        <!-- <div class="app-row nav-wedge"></div> -->
        <div class="app-row">
            <div class="app-cell app-content-cell">
                <div class="app-content-cell-inner">
                    <div class="app-content-container">
                        <div class="app-content-container-table">
                            <div class="app-row">
                                <div class="app-cell width-25">
                                    <div class="app-table app-full">
                                        <div class="app-row">
                                            <div class="app-cell content-container" style="vertical-align:top;">
                                                <!-- Start Events Column -->
                                                <div class="content-title">
                                                    <div class="panel-heading">
                                                           <span>
                                                                <h3 class="panel-title">
                                                                    Events <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                                                </h3>
                                                           </span>
                                                    </div>
                                                </div>
                                                <div class="content-overflow">
                                                    <div id="events-column">
                                                        <div id="events-panel" class="panel panel-success">
                                                            <div class="panel-body">
                                                                <ul id="filterAccordion">
                                                                    <li class="accordion accordion-5" data-filter="alert_types">
                                                                        <div data-accordion-parent="accordion-5">
                                                                            <input type="checkbox" checked value="alert_types" v-model="viewAlertTypes" id="alert_types" @click='filterChildren("alert_types")'><span @click="accordionAction('accordion-5')">Alert Types</span><span class="arrow_wrapper" @click="accordionAction('accordion-5')"></span>
                                                                        </div>
                                                                        <ul id="alert_types_list">
                                                                            <li>
                                                                                <template v-if="redAlerts">
                                                                                    <input type="checkbox" value="red" v-model="filterIDs" />
                                                                                    <div>Red Alerts <span class="eventCount">({{ redAlerts }})</span></div>
                                                                                </template>
                                                                                <template v-else>
                                                                                    <input type="checkbox" value="red" disabled />
                                                                                    <div>Red Alerts <span class="eventCount">(0)</span></div>
                                                                                </template>
                                                                                <template v-if="yellowAlerts">
                                                                                    <input type="checkbox" value="yellow" v-model="filterIDs" />
                                                                                    <div>Yellow Alerts <span class="eventCount">({{ yellowAlerts }})</span></div>
                                                                                </template>
                                                                                <template v-else>
                                                                                    <input type="checkbox" value="yellow" disabled />
                                                                                    <div>Yellow Alerts <span class="eventCount">(0)</span></div>
                                                                                </template>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-cell width-50">
                                    <div class="app-table app-full">
                                        <div class="app-row">
                                            <div class="app-cell content-container" style="vertical-align:top;">
                                                <!-- Start Alerts Column -->
                                                <div class="content-title">
                                                    <div class="panel-heading">
                                                           <span v-if="alerts">
                                                               <div class="clearfix">
                                                                    <h3 class="panel-title pull-left">
                                                                        Alerts
                                                                    </h3>
                                                                    <a href="#" @click="refreshView" class="pull-right"><i class="fa fa-refresh"></i></a>
                                                               </div>
                                                           </span>
                                                        <span v-else>
                                                                    <h3 class="panel-title"><i class="fa fa-spin fa-spinner"></i></h3>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="content-overflow">
                                                    <div id="strips-column">
                                                        <div class="panel panel-success">
                                                            <div class="panel-body">
                                                                <div id="graphsPanel">
                                                                    <div v-if="alerts" id="innerGraphs" class="panel-group">
                                                                        <template v-for="(alert, key) in alerts">
                                                                            <div id="patientAlertsAccordion" class="panel panel-default paid-{{key.patient_id}}">
                                                                                <div class="panel-heading">
                                                                                    <h4 class="panel-title">
                                                                                        <span class="clearfix">
                                                                                            <div class="patient-header pull-left">
                                                                                                <span class="arrow_wrapper" data-toggle="collapse" data-target="#pid-{{key.patient_id}}" @click="patientAccordionAction(key.patient_id)"></span>
                                                                                                <a :href="'/patient-portal/recordings/'+key.patient_id+'/'+key.alerts[0].recording_session_id">
                                                                                                   {{ alert }}
                                                                                                </a>
                                                                                            </div>
                                                                                            <small style="margin:0px 0px 0px 15px;">
                                                                                                <span class="label label-danger label-as-badge">{{ key.alert_count.red }}</span>
                                                                                                <span class="label label-warning label-as-badge">{{ key.alert_count.yellow }}</span>
                                                                                            </small>
                                                                                            <span class="pull-right">
                                                                                                <a href="#" @click="holterReport(key)" class="label label-danger"><i class="fa fa-file-pdf-o"></i> Holter Report</a>
                                                                                                <a href="#" @click="transmissionReport(key)" class="label label-info"><i class="fa fa-file-pdf-o"></i> Transmission Report</a>
                                                                                            </span>
                                                                                        </span>
                                                                                    </h4>
                                                                                </div>
                                                                                <div id="pid-{{key.patient_id}}" class="collapse in">
                                                                                    <div class="panel-body">
                                                                                        <template v-if="key.alerts">
                                                                                            <template v-for="recording in key.alerts">
                                                                                                <div :id="recording.alert_id">
                                                                                                    <div :id="recording.recording_id" class="center-block text-center graphContainer"
                                                                                                         :class="{
                                                                                                    active: recording.recording_id == recording_id,
                                                                                                    inactive: recording.recording_id != recording_id
                                                                                                }">
                                                                                                    <span class="clearfix">
                                                                                                            <span class="pull-left">
                                                                                                                <span class="clearfix">
                                                                                                                    <small class="pull-left" v-show="recording.flagged">
                                                                                                                        <span class="label label-danger">
                                                                                                                            <i class="fa fa-flag"></i> {{ recording.flagged }}
                                                                                                                        </span>
                                                                                                                    </small>
                                                                                                                    <small class="pull-left" v-show="!recording.flagged">
                                                                                                                            Submitted {{ recording.created_at }}
                                                                                                                    </small>
                                                                                                                </span>
                                                                                                            </span>
                                                                                                            <span class="pull-right flag-clear">
                                                                                                                  <button style="border:none;border-style:none;border-image:none;border-color:none;" :disabled="isFlagging" @click="clearSelected(recording.alert_id)" class="label label-primary">
                                                                                                                        <span v-if="isClearing">
                                                                                                                          <i class="fa fa-spinner fa-spin"></i> Clearing
                                                                                                                      </span>
                                                                                                                      <span v-else>
                                                                                                                          <i class="fa fa-check-circle-o"></i> Clear
                                                                                                                      </span>
                                                                                                                  </button>
                                                                                                            </span>
                                                                                                        </span>
                                                                                                        <a href="#" @click.prevent="renderRecording" :id="recording.recording_hash">
                                                                                                            <img
                                                                                                                    :src="recording.graph"
                                                                                                                    class="img-responsive"
                                                                                                            />
                                                                                                        </a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </template>
                                                                                        </template>
                                                                                        <template v-else>
                                                                                            {{ key.alerts }}
                                                                                            <h3><i class="fa fa-spinner fa-spin"></i> Loading alerts...</h3>
                                                                                        </template>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </template>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div v-if="!alerts" class="text-center">
                                                        <h1><i class="fa fa-refresh fa-spin"></i> Fetching Patient Recordings...</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-cell width-25">
                                    <div class="app-table app-full">
                                        <div class="app-row">
                                            <div class="app-cell content-container" style="vertical-align:top;">
                                                <!-- Start Data Column -->
                                                <div class="content-title">
                                                    <div class="panel-heading">
                                                       <span>
                                                            <h3 class="panel-title">
                                                                Data
                                                            </h3>
                                                       </span>
                                                    </div>
                                                </div>
                                                <div class="content-overflow">
                                                    <div v-if="ecgData">
                                                        <ecg-graph-display :additional_data.sync="additional_data" :recording.sync="recording_id" :data="ecgData" :reported="reported_events"  :notes.sync="notes" :remeasurements.sync="remeasurements"></ecg-graph-display>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-row">
            <div class="app-cell vertical-align-middle">
                <div class="bottom-container">
                    <!-- Placeholder for the chart -->
                    <div id="recording">
                        <!--<h1><i class="fa fa-refresh fa-spin" style="z-index:-1"></i> Loading ECG Recording...</h1>-->
                        <div id="ecg-graph"></div>
                    </div>
                </div>
            </div>
        </div>
        <referral-dialog-box :show.sync="showReferralDialog" :user.sync="user" :recording_id.sync="recording_id"></referral-dialog-box>
        <transmission-report-modal :show.sync="showTransmissionReport" :user.sync="user"></transmission-report-modal>
        <holter-summary-report-modal :show.sync="showHolterReport" :user.sync="user"></holter-summary-report-modal>
    </div>
</template>

<script>
    // Imports
    import _ from 'underscore';
    import moment from 'moment';
    import EcgGraphDisplay from '../ecg-graph/EcgGraphDisplayPatient.vue';
    import ReferralDialogBox from '../referrals/ReferralDialogBox.vue';
    import TransmissionReportModal from '../reports/TransmissionReportModal.vue';
    import HolterSummaryReportModal from '../reports/HolterSummaryReportModal.vue';

    export default {
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {
            this.$http.get('/api/v1/alerts').then((response) => {
                this.alerts = response.data.data;
                this.redAlerts = response.data.red_alerts;
                this.yellowAlerts = response.data.yellow_alerts;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });
        },
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                offset: 0,
                alerts: false,
                hashes: false,
                selected_events: null,
                event_options: false,
                additional_data: false,
                arythmias: false,
                patient_events: false,
                bad_events: false,
                isFlagging: false,
                isClearing: false,
                viewPatientEvents: false,
                viewArythmiaEvents: false,
                viewNormalEvents: false,
                viewBadEvents: false,
                viewAlertTypes: false,
                isSubmitting: false,
                normal_events: false,
                network: window.User.network,
                ecgData: false,
                recording_id: null,
                patient: false,
                recordings: false,
                graphs: false,
                event_options2: false,
                available_events: [],
                event_count: [],
                filterIDs : [],
                firstLoad : true,
                curOffset: 16,
                showTransmissionReport: false,
                showHolterReport: false,
                isLoadingGraphs: false,
                notes: false,
                remeasurements: false,
                showReferralDialog: false,
                redAlerts: false,
                yellowAlerts: false
            }
        },

        /*
         |---------------------------------------------------
         | Events                                           |
         |---------------------------------------------------
         */
        events: {
            'sync-remeasurement': function(remeasurement) {
                var vm = this;
                if(Array.isArray(this.remeasurements)) {
                    var key;
                    _.each(_.keys(vm.remeasurements), function(k){
                        var v = vm.remeasurements[k];
                        if (v.id === remeasurement.id){
                            key = k;
                        }
                    });
                    if(key) {
                        var arr = [];
                        arr.push(remeasurement);
                        this.remeasurements = [];
                        this.remeasurements = arr;
                    } else {
                        this.remeasurements.push(remeasurement);
                    }
                }
            },
            'refer-strip': function(image) {
                this.showReferralDialog = image.image;
            }
        },
        /*
         |---------------------------------------------------
         | Watch                                            |
         |---------------------------------------------------
         */
        watch:{
            'alerts': function(newVal, oldVal) {
                var hashes = [];
                _.each(newVal, function(patient){
                    _.each(patient.alerts, function(alert) {
                        hashes.push(alert.recording_hash);
                    });
                });
                this.hashes = hashes;
                this.$http.get('/api/v1/recording/' + this.hashes[0]).then((response) => {
                    this.reported_events = response.data.reported_events;
                    this.ecgData = response.data.recording_data;
                    this.recording_id = response.data.id;
                    this.notes = response.data.recording_notes;
                    this.remeasurements = response.data.recording_remeasurements;
                    this.additional_data = {
                        body_position: response.data.body_position,
                        breathing_rate: response.data.breathing_rate
                    }
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
            },
            // Added for paginator
            'recording_id': function(newValue, oldValue) {
                if(newValue && newValue !== null) {
                    var length = $("#innerGraphs > div").length;
                    if(length > 0) {
                        var parentDiv = $("#graphsPanel");
                        var innerListItem = $("#"+newValue);
                        parentDiv.scrollTop(parentDiv.scrollTop() + (innerListItem.position().top - parentDiv.position().top));
                    }
                }
            },

            'filterIDs': function(){
                //if (this.firstLoad == false){
                    this.isSubmitting = true;
                    this.$http.get('/api/v1/alerts/?filter='+this.filterIDs).then((response) => {
                        this.isSubmitting = false;
                        this.alerts = response.data.data;
                        this.redAlerts = response.data.red_alerts;
                        this.yellowAlerts = response.data.yellow_alerts;
                    }, (response) => {
                        console.error(JSON.stringify(response.data));
                    });
                //} else {
                   // this.firstLoad = false;
               //}
            },
            'graphs':function(){
                // this.setHeight();
            },
            'notes':function(){
                // this.setHeight();
            }
        },
        /*
         |---------------------------------------------------
         | Methods                                          |
         |---------------------------------------------------
         */
        methods: {

            'transmissionReport': function(alert) {
                this.showTransmissionReport = alert.patient_id;
            },

            'holterReport': function(alert) {
                this.showHolterReport = alert.patient_id;
            },

            /**
             * Clear the selected alerts
             */
            'clearSelected': function(alert_id) {
                this.isClearing = true;
                this.$http.post('/api/v1/alerts/clear', {alerts: alert_id}).then((response) => {
                    this.isClearing = false;
                    _.each(response.data, function(alert){
                        $("#"+alert).fadeOut();
                    });
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
            },

            /**
             * Flag the selected alerts
             */
            'flagSelected': function(alert_id) {
                this.isFlagging = true;
                this.$http.post('/api/v1/alerts/flag', {alerts: alert_id}).then((response) => {
                    this.isFlagging = false;
                    _.each(response.data, function(alert){
                        $("#"+alert).fadeOut();
                    });
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
            },

            /** Other shit **/
            'refreshView': function(e) {

                return false;
            },
            'renderRecording': function(e) {
                this.ecgData = false;
                this.recording_id = false;
                this.$http.get('/api/v1/recording/' + event.currentTarget.id).then((response) => {
                    this.reported_events = response.data.reported_events;
                    this.ecgData = response.data.recording_data;
                    this.recording_id = response.data.id;
                    this.notes = response.data.recording_notes;
                    this.remeasurements = response.data.recording_remeasurements;
                    this.additional_data = {
                                                breathing_rate: response.data.breathing_rate,
                                                body_position: response.data.body_position,
                                                is_clipped: response.data.is_clipped
                                            }

                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
            },
            'loadEvents': function(){
                this.$http.get('/api/v1/ecg_events').then((response)=> {
                    //var events = [];
                    var events = [];
                    this.arythmias = response.data.arythmias;
                    this.bad_events = response.data.bad_events;
                    this.normal_events = response.data.normal_events;
                    this.patient_events = response.data.patient_events;
                    _.each(response.data.arythmias, function(value, name){
                        //events.push({id: name, name: value});
                        events.push(name);
                    });
                    _.each(response.data.bad_events, function(value, name){
                        //events.push({id: name, name: value});
                        events.push(name);
                    });
                    _.each(response.data.normal_events, function(value, name){
                        //events.push({id: name, name: value});
                        events.push(name);
                    });
                    _.each(response.data.patient_events, function(value, name){
                        //events.push({id: name, name: value});
                        events.push(name);
                    });
                    //this.event_options = events;
                    this.event_options2 = events;
                }, (response) =>{
                    console.error(response.data);
                });
            },

            /**
             * Find recordings given a set of events
             *
             * @param null
             */
            'findRecordings': function() {
                this.isSubmitting = true;
                this.$http.post('/api/v1/recordings/events/', {events: this.selected_events, session_id:  + this.$route.params.session_id}).then((response) => {
                    this.isSubmitting = false;
                    this.graphs = false;
                    this.recordings = response.data;
                    this.getRecordingGraphs();
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
            },

            /**
             * Filter the events by clicking a button and stuff
             * @param e (not sure why I passed the event here...)
             */
            'addOrRemoveEvents': function(e) {
                this.isSubmitting = true;
                this.event_options = false;
                //var events = [];
                var events = [];
                if(this.viewPatientEvents) {
                    _.each(this.patient_events, function(value, name){
                        events.push(name);
                    });
                }
                if(this.viewNormalEvents) {
                    _.each(this.normal_events, function(value, name){
                        events.push(name);
                    });
                }
                if(this.viewArythmiaEvents) {
                    _.each(this.arythmias, function(value, name){
                        events.push(name);
                    });
                }
                if(this.viewBadEvents) {
                    _.each(this.bad_events, function(value, name){
                        events.push(name);
                    });
                }
                this.event_options2 = events;
                this.isSubmitting = false;
            },

            'accordionAction': function(className) {
                $('li.' + className).toggleClass('collapsed');
            },

            'patientAccordionAction': function(className) {
                $('div.paid-' + className).toggleClass('collapsed');
            },

            'filterChildren': function(list){
                console.log("#" + list);
                $("#" + list + "_list li input").trigger('click');

            },

            'countAvailableEvents' : function() {

                var array_elements = this.available_events;
                array_elements.sort();

                var current = null;
                var cnt = 0;
                for (var i = 0; i < array_elements.length; i++) {
                    if (array_elements[i] != current) {
                        if (cnt > 0) {
                        }
                        current = array_elements[i];
                        if (cnt == 0) {
                            this.event_count[current] = new Object();
                        }

                        cnt = 1;
                        this.event_count[current] = cnt;
                    } else {

                        cnt++;

                        this.event_count[current] = cnt;
                    }
                }
                if (cnt > 0) {
                    this.event_count[current] = cnt;
                }

                var ids = [];
                $.each(this.available_events, function(i, el){
                    if ($.inArray(el, ids) === -1) {
                        ids.push(el);
                    }
                });
                this.filterIDs = ids;
            }

        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: {
            'ecg-graph-display': EcgGraphDisplay,
            'referral-dialog-box': ReferralDialogBox,
            'transmission-report-modal': TransmissionReportModal,
            'holter-summary-report-modal': HolterSummaryReportModal
        },
        /*
         |---------------------------------------------------
         | Directives                                       |
         |---------------------------------------------------
         */
        directives: {
            select: {
                twoWay: true,
                priority: 1000,
                params: ['options'],
                bind: function () {
                    var self = this;
                    $(this.el)
                        .select2({
                            data: this.params.options
                        })
                        .on('change', function() {
                            self.set($(self.el).val());
                        })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },
        },
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user'],
    }
</script>


<style lang="sass">

    a.patient-header {
        display: block;
        text-decoration: none;
    }

    a.patient-header:hover,
    a.patient-header>.active,
    a.patient-header:focus{
        text-decoration: none;
    }

    #page-content-wrapper {
        margin-top: 35px;
    }
    .panel {
        margin-bottom: 15px;
    }

    .panel-body {
        padding: 7px;
    }

    .row {
        margin-left: -7px;
        margin-right: -7px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 7px;
        padding-right: 7px;
    }
    .panel-heading {
        padding: 5px 10px;
    }
    #sidebar-wrapper {
        display: none;
    }
    #wrapper {
        padding: 0 0 0 0;
    }

    #events-column {
        //padding-right: 0;
    }

    #strips-column {
        //padding-right: 0;
        //padding-left: 0;
        //border: solid 1px #020430;
    }

    #graphsPanel {
        //height: 676px;
        overflow-y: scroll;
        border: solid 1px #000;
        border-bottom: solid 2px;
    }

    #data-column {
        padding-left: 0;
    }

    #current-strip-column {
        
        .current-strip {
            border: solid 1px #020430;
            padding: 0 7px;
        }
    }


    #graphsPanel {
        .graphContainer {
            border-bottom: solid 1px #ccc;
            &.active {
                border: 2px solid orange;
                box-shadow: 0px 2px 9px #000;
            }
            &.inactive {
                //border: 2px solid #FFF;
            }
            small {
                background: rgba(102, 133, 194, 0.1);
                width: 100%;
                display: block;
                padding-left: 10px;
                padding-top: 3px;
                text-align: left;
            }
            a {
                img {
                    
                }
            }
        }
    }

    .form-horizontal .control-label {
        padding-top: 9px;
    }

    .radio-inline, .checkbox-inline {
        padding-top: 9px;
    }

    #events-panel .panel-body, #data-column .panel-body  {
        padding: 7px;
        overflow-y: scroll;
        background: #eee;
    }

    #strips-column {
        padding-right: 0;
        padding-left: 0;
    }

    #strips-column .panel-body  {
        background: #eee;
    }

    #data-panel .panel-success {
        border: solid 1px;
    }

    #actions-panel {
        .panel-success {
            border: solid 1px;
        }
        h3:not(.panel-title){
            display: none;
        }
    }

    #filterAccordion {

        list-style: none;
        margin: 0;
        padding: 0;
        border: solid 1px #000;

        li {
          cursor: pointer; 
        }

        .accordion {

            list-style-type: none;
            margin: 0;
            padding: 0;
            background: rgba(102, 133, 194, 0.298039);

            div {

                display: block;
                width: 100%;
                padding-left: 0;

                input {
                    margin: 5px 7px 0 7px;
                    //width: 16px;
                    //height: 16px;
                    float: left;
                }
                span.arrow_wrapper {
                    position: relative;
                    top: -3px;
                    display: block;
                    right: 0;
                    float: right !important;
                    width: 24px;
                    height: 24px;
                    &::after {
                        content: "";
                        display: block;
                        width: 0; 
                        height: 0; 
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        border-top: 7px solid #000;
                        position: absolute;
                        right: 12px;
                        top: 12px;
                    }
                }
                span:not(.eventCount) {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 23px;
                    //position: relative;
                    //top: -1px;
                    display: block;
                    float: left;
                    //width: 88%;
                    
                    
                }

                span.eventCount {
                    display: block;
                    float: right;
                }
            }

            &.collapsed {
                ul {
                    height: 0;
                    overflow: hidden;
                    -webkit-transition: height 0.8s;
                    -moz-transition: height 0.8s;
                    transition: height 0.8s;
                }
                div {
                    span {
                        &::after {
                            display: block;
                            width: 0; 
                            height: 0;
                            border-right: none;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 7px solid #000;
                            top: 8px;
                        }
                    }
                }

            }

            

            ul {
                background: #fff;
                list-style: none;
                margin: 0;
                padding: 0;
                clear: both;
                border-top: solid 1px #000;

                li {

                    list-style-type: none;
                    margin: 0;
                    padding: 0 10px 0 20px;
                    text-transform: lowercase;
                    text-transform: capitalize;
                    font-weight: bold;
                    font-size: 10px;

                    display: block;
                    width: 100%;
                    border-bottom: solid 1px #000;
                    line-height: 23px;
                    &:nth-child(even) {
                        background-color: #e6e7e8;
                    }

                    input {
                        margin: 5px;
                        width: 12px;
                        height: 12px;
                        float: left;
                    }

                    div {
                        border: none;
                        padding-left: 5px;
                        line-height: 23px;
                        &.disabled_event {
                            color: #999;
                        }
                    }

                }

            }
        }
    }

    #ecg-graph {
        border: inset 1px #000;
    }

    .panel {
        //margin-bottom: 0;
    }

    .save_recording {
        margin-top: 15px;
    }

    .margin-top {
        margin-top:45px;
    }

    #events-panel::-webkit-scrollbar {
        color: #00b2ee;;
    }

    .label-as-badge {
        border-radius: 1em;
        border: 2px solid #fff;
    }

// // STYLES Added by Jeremy

// .display-table{display: table !important;}
// .display-table-row{display: table-row !important;}
// .display-table-cell{display: table-cell !important;}

// .display-inline{display: inline-block !important;}

// .vertical-align-top{vertical-align: top !important;}
// .vertical-align-middle{vertical-align: middle !important;}
// .vertical-align-bottom{vertical-align: bottom !important;}

// .width-20{  width: 20% !important; }
// .width-25{  width: 25% !important; }
// .width-30{  width: 30% !important; }
// .width-33{  width: 33.333% !important; }
// .width-40{  width: 40% !important; }
// .width-45{  width: 45% !important; }
// .width-50{  width: 50% !important; }
// .width-60{  width: 60% !important; }
// .width-66{  width: 66.666% !important; }
// .width-70{  width: 70% !important; }
// .width-75{  width: 75% !important; }
// .width-80{  width: 80% !important; }
// .width-90{  width: 90% !important; }
// .width-100{  width: 100% !important; }

// .clear-both{
//     display: block;
//     position: relative;
//     width:100%;
//     clear: both;
//     height: 0;
// }

// .float-right{
//     float: right !important;
// }
// .float-left{
//     float: left !important;
// }

// p{
//     margin-bottom: 20px;
// }

// // .app-container{
// //     display: table;
// //     position: absolute;
// //     top: 0;
// //     bottom: 0;
// //     right: 0;
// //     left: 0;
// //     width: 100%;
// //     height: 100%;
// //     z-index: 10;
// // }


// .app-container{
//     display: table;
//     position: absolute;
//     top: 45px;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     width: 100%;
//     height: calc(100% - 45px);
//     z-index: 10;
// }

// .app-table{
//     display: table;
//     position: relative;
// }
// .app-row{
//     display: table-row;
//     position: relative;
// }
// .app-cell{
//     display: table-cell;
//     position: relative;
// }
// .app-full{
//     height:100%;
//     width: 100%;
// }
// .app-content-cell{
//     height: 100%;
// }
// .app-content-cell-inner{
//     position:relative;
//     width:100%;
//     height:100%;

// }
// .app-content-container{
//     position:relative;
//     margin:0 auto;
//     width:100%;
//     background:#ffffff;
//     height:100%;
//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
// }
// .app-content-container-table{
//     display: table;
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
// }

// .content-left-container{
//     background: #8393be;
//     width: 38%;
//     height:100%;
//     vertical-align: middle;
// }
// .content-container{
//     background: #ffffff;
//     height:100%;
// }
// .content-title{
//     overflow: visible;
//     position:absolute;
//     width:100%; 
//     height:24px; 
//     top:0; 
//     left:0; 
//     right:0;
// }
// .content-overflow{
//     overflow:auto;
//     overflow-x:hidden;
//     position:absolute; 
//     width:100%; 
//     height:calc(100% - 24px);
//     top:24px;
//     bottom:0;
//     left:0; 
//     right:0;
// }

// .bottom-container{
//     display: block;
//     position:relative;
//     margin:0 auto;
//     width:100%;
//     height:100%;
//     padding: 2px;
//     background-color:#eee;
// }

// #recording {
//     margin: 0;
// }
// .nav-wedge{
//     height:45px;
// }
// .app-container .panel-success > .panel-heading {
//     background-color: #eee;
//     border: none;
//     color: #333;
// }
// .app-container .panel-heading {
//     padding: 5px 10px;
//     height: 24px;
// }
// .app-container #events-panel .panel-body, 
// .app-container #data-column .panel-body,
// .app-container #strips-column .panel-body{
//     overflow: initial;
//     background: transparent;
//     padding:10px;
// }
// .app-container #graphsPanel{
//     overflow: initial;
//     border-width: 1px;
// }
// .app-container .panel{
//     background-color: transparent;
//     margin: 0;
//     box-shadow: none;
//     border:none;
// }
// .app-container .panel-success{
//     border: none;
// }
// .app-container #ecg-graph {
//     border: none;
// }
// .app-container #filterAccordion li.accordion:last-child ul{
//     border-top: none;
// }
// .app-container #data-panel table.measurements{
//     margin-top: 0;
// }
// .app-container .panel-group {
//     margin-bottom: 0;
// }

</style>