<template>
    <div v-if="show">
        <div class="loading-mask" v-show="show" transition="loading">
            <div class="loading-wrapper">
                <div class="loading-container">
                    <div class="row">
                        <div class="loading-container">
                            <div class="loading-center">
                                <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i> Loading...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>



<script>

    export default{
        watch: {
            'show': function () {

            }
        },
        props: [
                'show',
        ]

    }

</script>

<style>


    .loading-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .loading-mask {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .loading-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .loading-container {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        background-color: rgba(0, 0, 0, .5);
        color: white;
        overflow-y: scroll;
        transition: all .3s ease;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
    }

    .loading-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .loading-body {
        margin: 20px 0;
    }

    .loading-default-button {
        float: right;
    }

    .loading-enter, .loading-leave {
        opacity: 0;
    }

    .loading-enter .loading-container,
    .loading-leave .loading-container {
        -webkit-transform:  translateY(-1000px);
        transform: translateY(-1000px);
    }

    label {
        font-weight: 700;
    }

</style>