<template>
    <div v-if="remeasurementsLoaded">
        <h3>Summary Report</h3>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="ss-openbook"></i> Summary Report
                </h3>
            </div>
            <div class="panel-body">
                <div v-if="remeasurementsLoaded">
                    <table class="table table-responsive table-bordered text-center measurements">
                        <tr>
                            <th>Type</th>
                            <th>High</th>
                            <th>Low</th>
                        </tr>
                        <tr>
                            <th class="qrs">QRS</th>
                            <td>{{ qrsHigh }}</td>
                            <td>{{ qrsLow }}</td>
                        </tr>
                        <tr>
                            <th class="qt">QT</th>
                            <td>{{ qtHigh }}</td>
                            <td>{{ qtLow }}</td>
                        </tr>
                        <tr>
                            <th class="pr">PR</th>
                            <td>{{ prHigh }}</td>
                            <td>{{ prLow }}</td>
                        </tr>
                        <tr>
                            <th class="rr">RR</th>
                            <td>{{ rrHigh }}</td>
                            <td>{{ rrLow }}</td>
                        </tr>
                    </table>
                </div>
                <div v-else>
                    <h3><i class="fa fa-spinner fa-spin"></i>
                        Analyizing Data
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div v-if="event_payload">
        <h3>Events <span v-if="event_payload.number_of_events">({{ event_payload.number_of_events}})</span></h3>
        <div v-for="event in event_payload.events_filtered_json_data">
            <div v-if="event.ABNORMAL_EVENT == true">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                                <span class="clearfix">
                                    <span class="pull-left">
                                        {{ event.DESCRIPTION_SHORT }}
                                    </span>
                                    <span class="pull-right">
                                        {{ event.EVENT_TIME }}
                                    </span>
                                </span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{ event.DESCRIPTION_FULL }}
                        <div v-if="event.MEASUREMENTS">
                            <h5>Details:</h5>
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <strong>H.R Average:</strong> {{ event.MEASUREMENTS.HR_AVER }}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>H.R. Max:</strong> {{ event.MEASUREMENTS.HR_MAX }}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>H.R. Min:</strong>  {{ event.MEASUREMENTS.HR_MIN }}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>P.R. Average:</strong> {{ event.MEASUREMENTS.PR_AVER }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <strong>QRS Average:</strong> {{ event.MEASUREMENTS.QRS_AVER }}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>QT Average:</strong>  {{ event.MEASUREMENTS.QT_AVER }}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>ST Average:</strong>  {{ event.MEASUREMENTS.ST_AVER }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <div v-else>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="clearfix">
                                <span class="pull-left">
                                        {{ event.DESCRIPTION_SHORT }}
                                </span>
                                <span class="pull-right">
                                        {{ event.EVENT_TIME }}
                                </span>
                            </span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="clearfix">
                            <div class="pull-left">
                                {{ event.DESCRIPTION_FULL }}
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-warning" href="#" @click="inspectEvent(event)">
                                    <i class="fa fa-search"></i>
                                    Inspect Event
                                </a>
                            </div>
                        </div>
                        <div v-if="event.MEASUREMENTS">
                            <h5>Details:</h5>
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <strong>H.R Average:</strong> {{ event.MEASUREMENTS.HR_AVER }}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>H.R. Max:</strong> {{ event.MEASUREMENTS.HR_MAX }}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>H.R. Min:</strong>  {{ event.MEASUREMENTS.HR_MIN }}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>P.R. Average:</strong> {{ event.MEASUREMENTS.PR_AVER }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <strong>QRS Average:</strong> {{ event.MEASUREMENTS.QRS_AVER }}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>QT Average:</strong>  {{ event.MEASUREMENTS.QT_AVER }}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>ST Average:</strong>  {{ event.MEASUREMENTS.ST_AVER }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <h3><i class="fa fa-spin fa-spinner"></i></h3>
    </div>
</template>

<style>
    .measurements th {
        background-color: #000;
        color: #fff;
        font-weight: 800;
        text-align: center;
    }
    .measurements th.qrs {
        background-color: #ef563b;
        color: #fff;
        font-weight: 800;
    }

    .measurements th.qt {
        background-color: #505fe5;
        color: #fff;
        font-weight: 800;
    }

    .measurements th.pr {
        background-color: #f78922;
        color: #fff;
        font-weight: 800;
    }

    .measurements th.rr {
        background-color: #c542f4;
        color: #fff;
        font-weight: 800;
    }

</style>

<script>

    // Imports
    import moment from 'moment';
    import _ from 'underscore';

    export default {
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {
            // Load up the Recording Events
            this.$http.get('/api/v1/recording/' + this.recording + '/events').then((response) => {
                this.event_payload = JSON.parse(response.data.events.event_payload);
            }, (response) => {
                console.error(JSON.stringify(response.data));
            });
        },
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                event_payload: false,
                qtMeasurements: false,
                qrsMeasurements: false,
                rrMeasurements: false,
                prMeasurements: false,
                stMeasurements: false,
                hrMaxMeasurements: false,
                hrMinMeasurements: false,
                hrAverMeasurements: false,
                qrsLow: false,
                qtLow: false,
                rrLow: false,
                prLow: false,
                qrsHigh: false,
                qtHigh: false,
                rrHigh: false,
                prHigh: false,
                remeasurementsLoaded: false,
            }
        },
        /*
         |---------------------------------------------------
         | Watch                                            |
         |---------------------------------------------------
         */
        watch: {
            'event_payload': function (val) {
                // Instantiate this for the forEach
                var vm = this;
                this.event_payload.events_filtered_json_data.forEach(function(event) {
                    var isNoiseEvent = event.NOISE_EVENT;
                    if(!isNoiseEvent) {
                        if(event.ABNORMAL_EVENT == true) {
                            vm.drawAbnormalEvent(event);
                        }
                         else {
                            vm.drawNormalEvent(event);
                        }
                    }
                });
                this.compareMeasurements();
            },
            'remeasurements': function(val) {
                this.compareMeasurements();
            },
            'qrsLow': function(val) {
                this.$dispatch('qrsLowUpdated', val);
            },
            'qtLow': function(val) {
                this.$dispatch('qtLowUpdated', val);
            },
            'rrLow': function(val) {
                this.$dispatch('rrLowUpdated', val);
            },
            'prLow': function(val) {
                this.$dispatch('prLowUpdated', val);
            }
        },
        /*
         |---------------------------------------------------
         | Events                                           |
         |---------------------------------------------------
         */
        events: {

        },
        /*
         |---------------------------------------------------
         | Methods                                          |
         |---------------------------------------------------
         */
        methods: {
            /**
             * Draw an abnormal event
             */
            'drawAbnormalEvent': function(ecg_event) {
                this.$dispatch('draw-abnormal-event', {event_mark: ecg_event.MARK, event: ecg_event});
            },
            /**
             * Draw a normal event
             */
            'drawNormalEvent': function(ecg_event) {
                this.$dispatch('draw-normal-event', {start_time: ecg_event.MARK, end_time: ecg_event.MARK + +parseFloat(ecg_event.DURATION), event: ecg_event});
            },
            /**
             * Inspect Event
             */
            'inspectEvent': function(ecg_event) {
                event.preventDefault();
                this.$dispatch('inspect-event', {start_time: ecg_event.MARK, end_time: ecg_event.MARK + +parseFloat(ecg_event.DURATION), event: ecg_event});
            },
            /**
             * Compare measurements when remeasurements are present
             */
            'compareMeasurements': function() {
                this.remeasurementsLoaded = false;
                var vm = this;
                var hrAverMeasurements = [];
                var qtAverMeasurements = [];
                var qrsAverMeasurements = [];
                var stAverMeasurements = [];
                var prAverMeasurements = [];
                var hrMaxMeasurements = [];
                var rrAverMeasurements = [];
                var hrMinMeasurements = [];
                this.event_payload.events_filtered_json_data.forEach(function(event) {
                    var isNoiseEvent = event.NOISE_EVENT;
                    if(!isNoiseEvent) {
                        if(event.MEASUREMENTS) {
                            if(event.MEASUREMENTS) {
                                hrAverMeasurements.push(parseInt(event.MEASUREMENTS.HR_AVER, 0));
                                qtAverMeasurements.push(parseInt(event.MEASUREMENTS.QT_AVER, 0));
                                qrsAverMeasurements.push(parseInt(event.MEASUREMENTS.QRS_AVER, 0));
                                stAverMeasurements.push(parseInt(event.MEASUREMENTS.ST_AVER, 0));
                                prAverMeasurements.push(parseInt(event.MEASUREMENTS.PR_AVER, 0));
                                hrMaxMeasurements.push(parseInt(event.MEASUREMENTS.HR_MAX, 0));
                                hrMinMeasurements.push(parseInt(event.MEASUREMENTS.HR_MIN, 0));
                            }
                        }
                    }
                });
                this.remeasurements.forEach(function(remeasurement) {
                    if(remeasurement.measurement_type == 'qt')
                        qtAverMeasurements.push(remeasurement.measurement_length);
                    else if(remeasurement.measurement_type == 'qrs')
                        qrsAverMeasurements.push(remeasurement.measurement_length);
                    else if(remeasurement.measurement_type == 'st')
                        stAverMeasurements.push(remeasurement.measurement_length);
                    else if(remeasurement.measurement_type == 'pr')
                        prAverMeasurements.push(remeasurement.measurement_length);
                    else if(remeasurement.measurement_type == 'rr')
                        rrAverMeasurements.push(remeasurement.measurement_length);
                });

                this.hrMinMeasurements = hrMinMeasurements;
                this.hrMaxMeasurements = hrMaxMeasurements;
                this.prMeasurements = prAverMeasurements;
                this.stMeasurements = stAverMeasurements;
                this.qtMeasurements = qtAverMeasurements;
                this.qrsMeasurements = qrsAverMeasurements;
                this.rrMeasurements = rrAverMeasurements;
                if(this.qrsMeasurements.length == 0) {
                    this.qrsLow = 'N/A';
                    this.qrsHigh = 'N/A';
                } else {
                    this.qrsHigh = _.max(this.qrsMeasurements) + 'ms';
                    this.qrsLow = _.min(this.qrsMeasurements) + 'ms';
                }
                if(this.qtMeasurements.length == 0) {
                    this.qtLow = 'N/A';
                    this.qtHigh = 'N/A';
                } else {
                    this.qtLow = _.min(this.qtMeasurements) + 'ms';
                    this.qtHigh = _.max(this.qtMeasurements) + 'ms';
                }
                if(this.rrMeasurements.length == 0) {
                    this.rrLow = 'N/A';
                    this.rrHigh = 'N/A';
                } else {
                    this.rrLow = _.min(this.rrMeasurements) + 'ms';
                    this.rrHigh = _.max(this.rrMeasurements) + 'ms';
                }
                if(this.prMeasurements.length == 0) {
                    this.prLow = 'N/A';
                    this.prHigh = 'N/A';
                } else {
                    this.prLow = _.min(this.prMeasurements) + 'ms';
                    this.prHigh = _.max(this.prMeasurements) + 'ms';
                }
                this.remeasurementsLoaded = true;
            },
            'overrideRemeasurement': function() {

            }
        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: [],
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user', 'recording', 'graphMax', 'remeasurements']
    }
</script>