<template>
    <div>
        <!-- Placeholder for the chart -->
        <div class="row">
            <div class="col-xs-12">
                <div id="ecg-graph"></div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <a href="#" @click="saveRecordingToStrips" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Save Recording To My Strips
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ecg-events :recording.sync="recording" :remeasurements.sync="remeasurements"></ecg-events>
            </div>
            <div class="col-md-6">
                <ecg-notes :recording.sync="recording" :notes.sync="notes"></ecg-notes>
            </div>
        </div>
    </div>
</template>

<script>

    import Highcharts from 'highcharts/highstock';
    // Load Highcharts Exporting Module into Highcharts
    require('highcharts/modules/exporting')(Highcharts);
    import EcgEvents from './EcgEvents.vue';
    import EcgNotes from './EcgNotes.vue';
    import moment from 'moment';
    import _ from 'underscore';

    // Global non-vue for loading up the Highchart data
    var ecgChart;

    export default{
        data() {
            return {
                ecgChart: false,
                xRange: false,
                yRange: false,
                event: false,
                sharedNotes: false,
                customLabels: [],
                caliperStartPoint: false,
                caliperEndPoint: false,
                caliperStartObject: false,
                caliperEndObject: false,
                clickXStart: false,
                clickXEnd: false,
                clickY: 0,
                topOffset: false,
                stripClip: false,
                getCaliperType: false,
                draggableStartPoint: false,
                draggableEndPoint: false,
                isRemeasuring: false,
                isEditing: false,
                isConfirmingMeasurement: false,
                prMeasurementBtn: false,
                qtMeasurementBtn: false,
                qrsMeasurementBtn: false,
                rrMeasurementBtn: false,
                confirmMeasurementBtn: false,
                paths: [],
            }
        },
        ready: function(){
            this.renderEcgGraph();
            this.sharedNotes = this.notes;
            if(this.remeasurements.length > 0) {
                var vm = this;
                _.each(this.remeasurements, function(measurement){
                    vm.addRemeasurement(measurement);
                });
            }
        },
        events: {
            'inspect-event': function(e) {
                var min = e.start_time * 1000;
                var max = e.end_time * 1000;
                this.event = e.event;
                ecgChart.xAxis[0].setExtremes(min, max);
            },
            'draw-abnormal-event': function(e) {
                // Center the event
                var ms_center = e.event_mark * 1000;
                // Add some padding to the plot band
                var ms_start = ms_center - 50;
                var ms_end = ms_center + 50;
                // If the ms_end calculated is greater than the graph xRange, make it go to the end of the graph
                if(ms_end > this.xRange.dataMax)
                // Set the ms_end to the xRange Maximum if this is the case
                    ms_end = this.xRange.dataMax;

                ecgChart.xAxis[0].addPlotBand({
                    label: {
                        text: e.event.DESCRIPTION_SHORT,
                    },
                    zIndex: 0,
                    color: 'orange',
                    from: ms_start,
                    to: ms_end
                });
            },
            'draw-normal-event': function(e) {
                var ms_start = e.start_time * 1000;
                var ms_end = e.end_time * 1000;

                if(ms_end > this.xRange.dataMax)
                    ms_end = this.xRange.dataMax;

                ecgChart.xAxis[0].addPlotBand({
                    label: {
                        text: e.event.DESCRIPTION_SHORT,
                        zIndex: 3,
                    },
                    zIndex: 0,
                    color: '#feffed',
                    from: ms_start,
                    to: ms_end
                });
            }
        },
        methods: {

            /**
             * Set the caliper measurement
             */
            'setMeasurement': function(type) {
                if(type == 'qt') {
                    this.isRemeasuring = 'qt';
                    this.topOffset = 210;
                }
                else if(type == 'qrs') {
                    this.isRemeasuring = 'qrs';
                    this.topOffset = 100;
                }
                else if(type == 'pr') {
                    this.isRemeasuring = 'pr';
                    this.topOffset = 135;
                }
                else if(type == 'rr') {
                    this.isRemeasuring = 'rr';
                    this.topOffset = 275;
                }
                else {
                    this.isRemeasuring = false;
                }
            },

            /**
             * Set the caliper start point
             */
            'setCaliperStartPoint': function(xPoint) {
                var vm = this;
                this.caliperStartPoint = xPoint;
                this.caliperStartObject = ecgChart.xAxis[0].addPlotLine({
                    color: 'black',
                    dashStyle: 'dash',
                    label: {
                        /**text: vm.convertMillisecondsToReadable(xPoint)**/
                    },
                    zIndex: 6,
                    id: 'caliper-start',
                    value: xPoint,
                    width: 2,
                    events: {
                        click: function () {

                        },
                    }
                });
                this.draggableStartPoint = this.caliperStartObject.svgElem.css({
                    'cursor': 'pointer'
                }).translate(0, 0)
                        .on('mousedown', vm.startDragStartObject);
            },

            /**
             * Set the caliper end point
             */
            'setCaliperEndPoint': function(xPoint, isFirst) {
                var vm = this;
                if(xPoint > this.caliperStartPoint) {
                    this.caliperEndPoint = xPoint;
                    this.caliperEndObject = ecgChart.xAxis[0].addPlotLine({
                        color: 'black',
                        dashStyle: 'dash',
                        label: {
                           //text: this.convertMillisecondsToReadable(xPoint)
                        },
                        zIndex: 2,
                        id: 'caliper-end',
                        value: xPoint,
                        width: 2,
                        events: {
                            click: function () {

                            },
                        }
                    });
                    this.draggableEndPoint = this.caliperEndObject.svgElem.css({
                        cursor: 'pointer'
                    }).translate(0, 0)
                            .on('mousedown', vm.startDragEndObject);
                    var timeSlice = (this.caliperEndPoint - this.caliperStartPoint) / 1000;
                    var value = null;
                    var yValues = [];
                    var points=ecgChart.series[0].data;
                    for(var i=0;i<points.length;i++){
                        if(points[i].x >= this.caliperStartPoint && points[i].x <= this.caliperEndPoint)
                        {
                            value = {x: points[i].x, y: points[i].y};
                            yValues.push(value);
                        }
                    }
                    vm.confirmMeasurementBtn.setState(0);
                    if(vm.isRemeasuring == 'qt')
                        var color = '#505fe5';
                    else if(vm.isRemeasuring == 'pr')
                        var color = '#f78922';
                    else if(vm.isRemeasuring == 'qrs')
                        var color = '#ef563b';
                    else if(vm.isRemeasuring == 'rr')
                        var color = '#c542f4';
                    ecgChart.addSeries({
                        name: 'Remeasured',
                        data: yValues,
                        color: color,
                    });
                    ecgChart.redraw();
                    this.stripClip = yValues;
                    var lastPos = yValues.pop();
                }
            },

            /**
             * Start dragging a caliper
             */
            'startDragEndObject': function(e) {
                var line = this.draggableEndPoint;
                var vm = this;
                $(document).bind({
                    'mousemove.line': vm.stepDragEndObject,
                    'mouseup.line': vm.stopDragEndObject
                });
                this.clickXEnd = e.pageX - line.translateX;

                if(this.caliperEndObject) {

                }
            },

            /**
             * A singular step in the drag function to translate
             * the SVG element of the plot line
             * to a new X position
             */
            'stepDragEndObject': function(e) {
                this.draggableEndPoint.translate(e.pageX - this.clickXEnd)
            },

            /**
             * Stop dragging a caliper
             */
            'stopDragEndObject': function(e) {
                var newValue = ecgChart.xAxis[0].toValue(e.pageX - this.clickXEnd) - ecgChart.xAxis[0].toValue(0) + this.caliperEndObject.options.value;
                newValue = Math.max(ecgChart.xAxis[0].min, Math.min(ecgChart.xAxis[0].max, newValue));
                if(newValue < this.caliperStartPoint) {
                    newValue = this.caliperEndPoint;
                }
                this.updateCaliperEndPoints(newValue);
                $(document).unbind('.line');
            },

            'updateCaliperEndPoints': function(value) {
                var vm = this;

                for (var i = 0; i < ecgChart.xAxis[0].plotLinesAndBands.length; i++) {
                    if (ecgChart.xAxis[0].plotLinesAndBands[i].id === 'caliper-end') {
                        ecgChart.xAxis[0].plotLinesAndBands[i].destroy();
                        var vm = this;
                        this.caliperEndPoint = Math.round(value);
                        this.caliperEndObject = ecgChart.xAxis[0].addPlotLine({
                            color: 'black',
                            dashStyle: 'dash',
                            label: {
                                //text: vm.convertMillisecondsToReadable(value)
                            },
                            zIndex: 6,
                            id: 'caliper-end',
                            value: value,
                            width: 2,
                            events: {
                                click: function () {

                                },
                            }
                        });
                        this.draggableEndPoint = this.caliperEndObject.svgElem.css({
                            'cursor': 'pointer'
                        }).translate(0, 0)
                                .on('mousedown', vm.startDragEndObject);
                    }
                }
                ecgChart.series[2].destroy();
                var timeSlice = (this.caliperEndPoint - this.caliperStartPoint) / 1000;
                var value = null;
                var yValues = [];
                var points=ecgChart.series[0].data;
                for(var i=0;i<points.length;i++){
                    if(points[i].x >= this.caliperStartPoint && points[i].x <= this.caliperEndPoint)
                    {
                        value = {x: points[i].x, y: points[i].y};
                        yValues.push(value);
                    }
                }
                this.confirmMeasurementBtn.setState(0);
                if(this.isRemeasuring == 'qt')
                    var color = '#505fe5';
                else if(this.isRemeasuring == 'pr')
                    var color = '#f78922';
                else if(this.isRemeasuring == 'qrs')
                    var color = '#ef563b';
                else if(this.isRemeasuring == 'rr')
                    var color = '#c542f4';
                ecgChart.addSeries({
                    name: 'Remeasured',
                    data: yValues,
                    color: color,
                });
                ecgChart.redraw();
                this.stripClip = yValues;
                var lastPos = yValues.pop();
            },

            /**
             * Start dragging a caliper
             */
            'startDragStartObject': function(e) {
                var line = this.draggableStartPoint;
                var vm = this;
                $(document).bind({
                    'mousemove.line': vm.stepDragStartObject,
                    'mouseup.line': vm.stopDragStartObject
                });
                this.clickXStart = e.pageX - line.translateX;
            },

            /**
             * A singular step in the drag function to translate
             * the SVG element of the plot line
             * to a new X position
             */
            'stepDragStartObject': function(e) {
                this.draggableStartPoint.translate(e.pageX - this.clickXStart)
            },

            /**
             * Stop dragging a caliper
             */
            'stopDragStartObject': function(e) {
                var newValue = ecgChart.xAxis[0].toValue(e.pageX - this.clickXStart) - ecgChart.xAxis[0].toValue(0) + this.caliperStartObject.options.value;
                newValue = Math.max(ecgChart.xAxis[0].min, Math.min(ecgChart.xAxis[0].max, newValue));
                if(this.caliperEndPoint) {
                    if(newValue > this.caliperEndPoint)
                        newValue = this.caliperStartPoint;
                }
                this.updateCaliperStartPoints(newValue);
                $(document).unbind('.line');
            },

            /**
             * Update the caliper points for the graphz
             * @param e
             */
            'updateCaliperStartPoints': function(value) {
                var vm = this;
                for (var i = 0; i < ecgChart.xAxis[0].plotLinesAndBands.length; i++) {
                    if (ecgChart.xAxis[0].plotLinesAndBands[i].id === 'caliper-start') {
                        ecgChart.xAxis[0].plotLinesAndBands[i].destroy();
                        var vm = this;
                        this.caliperStartPoint = Math.round(value);
                        this.caliperStartObject = ecgChart.xAxis[0].addPlotLine({
                            color: 'black',
                            dashStyle: 'dash',
                            label: {
                                    //text: vm.convertMillisecondsToReadable(value)
                            },
                            zIndex: 6,
                            id: 'caliper-start',
                            value: value,
                            width: 2,
                            events: {
                                click: function () {

                                },
                            }
                        });
                        this.draggableStartPoint = this.caliperStartObject.svgElem.css({
                            'cursor': 'pointer'
                        }).translate(0, 0)
                                .on('mousedown', vm.startDragStartObject);
                    }
                }
                if(this.caliperEndPoint) {
                    ecgChart.series[2].destroy();
                    var timeSlice = (this.caliperEndPoint - this.caliperStartPoint) / 1000;
                    var value = null;
                    var yValues = [];
                    var points=ecgChart.series[0].data;
                    for(var i=0;i<points.length;i++){
                        if(points[i].x >= this.caliperStartPoint && points[i].x <= this.caliperEndPoint)
                        {
                            value = {x: points[i].x, y: points[i].y};
                            yValues.push(value);
                        }
                    }
                    this.confirmMeasurementBtn.setState(0);
                    if(this.isRemeasuring == 'qt')
                        var color = '#505fe5';
                    else if(this.isRemeasuring == 'pr')
                        var color = '#f78922';
                    else if(this.isRemeasuring == 'qrs')
                        var color = '#ef563b';
                    else if(this.isRemeasuring == 'rr')
                        var color = '#c542f4';
                    ecgChart.addSeries({
                        name: 'Remeasured',
                        data: yValues,
                        color: color,
                    });
                    ecgChart.redraw();
                    this.stripClip = yValues;
                    var lastPos = yValues.pop();
                }
            },

            /**
             * Remove a measurement by id
             */
            'removeMeasurement': function(measurement) {
                $(".measurement-"+measurement).remove();
                $(".text-for-"+measurement).remove();
                $(".measurement-start-"+measurement).remove();
                $(".measurement-end-"+measurement).remove();
            },

            /**
             * Remeasure intervals given the new caliper points
             * @param e
             */
            'submitCaliperRemeasurement': function(e) {
                var startPoint = ecgChart.series[2].data[0].x;
                var endPoint = ecgChart.series[2].data.slice(-1).pop().x;
                ecgChart.series[2].remove();
                if(this.isEditing) {
                    var payload = {
                        'recording_id': this.recording,
                        'measurement_start': startPoint,
                        'measurement_end': endPoint,
                        'measurement_length': (endPoint - startPoint),
                        'measurement_type': this.isRemeasuring,
                        'measurement_points': _.pluck(this.stripClip, 'y')
                    };
                    this.$http.put('/api/v1/remeasurements/' + this.isEditing, payload).then((response) => {
                        this.caliperStartPoint = false;
                        this.caliperEndPoint = false;
                        this.caliperStartObject = false;
                        this.caliperEndObject = false;
                        this.draggableEndPoint = false;
                        this.draggableStartPoint = false;
                        this.clickXStart = false;
                        this.clickXEnd = false;
                        this.stripClip = false;
                        this.confirmMeasurementBtn.setState(3);
                        this.prMeasurementBtn.setState(0);
                        this.qrsMeasurementBtn.setState(0);
                        this.qtMeasurementBtn.setState(0);
                        this.rrMeasurementBtn.setState(0);
                        this.stripClip = false;
                        this.isRemeasuring = false;
                        this.topOffset = false;
                        ecgChart.xAxis[0].removePlotLine('caliper-start');
                        ecgChart.xAxis[0].removePlotLine('caliper-end');
                        this.removeMeasurement(this.isEditing);
                        this.isEditing = false;
                        for (var i = 0; i < this.paths.length; i++)
                            if (this.paths[i].id === response.data.id) {
                                this.paths.splice(i, 1);
                                break;
                            }
                        this.addRemeasurement(response.data);
                        this.$dispatch('sync-remeasurement', response.data);
                    }, (response) => {
                       console.error(JSON.stringify(response.data));
                    });
                } else {
                    var payload = {
                        'recording_id': this.recording,
                        'measurement_start': startPoint,
                        'measurement_end': endPoint,
                        'measurement_length': (endPoint - startPoint),
                        'measurement_type': this.isRemeasuring,
                        'measurement_points': _.pluck(this.stripClip, 'y')
                    };
                    this.$http.post('/api/v1/remeasurements', payload).then((response) => {
                        this.caliperStartPoint = false;
                        this.caliperEndPoint = false;
                        this.caliperStartObject = false;
                        this.caliperEndObject = false;
                        this.draggableEndPoint = false;
                        this.draggableStartPoint = false;
                        this.clickXStart = false;
                        this.clickXEnd = false;
                        this.stripClip = false;
                        this.confirmMeasurementBtn.setState(3);
                        this.prMeasurementBtn.setState(0);
                        this.qrsMeasurementBtn.setState(0);
                        this.qtMeasurementBtn.setState(0);
                        this.rrMeasurementBtn.setState(0);
                        this.topOffset = false;
                        this.stripClip = false;
                        this.isRemeasuring = false;
                        ecgChart.xAxis[0].removePlotLine('caliper-start');
                        ecgChart.xAxis[0].removePlotLine('caliper-end');
                        this.addRemeasurement(response.data);
                        this.$dispatch('sync-remeasurement', response.data);
                    }, (response) => {
                        console.error(JSON.stringify(response.data));
                    });
                }
            },

            /**
             * Add a remeasurement bar to the graph
             * @param {Object} remeasurement
             */
            'addRemeasurement': function(remeasurement) {
                var vm = this;
                if(remeasurement.measurement_type == 'qt') {
                    var color = '#505fe5';
                    this.topOffset = 210;
                    var verticalLine = vm.topOffset - 80;
                }
                else if(remeasurement.measurement_type == 'pr') {
                    var color = '#f78922';
                    this.topOffset = 135;
                    var verticalLine = vm.topOffset + 95;
                }
                else if(remeasurement.measurement_type == 'qrs') {
                    var color = '#ef563b';
                    this.topOffset = 100;
                    var verticalLine = vm.topOffset + 135;
                }
                else if(remeasurement.measurement_type == 'rr') {
                    var color = '#c542f4';
                    this.topOffset = 275;
                    var verticalLine = vm.topOffset - 100;
                }

                var points=ecgChart.series[0].data;

                for(var i=0;i<points.length;i++){
                    if(points[i].x == remeasurement.measurement_start)
                    {
                        var startPoint = points[i].x;
                    }
                    else if(points[i].x == remeasurement.measurement_end)
                    {
                        var endPoint = points[i].x;
                    }
                }

                var backgroundImage = ecgChart.renderer.image('/public/img/05.jpg', -28, -5, 345, 301).add();

                var measurementStart = ecgChart.renderer.path(['M', ecgChart.xAxis[0].toPixels(startPoint), this.topOffset, 'V', this.topOffset, verticalLine])
                                                .attr({
                                                    'stroke-width': 2,
                                                    stroke: '#ccc',
                                                    class: 'measurement-start measurement-start-'+ remeasurement.id,
                                                    zIndex: 8,
                                                    dashstyle: 'dash'
                                                });
                measurementStart.add();

                var measurementEnd = ecgChart.renderer.path(['M', ecgChart.xAxis[0].toPixels(endPoint), this.topOffset, 'V', this.topOffset, verticalLine])
                                                .attr({
                                                    'stroke-width': 2,
                                                    stroke: '#ccc',
                                                    class: 'measurement-end measurement-end-' + remeasurement.id,
                                                    zIndex: 8,
                                                    dashstyle: 'dash'
                                                });
                measurementEnd.add();

                var measurement = ecgChart.renderer.path(['M', ecgChart.xAxis[0].toPixels(startPoint), this.topOffset, 'L', ecgChart.xAxis[0].toPixels(endPoint), this.topOffset])
                        .attr({
                            fill: color,
                            'stroke-width': 4,
                            stroke: color,
                            zIndex: 6,
                            class: 'measurement measurement-' + remeasurement.id,
                            id: 'measurement-' + remeasurement.id
                        }).on('click', function(){
                            ecgChart.xAxis[0].removePlotLine('caliper-start');
                            ecgChart.xAxis[0].removePlotLine('caliper-end');
                            var type = remeasurement.measurement_type;
                            if(type == 'pr') {
                                vm.topOffset = 135;
                                vm.prMeasurementBtn.setState(2);
                                vm.qrsMeasurementBtn.setState(0);
                                vm.qtMeasurementBtn.setState(0);
                                vm.rrMeasurementBtn.setState(0);
                            } else if(type == 'qrs') {
                                vm.topoffset = 100;
                                vm.qrsMeasurementBtn.setState(2);
                                vm.prMeasurementBtn.setState(0);
                                vm.qtMeasurementBtn.setState(0);
                                vm.rrMeasurementBtn.setState(0);
                            } else if(type == 'qt') {
                                vm.topOffset = 210;
                                vm.qtMeasurementBtn.setState(2);
                                vm.prMeasurementBtn.setState(0);
                                vm.qrsMeasurementBtn.setState(0);
                                vm.rrMeasurementBtn.setState(0);
                            } else if(type == 'rr') {
                                vm.topOffset = 275;
                                vm.rrMeasurementBtn.setState(2);
                                vm.prMeasurementBtn.setState(0);
                                vm.qrsMeasurementBtn.setState(0);
                                vm.qtMeasurementBtn.setState(0);
                            }
                            vm.confirmMeasurementBtn.setState(0);
                            vm.isRemeasuring = type;
                            vm.isEditing = remeasurement.id;
                            vm.setCaliperStartPoint(startPoint);
                            vm.setCaliperEndPoint(endPoint);
                        });
                var textStart = ecgChart.renderer.text(
                        remeasurement.measurement_type.toUpperCase() + ' - ' + remeasurement.measurement_length + 'ms',
                        ecgChart.xAxis[0].toPixels(startPoint - 15),
                        (vm.topOffset - 10)
                ).attr({
                    zIndex: 6,
                    class: 'measurement-text text-for-' + remeasurement.id,
                });

               /** var caliperStartText = ecgChart.renderer.text(
                        (remeasurement.measurement_start/1000) + 's',
                        ecgChart.xAxis[0].toPixels(startPoint - 25),
                        135
                ).attr({
                    zIndex: 6,
                    class: 'measurement-text text-for-' + remeasurement.id,
                    rotation: 90,
                }).css({
                    fontSize: 12
                });
                var caliperEndText = ecgChart.renderer.text(
                        (remeasurement.measurement_end/1000) + 's',
                        ecgChart.xAxis[0].toPixels(endPoint + 15),
                        135
                ).attr({
                    zIndex: 6,
                    class: 'measurement-text text-for-' + remeasurement.id,
                    rotation: 90,
                }).css({
                    fontSize: 12
                });**/
                measurement.add();
                textStart.add();
                //caliperStartText.add();
                //caliperEndText.add();
                this.paths.push({
                    'id': remeasurement.id,
                    'start': startPoint,
                    'end': endPoint,
                    'y': 150,
                    'type': remeasurement.measurement_type,
                    'length:': remeasurement.measurement_length,
                    'color': color
                });
            },

            /**
             * Associate a recording with a user
             * @param e
             */
            'saveRecordingToStrips' : function(e) {
                this.$http.post('/api/v1/strips', {recording_id: this.recording}).then((response) => {
                    console.log(JSON.stringify(response.data));
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
            },

            /**
             * Convert Milliseconds to a readable timestamp
             */
            'convertMillisecondsToReadable': function(duration) {
                return moment.utc(duration).format("HH:mm:ss.SSS")
            },

            /**
             * Render the ECG Graph given the normalized data
             */
            'renderEcgGraph': function () {
                var vm = this;
                ecgChart = Highcharts.stockChart('ecg-graph', {
                    chart: {
                        backgroundColor: 'transparent',
                        events: {
                            redraw: function (event) {
                                $(".measurement").remove();
                                $(".measurement-text").remove();
                                $(".measurement-start").remove();
                                $(".measurement-end").remove();
                                var currentState = vm.confirmMeasurementBtn.state;
                                $(".confirmBtn").remove();
                                var confirmMeasurementButton = ecgChart.renderer.button('Confirm Measurement', ecgChart.xAxis[0].toPixels(ecgChart.xAxis[0].getExtremes().max) - 150, 10, null, { fill: '#22457c', style: { color: 'white', } }, { fill: '#162947', style: { color: 'white', } }, { fill: '#535453', style: { color: 'white', } }, { fill: '#eeeeee', style: { color: 'white', } }).attr({ class: 'confirmBtn' }).css({ color: 'white', id: 'confirm', cursor: 'pointer' });
                                confirmMeasurementButton.setState(currentState);
                                vm.confirmMeasurementBtn = confirmMeasurementButton;
                                confirmMeasurementButton.on('click', function(e) {
                                    if(confirmMeasurementButton.state == 3)
                                        return false;
                                    vm.submitCaliperRemeasurement();
                                });
                                confirmMeasurementButton.add();
                                if(vm.paths.length > 0) {
                                    var measurements = [];
                                    _.each(vm.paths, function(path){
                                        if(path.type == 'pr') {
                                            vm.topOffset =  135;
                                            var verticalLine = vm.topOffset + 95;
                                        } else if(path.type == 'qrs') {
                                            vm.topOffset = 100;
                                            var verticalLine = vm.topOffset + 125;
                                        } else if(path.type == 'qt') {
                                            vm.topOffset = 210;
                                            var verticalLine = vm.topOffset - 80;
                                        } else if(path.type == 'rr') {
                                            vm.topOffset = 275;
                                            var verticalLine = vm.topOffset - 100;
                                        }

                                        var measurementStart = ecgChart.renderer.path(['M', ecgChart.xAxis[0].toPixels(path.start), vm.topOffset, 'V', vm.topOffset, verticalLine])
                                                .attr({
                                                    'stroke-width': 2,
                                                    stroke: '#ccc',
                                                    class: 'measurement-start measurement-start-'+path.id,
                                                    zIndex: 8,
                                                    dashstyle: 'dash'
                                                });
                                        measurementStart.add();

                                        var measurementEnd = ecgChart.renderer.path(['M', ecgChart.xAxis[0].toPixels(path.end), vm.topOffset, 'V', vm.topOffset, verticalLine])
                                                .attr({
                                                    'stroke-width': 2,
                                                    stroke: '#ccc',
                                                    class: 'measurement-end measurement-end-'+path.id,
                                                    zIndex: 8,
                                                    dashstyle: 'dash'
                                                });
                                        measurementEnd.add();

                                        var measurement = ecgChart.renderer.path(['M', ecgChart.xAxis[0].toPixels(path.start), vm.topOffset, 'L', ecgChart.xAxis[0].toPixels(path.end), vm.topOffset])
                                                .attr({
                                                    fill: path.color,
                                                    'stroke-width': 4,
                                                    stroke: path.color,
                                                    zIndex: 6,
                                                    class: 'measurement measurement-'+path.id
                                                }).on('click', function(){
                                                    ecgChart.xAxis[0].removePlotLine('caliper-start');
                                                    ecgChart.xAxis[0].removePlotLine('caliper-end');
                                                    var type = path.type;
                                                    if(type == 'pr') {
                                                        vm.prMeasurementBtn.setState(2);
                                                        vm.qrsMeasurementBtn.setState(3);
                                                        vm.qtMeasurementBtn.setState(3);
                                                        vm.rrMeasurementBtn.setState(3);
                                                    } else if(type == 'qrs') {
                                                        vm.qrsMeasurementBtn.setState(2);
                                                        vm.prMeasurementBtn.setState(3);
                                                        vm.qtMeasurementBtn.setState(3);
                                                        vm.rrMeasurementBtn.setState(3);
                                                    } else if(type == 'qt') {
                                                        vm.qtMeasurementBtn.setState(2);
                                                        vm.prMeasurementBtn.setState(3);
                                                        vm.qrsMeasurementBtn.setState(3);
                                                        vm.rrMeasurementBtn.setState(3);
                                                    } else if(type == 'rr') {
                                                        vm.rrMeasurementBtn.setState(2);
                                                        vm.prMeasurementBtn.setState(3);
                                                        vm.qrsMeasurementBtn.setState(3);
                                                        vm.qtMeasurementBtn.setState(3);
                                                    }
                                                    vm.confirmMeasurementBtn.setState(0);
                                                    vm.isRemeasuring = type;
                                                    vm.isEditing = path.id;
                                                    vm.setCaliperStartPoint(path.start);
                                                    vm.setCaliperEndPoint(path.end);
                                                });
                                        var textStart = ecgChart.renderer.text(
                                                path.type.toUpperCase() + ' - ' + (path.end - path.start) + 'ms',
                                                ecgChart.xAxis[0].toPixels(path.start - 15),
                                                (vm.topOffset - 10)
                                        ).attr({
                                            zIndex: 6,
                                            class: 'measurement-text text-for-' + path.id,
                                        });
                                        /**var caliperStartText = ecgChart.renderer.text(
                                                (path.start/1000) + 's',
                                                ecgChart.xAxis[0].toPixels(path.start - 25),
                                                135
                                        ).attr({
                                            zIndex: 6,
                                            class: 'measurement-text text-for-' + path.id,
                                            rotation: 90,
                                        }).css({
                                            fontSize: 12
                                        });
                                        var caliperEndText = ecgChart.renderer.text(
                                                (path.end/1000) + 's',
                                                ecgChart.xAxis[0].toPixels(path.end + 15),
                                                135
                                        ).attr({
                                            zIndex: 6,
                                            class: 'measurement-text text-for-' + path.id,
                                            rotation: 90,
                                        }).css({
                                            fontSize: 12
                                        });**/
                                        measurement.add();
                                        textStart.add();
                                        //caliperStartText.add();
                                        //caliperEndText.add();
                                        measurements.push({
                                            'start': path.start,
                                            'end': path.end,
                                            'y': vm.topOffset,
                                            'id': path.id,
                                            'type': path.type,
                                            'length:': (path.end - path.start),
                                            'color': path.color
                                        });
                                    });
                                    vm.paths = [];
                                    vm.paths = measurements;
                                }
                            }
                        },
                        panning: false,
                    },
                    navigator: {
                        margin: 1
                    },
                    labels:{},
                    credits: {
                        enabled: false
                    },
                    rangeSelector: {
                        selected: 0,
                        inputEnabled: false,
                        buttonTheme: {
                            visibility: 'hidden'
                        },
                        labelStyle: {
                            visibility: 'hidden'
                        }
                    },
                    plotOptions: {
                        spline: {
                            dataGrouping: {enabled: false },
                            turboThreshold: 9999999999999999999,
                            lineWidth: 3,
                            states: {
                                hover: {
                                    enabled: true,
                                }
                            },
                        },
                        scatter: {
                            dataGrouping: {enabled: false },
                            enabled: true,
                            marker: {
                                class: 'guttered'
                            }
                        }
                    },
                    title: {
                        text: ''
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        labels: {align: "left",// Format the labels for milliseconds in the thousands
                            formatter: function () {
                                var label = this.value / 1000;
                                if (this.value % 1000 == 0) {
                                    label = label + "k";
                                }
                                else {
                                    label = '';
                                }
                                return label;
                            }
                        },
                        gridLineWidth: 0,
                        minorGridLineWidth: 0,
                        lineColor: 'transparent',
                        tickLength: 0
                    },
                    yAxis: {
                        gridLineWidth: 0,
                        minorGridLineWidth: 0,
                        gridLineColor: 'transparent',
                        visible: false,
                        lineColor: 'transparent',
                        tickLength: 0
                    },
                    tooltip: {
                        shared: false,
                        useHTML: true,
                        formatter: function() {
                            if(this.series.color == "#43ac6a") {
                                return false;
                                //var readable = vm.convertMillisecondsToReadable(this.x);
                                //return '<i class="ss-clock"></i> <span class="margin-left:25px;">' + readable + ' ms - ' + this.y + '</span>';
                            }
                            else if(this.series.color == '#505fe5' || this.series.color == '#f78922' || this.series.color == '#ef563b' || this.series.color == '#c542f4') {
                                if(this.series.color == '#505fe5')
                                    var measurement = 'qt';
                                else if(this.series.color == '#f78922')
                                    var measurement = 'pr';
                                else if(this.series.color == '#ef563b')
                                    var measurement = 'qrs';
                                else if(this.series.color == '#c542f4')
                                    var measurement = 'rr';
                                var measurementStart = (this.series.data[0].x / 1000);
                                var measurementEnd = (this.series.data.slice(-1).pop().x / 1000);
                                return false;
                                //return '<i class="ss-rulerpencil"></i> <span class="margin-left:25px;">' + measurement.toUpperCase() + ' measurement from ' + measurementStart + 's to ' + measurementEnd + 's</span>';
                            }
                            else {
                                var readable = moment(this.x).format('s');
                                return '<i class="ss-user"></i> <span class="margin-left:25px;">Reported  ' + this.point.reported + ' at ' + readable + 's</span>'
                            }
                        }
                    },
                    series: [
                        /**
                         * ECG recorded data
                         */
                        {
                            name: 'ECG Data',
                            data: this.data,
                            color: '#43ac6a',
                            tooltip: {
                                enabled: false
                            },
                            point: {
                                events: {
                                    // Something will happen here when you click on a point on the graph
                                    click: function (event) {
                                        if(vm.isRemeasuring === false) {
                                            alert("Please select a type of measurement");
                                        } else {
                                            if(!vm.caliperStartPoint && !vm.caliperEndPoint) {
                                                vm.setCaliperStartPoint(event.point.category, true);
                                            } else if(vm.caliperStartPoint && !vm.caliperEndPoint) {
                                                vm.setCaliperEndPoint(event.point.category, true);
                                            } else if(vm.caliperStartPoint && vm.caliperEndPoint) {
                                                ecgChart.xAxis[0].removePlotLine('caliper-start');
                                                ecgChart.xAxis[0].removePlotLine('caliper-end');
                                                vm.caliperStartPoint = false;
                                                vm.caliperEndPoint = false;
                                                vm.clickXStart = false;
                                                vm.clickXEnd = false;
                                                vm.stripClip = false;
                                                vm.draggableEndPoint = false;
                                                vm.draggableStartPoint = false;
                                                vm.caliperEndObject = false;
                                                vm.caliperStartObject = false;
                                                vm.confirmMeasurementBtn.setState(3);
                                                ecgChart.series[2].remove();
                                                vm.setCaliperStartPoint(event.point.category);
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        /**
                         * Patient Reported Events scatter plot set at the minimum yAxis
                         */
                        {
                            type: 'scatter',
                            name: 'Reported Events',
                            data: this.reported
                        }],
                    exporting: { enabled: false }
                });
                var QrsMeasureButton = ecgChart.renderer.button('QRS', 5, 10, null,{fill: '#ef563b',style:{color: 'white',}},{fill:'#BF3C24',style:{color: 'white',}},{fill: '#ef563b',style:{color:'white',}},{fill: '#a5a8a3',style:{color: 'white',}}).css({color: 'white', id: 'qrs', cursor: 'pointer'});
                var QtMeasureButton = ecgChart.renderer.button('QT', 42, 10, null,{fill: '#505fe5',style:{color: 'white',}},{fill: '#7F8BF5',style:{color: 'white',}},{fill: '#505fe5',style:{color:'white',}},{fill: '#a5a8a3',style:{color: 'white',}}).css({color: 'white', id: 'qt', cursor: 'pointer'});
                var PrMeasureButton = ecgChart.renderer.button('PR', 72, 10, null,{fill: '#F78922',style:{ color:'white',}},{ fill:'#EDAA6B',style:{color: 'white',}},{fill:'#F78922',style:{color:'white',}},{fill:'#a5a8a3',style:{color:'white',}}).css({color: 'white', id: 'pr', cursor: 'pointer'});
                var RrMeasureButton = ecgChart.renderer.button('RR', 102, 10, null,{fill:'#c542f4',style:{color:'white',}},{ fill:'#D67FF5',style:{color:'white',}},{ fill:'#c542f4',style:{color:'white',}},{ fill:'#a5a8a3',style:{color:'white',}}).css({color: 'white', id: 'rr', cursor: 'pointer'});
                var confirmMeasurementButton = ecgChart.renderer.button('Confirm Measurement', ecgChart.xAxis[0].toPixels(ecgChart.xAxis[0].getExtremes().max) - 150, 10, null, { fill: '#22457c', style: { color: 'white', } }, { fill: '#162947', style: { color: 'white', } }, { fill: '#535453', style: { color: 'white', } }, { fill: '#eeeeee', style: { color: 'white', } }).attr({ class: 'confirmBtn' }).css({ class: 'confirmBtn', color: 'white', id: 'confirm', cursor: 'pointer' });
                confirmMeasurementButton.setState(3);
                vm.confirmMeasurementBtn = confirmMeasurementButton;
                vm.prMeasurementBtn = PrMeasureButton;
                vm.qrsMeasurementBtn = QrsMeasureButton;
                vm.qtMeasurementBtn = QtMeasureButton;
                vm.rrMeasurementBtn = RrMeasureButton;
                // Pr Measure Event
                PrMeasureButton.on('click', function(e){
                    if(PrMeasureButton.state == 3)
                        return false;
                    else if(PrMeasureButton.state == 2) {
                        PrMeasureButton.setState(0);
                        QrsMeasureButton.setState(0);
                        QtMeasureButton.setState(0);
                        RrMeasureButton.setState(0);
                        vm.setMeasurement('false');
                    }
                    else {
                        PrMeasureButton.setState(2);
                        QrsMeasureButton.setState(3);
                        QtMeasureButton.setState(3);
                        RrMeasureButton.setState(3);
                        vm.setMeasurement('pr');
                    }
                });

                // Qrs Measure Event
                QrsMeasureButton.on('click', function(e){
                    if(QrsMeasureButton.state == 3)
                        return false;
                    else if(QrsMeasureButton.state == 2) {
                        QrsMeasureButton.setState(0);
                        PrMeasureButton.setState(0);
                        QtMeasureButton.setState(0);
                        RrMeasureButton.setState(0);
                        vm.setMeasurement('false');
                    }
                    else {
                        QrsMeasureButton.setState(2);
                        PrMeasureButton.setState(3);
                        QtMeasureButton.setState(3);
                        RrMeasureButton.setState(3);
                        vm.setMeasurement('qrs');
                    }

                });

                // Qt Measure Event
                QtMeasureButton.on('click', function(e){
                    if(QtMeasureButton.state == 3)
                        return false;
                    else if(QtMeasureButton.state == 2) {
                        QtMeasureButton.setState(0);
                        PrMeasureButton.setState(0);
                        QrsMeasureButton.setState(0);
                        RrMeasureButton.setState(0);
                        vm.setMeasurement('qt');
                    }
                    else {
                        QtMeasureButton.setState(2);
                        PrMeasureButton.setState(3);
                        QrsMeasureButton.setState(3);
                        RrMeasureButton.setState(3);
                        vm.setMeasurement('qt');
                    }
                });

                RrMeasureButton.on('click', function(e){
                    if(RrMeasureButton.state == 3)
                        return false;
                    else if(RrMeasureButton.state == 2) {
                        QtMeasureButton.setState(0);
                        PrMeasureButton.setState(0);
                        QrsMeasureButton.setState(0);
                        RrMeasureButton.setState(0);
                        vm.setMeasurement('false');
                    }
                    else {
                        RrMeasureButton.setState(2);
                        QtMeasureButton.setState(3);
                        PrMeasureButton.setState(3);
                        QrsMeasureButton.setState(3);
                        vm.setMeasurement('rr');
                    }
                });

                // Confirm the measurement event
                confirmMeasurementButton.on('click', function(e) {
                    if(confirmMeasurementButton.state == 3)
                        return false;
                    vm.submitCaliperRemeasurement();
                });

                PrMeasureButton.add();
                QrsMeasureButton.add();
                QtMeasureButton.add();
                RrMeasureButton.add();
                confirmMeasurementButton.add();
            },
        },
        components: {
            'ecg-events': EcgEvents,
            'ecg-notes': EcgNotes
        },
        props: ['data', 'sampleRate', 'recording', 'notes' ,'reported', 'remeasurements']
    }
</script>
