<template>
    <div>
        <h3>Notes <span v-if="notes">({{ notes.length}})</span></h3>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-edit"></i> Notes</h3>
            </div>
                <div class="panel-body">
                    <div v-if="notes.length">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="note in notes">
                                <div class="clearfix">
                                    <div class="col-md-8">
                                            <p>{{ note.content }}</p>
                                            <small><i class="ss-clock"></i> {{ note.created_at }} by {{ note.user }}<br />
                                                   <i class="ss-notice"></i> Categorized under <strong>{{note.category}}</strong></small>
                                    </div>
                                    <div class="col-md-4">
                                        {{{ note.user_badge }}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div v-else>
                        <p>No notes have been added to this recording strip...</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <form class="form-vertical">
                        <div class="form-group">
                            <select v-select="selected_category" placeholder="Categories..." class="form-control" style="width:100%!important;">
                                <option value="0">Select a category...</option>
                                <option v-for="category in note_categories" :value="category.id">{{ category.description }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea v-bind:disabled="!selected_category" class="form-control" v-model="content" placeholder="Type your note here..."></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" v-bind:disabled="isCreatingNote" @click="addNoteToStrip">
                                <span v-if="isCreatingNote">
                                    <i class="fa fa-spin fa-spinner"></i>
                                </span>
                                <span v-else>
                                    <i class="fa fa-edit"></i>
                                </span>
                                Add Note
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</template>

<script>

    // Imports
    import moment from 'moment';

    export default {
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {
            this.$http.get('/api/v1/notes/categories').then((response) => {
                this.note_categories = response.data;
            }, (response) => {
                console.error(response.data);
            });
        },
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                isCreatingNote: false,
                content: null,
                note_categories: false,
                selected_category: false,
            }
        },
        /*
         |---------------------------------------------------
         | Watch                                            |
         |---------------------------------------------------
         */
        watch: {
            'seleted_category': function(val) {
                if(val == 0)
                    this.selected_category = false;
            }
        },

        /*
         |---------------------------------------------------
         | Directives                                       |
         |---------------------------------------------------
         */
        directives: {
            select: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function () {
                    var self = this
                    $(this.el)
                            .select2()
                            .on('change', function () {
                                self.set(this.value)
                            })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },

        },

        methods: {
            'addNoteToStrip': function() {
                this.isCreatingNote = true;
                this.$http.post('/api/v1/patients/' + this.$route.params.patient_id + '/recordings/' + this.$parent.recording + '/notes',
                        {
                            'content': this.content,
                            'note_category': this.selected_category
                        }
                ).then((response) => {
                    this.notes.push(response.data);
                    this.content = null;
                    this.isCreatingNote = false;
                }, (response) => {
                    console.error(response.data);
                });
            },
        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: [],
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user', 'notes', 'recording'],
    }
</script>