<template>
    <!-- cheap bootstrap modal + vue modal -->
    <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" @click="show = false" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><i class="ss-flag"></i> Flag Recording</h4>
                    </div>
                    <div class="modal-body">
                        <template v-if="hasSuccess">
                            <p>This recording has been flagged.</p>
                        </template>
                        <template v-else>
                            <div class="clearfix">
                                <p>Flagged recordings will appear on the Holter Monitor Report generated at the end of the patient's recording cycle.</p>
                                <div class="alert alert-success" v-show="hasSuccess">
                                    <i class="ss-check"></i> {{ hasSuccess }}
                                </div>
                                <div class="alert alert-error" v-show="hasErrors">
                                    <i class="ss-alert"></i> {{ hasErrors }}
                                </div>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3" for="selected_category">Flag For:</label>
                                        <div class="col-xs-6">
                                            <select v-select="selected_category" placeholder="Categories..." class="form-control" style="width:100%!important;">
                                                <option value="0">Select a category...</option>
                                                <option v-for="category in note_categories" :value="category.id">{{ category.description }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" @click="show = false">Close</button>
                                <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="referStrip" v-show="!hasSuccess">
                                    <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                    Flag Strip</button>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    // Imports
    import _ from 'underscore';
    import moment from 'moment';

    export default {
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {
            this.$http.get('/api/v1/networks/' + window.User.network.id + '/physicians').then((response) => {
                this.physicians = response.data;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });
            this.$http.get('/api/v1/notes/categories?type=flags').then((response) => {
                this.note_categories = response.data;
            }, (response) => {
                console.error(response.data);
            });
        },
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                physicians: false,
                note_categories: false,
                selected_category: false,
                selected_physician: false,
                note: '',
                hasSuccess: false,
                hasErrors: false,
                selected_priority: false,
                isSubmitting: false
            }
        },
        /*
         |---------------------------------------------------
         | Methods                                          |
         |---------------------------------------------------
         */
        methods: {

            /**
             * Post a referral
             */
            referStrip: function() {
                this.isSubmitting = true;
                var payload = {
                    'category_id': this.selected_category,
                    'recording_id': this.recording_id,
                };
                this.$http.post('/api/v1/alerts', payload).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });
            },

            handleSuccess : function(response) {
                this.selected_physician = false;
                this.note = '';
                this.selected_category = false;
                this.selected_priority = false;
                this.hasErrors = false;
                this.hasSuccess = true;
                this.isSubmitting = false;
            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }
        },
        /*
         |---------------------------------------------------
         | Watch                                            |
         |---------------------------------------------------
         */
        watch: {

            'show': function(val) {
                if(!val){
                    this.selected_category = false;
                    this.selected_physician = false;
                    this.note = '';
                    this.selected_priority = false;
                    this.hasErrors = false;
                }
            }

        },
        /*
         |---------------------------------------------------
         | Directives                                       |
         |---------------------------------------------------
         */
        directives: {
            select: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function () {
                    var self = this
                    $(this.el)
                            .select2()
                            .on('change', function () {
                                self.set(this.value)
                            })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },
        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: [],
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user', 'recording_id', 'show'],
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>