<template>
    <!-- sorry mike i know these components are retarded - Greg we support the Special Olympics, "Spread the Word, Say NO to the R-Word". Come on TAR's!!!  -->
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <i class="ss-recordscript"></i> Active Recordings
                    </div>
                    <div class="panel-body">
                        <div v-if="active_recordings">
                            <div class="row" v-for="recording in active_recordings">
                                <div class="col-xs-12">
                                    <div class="clearfix">
                                        <h3 class="pull-left"><i class="ss-heartuser"></i> {{ recording.patient }}</h3>
                                        <a class="btn btn-success pull-right"
                                           href="#"
                                           v-link="{ name: 'network-recordings.show', params: {  session_id: recording.id, patient_id: recording.patient_id  }}">
                                            <i class="ss-crosshair"></i> Patient Analysis
                                        </a>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <p><i class="ss-calendar"></i> Recording Scheduled from {{ recording.date_start }} to {{ recording.date_end}}</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p><i class="ss-cellbars"></i> Devices:</p>
                                            <ul class="list">
                                                <li v-for="device in recording.devices">
                                                    <p>{{ device.radio_id }}</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item">
                                            <p><i class="ss-record"></i> Last Recording submitted on {{ recording.last_recording }}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <h3><i class="fa fa-spinner fa-spin"></i></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>

    // Imports
    import moment from 'moment';

    export default {
        /*
         |---------------------------------------------------
         | Created                                          |
         |---------------------------------------------------
         */
        created() {

        },
        /*
         |---------------------------------------------------
         | Data                                             |
         | @returns{{}}                                     |
         |---------------------------------------------------
         */
        data() {
            return {
                active_recordings: false,

            }
        },
        /*
         |---------------------------------------------------
         | Ready                                            |
         |---------------------------------------------------
         */
        ready() {
            this.$http.get('/api/v1/networks/' + window.User.network.id +'/active_sessions').then((response) => {
                this.active_recordings = response.data;
            }, (response) => {
                console.error(JSON.stringify(response.data));
            });
        },
        /*
         |---------------------------------------------------
         | Watch                                            |
         |---------------------------------------------------
         */
        watch: {

        },
        /*
         |---------------------------------------------------
         | Methods
         |---------------------------------------------------
         */
        methods: {

        },
        /*
         |---------------------------------------------------
         | Component                                        |
         |---------------------------------------------------
         */
        components: [],
        /*
         |---------------------------------------------------
         | Properties                                       |
         |---------------------------------------------------
         */
        props: ['user'],
    }
</script>