<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="clearfix">
                            <span v-if="patient">
                                <h3 class="panel-title pull-left">
                                    {{ patient.name_first }} {{ patient.name_last }}
                                </h3>
                                <button @click="refreshView" class="btn btn-default pull-right"><i class="fa fa-refresh"></i></button>
                           </span>
                            <span v-else>
                                    <h3 class="panel-title"><i class="fa fa-spin fa-spinner"></i></h3>
                            </span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" checked value="patient_events" v-model="viewPatientEvents" id="patient_events"> Reported Events
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" checked value="normal_events" v-model="viewNormalEvents" id="normal_events"> Normal Events
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" checked value="arythmia_events" v-model="viewArythmiaEvents" id="arythmia_events"> Arythmias
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" checked value="bad_events" v-model="viewBadEvents" id="bad_events"> Bad Events
                                        </label>
                                        <button @click="addOrRemoveEvents" v-bind:disabled="isSubmitting" class="btn btn-primary">
                                            <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                            <i class="ss-filter"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <select multiple v-select="selected_events" placeholder="Events..." class="form-control" style="width:60%">
                                    <option>Select an event...</option>
                                    <option v-for="event in event_options" :value="event.id">{{ event.name }}</option>
                                </select>
                                <button @click="findRecordings" v-bind:disabled="isSubmitting" class="btn btn-default">
                                    <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                    <i class="ss-search"></i> Find Strips
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="height:300px;overflow-y:scroll;border:1px dashed #696969;" id="graphsPanel" v-on:scroll="scrollSpy">
                                <div v-if="graphs" id="innerGraphs">
                                    <template v-for="(index, graph) in graphs">
                                        <div class="row" :id="graph.recording[0].id">
                                            <div class="col-xs-12 center-block text-center" style="height:160px;" ><!-- fucking l33t design hacked m8 -->
                                                <small>Submitted {{ graph.recording[0].created_at }} (<strong>Debug:</strong> {{ graph.hash }})</small>
                                                <a href="#" @click="renderRecording" :id="graph.hash">
                                                    <img
                                                            :class="{
                                                                            active: graph.recording[0].id == recording_id,
                                                                            inactive: graph.recording[0].id != recording_id
                                                                    }"
                                                            :src="graph.image"
                                                            class="img-responsive"
                                                    />
                                                </a>
                                            </div>
                                        </div>
                                    </template>
                                    <div class="row" v-if="isLoadingGraphs">
                                        <div class="col-xs-12 center-block text-center">
                                            <h1><i class="fa fa-refresh fa-spin"></i> Fetching Patient Recordings...</h1>
                                        </div>
                                    </div>
                                </div>
                                <div v-else class="text-center">
                                    <h1><i class="fa fa-refresh fa-spin"></i> Fetching Patient Recordings...</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div v-if="ecgData">
                                <ecg-graph-display :recording="recording_id" :notes="notes" :data="ecgData" :reported="reported_events" :remeasurements="remeasurements"></ecg-graph-display>
                            </div>
                            <div v-else class="text-center" style="height:400px;">
                                <h1><i class="fa fa-refresh fa-spin"></i> Loading ECG Recording...</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .active {
        border: 2px solid #008000;
    }

    .inactive {
        border: 2px solid #FFF;
    }

    .form-horizontal .control-label {
        padding-top: 9px;
    }

    .radio-inline, .checkbox-inline {
        padding-top: 9px;
    }
</style>

<script>

    import EcgGraphDisplay from '../ecg-graph/EcgGraphDisplay.vue';
    import _ from 'underscore';

    export default{
        data(){
            return{
                selected_events: null,
                event_options: false,
                arythmias: false,
                reported_events: false,
                bad_events: false,
                viewPatientEvents: false,
                viewArythmiaEvents: false,
                viewNormalEvents: false,
                viewBadEvents: false,
                isSubmitting: false,
                normal_events: false,
                network: window.User.network,
                ecgData: false,
                notes: false,
                recording_id: null,
                patient: false,
                recordings: false,
                graphs: false,
                curOffset: false,
                isLoadingGraphs: false,
                remeasurements: false
            }
        },
        ready: function(){
            var patient_id = this.$route.params.patient_id;
            this.$http.get('/api/v1/patients/' + patient_id).then((response) => {
                this.patient = response.data;
                this.getPatientRecordings();
            }, (response) => {
                console.error(JSON.stringify(response.data));
            });
            this.loadEvents();
        },
        components:{
            'ecg-graph-display' : EcgGraphDisplay,
        },
        directives: {
            select: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function () {
                    var self = this;
                    $(this.el)
                            .select2({
                                data: this.params.options
                            })
                            .on('change', function() {
                                self.set($(self.el).val());
                            })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },

        },

        watch: {
            'recording_id': function(newValue, oldValue) {
                if(newValue && newValue !== null) {
                    var length = $("#innerGraphs > div").length;
                    if(length > 0) {
                        var parentDiv = $("#graphsPanel");
                        var innerListItem = $("#"+newValue);
                        parentDiv.scrollTop(parentDiv.scrollTop() + (innerListItem.position().top - parentDiv.position().top));
                    }
                }
            }
        },

        events: {
            'sync-remeasurement': function(remeasurement) {
                var vm = this;
                if(Array.isArray(this.remeasurements)) {
                    var key;
                    _.each(_.keys(vm.remeasurements), function(k){
                        var v = vm.remeasurements[k];
                        if (v.id === remeasurement.id){
                            key = k;
                        }
                    });
                    if(key) {
                        var arr = [];
                        arr.push(remeasurement);
                        this.remeasurements = [];
                        this.remeasurements = arr;
                    } else {
                        this.remeasurements.push(remeasurement);
                    }
                }
            }
        },

        methods: {
            'refreshView': function() {
                this.selected_events = null;
                this.event_options = false;
                this.arythmias = false;
                this.reported_events = false;
                this.bad_events = false;
                this.viewPatientEvents = false;
                this.viewArythmiaEvents = false;
                this.viewNormalEvents = false;
                this.viewBadEvents = false;
                this.isSubmitting = false;
                this.normal_events = false;
                this.network = window.User.network;
                this.ecgData = false;
                this.notes = false;
                this.recording_id = null;
                this.patient = false;
                this.recordings = false;
                this.graphs = false;
                this.curOffset = false;
                this.isLoadingGraphs = false;
                var patient_id = this.$route.params.patient_id;
                this.$http.get('/api/v1/patients/' + patient_id).then((response) => {
                    this.patient = response.data;
                    this.getPatientRecordings();
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
                this.loadEvents();
            },

            /**
             * Scroll Spy 007
             */
            'scrollSpy':function(e) {
                if(e.target.scrollHeight - e.target.clientHeight <= e.target.scrollTop + 1) {
                    if(this.isLoadingGraphs)
                        return false;
                    else {
                        this.isLoadingGraphs = true;
                        if(this.selected_events.length > 0)
                            this.loadMoreGraphsByEvent();
                        else {
                            this.loadMoreGraphs();
                        }
                    }
                }
            },

            /**
             * Load more graphs
             */
            'loadMoreGraphs': function() {
                var offset = this.curOffset;
                this.$http.get('/api/v1/patients/' + this.$route.params.patient_id + '/recordings/' + this.$route.params.session_id + '/' + offset).then((response) => {
                    var recordingsToPush = response.data.recordings;
                    var currentRecordings = this.recordings;
                    this.recordings = _.union(currentRecordings, recordingsToPush);
                    this.curOffset = offset + 30;
                    this.getRecordingGraphs(recordingsToPush);
                }, (response) => {
                    console.error(response.data);
                });
            },

            /**
             * Load more graphs by events
             */
            'loadMoreGraphsByEvent': function() {
                var offset = this.curOffset;
                this.$http.post('/api/v1/recordings/events/', {events: this.selected_events, session_id: this.$route.params.session_id, offset: offset}).then((response) => {
                    var recordingsToPush = response.data;
                    var currentRecordings = this.recordings;
                    this.recordings = _.union(currentRecordings, recordingsToPush);
                    this.curOffset = offset + 30;
                    this.getRecordingGraphs(recordingsToPush);
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
             },

            /**
             * Load events
             */
            'loadEvents': function(){
                this.$http.get('/api/v1/ecg_events').then((response)=> {
                    var events = [];
                    this.arythmias = response.data.arythmias;
                    this.bad_events = response.data.bad_events;
                    this.normal_events = response.data.normal_events;
                    this.patient_events = response.data.patient_events;
                    _.each(response.data.arythmias, function(value, name){
                        events.push({id: name, name: value});
                    });
                    _.each(response.data.bad_events, function(value, name){
                        events.push({id: name, name: value});
                    });
                    _.each(response.data.normal_events, function(value, name){
                        events.push({id: name, name: value});
                    });
                    _.each(response.data.patient_events, function(value, name){
                        events.push({id: value.id, name: value.description});
                    });
                    this.event_options = events;
                }, (response) =>{
                    console.error(response.data);
                });
            },

            /**
             * Get patient recordings
             */
            'getPatientRecordings': function() {
                this.$http.get('/api/v1/patients/' + this.$route.params.patient_id + '/recordings/' + this.$route.params.session_id).then((response) => {
                    this.ecgData = response.data.last_recording.ecgData;
                    this.reported_events = response.data.last_recording.reported_events;
                    this.recording_id = response.data.last_recording.id;
                    this.recordings = response.data.recordings;
                    this.notes = response.data.last_recording.notes;
                    this.events = response.data.last_recording.events;
                    this.curOffset = 16;
                    this.remeasurements = response.data.last_recording.recording_remeasurements;
                    this.getRecordingGraphs();
                }, (response) => {
                    console.error(response.data);
                });
            },

            /**
             * Get recording graph images
             */
            'getRecordingGraphs': function(newRecordings = null) {
                var hashes = [];
                if(!newRecordings)
                    hashes = _.pluck(this.recordings, 'recording_hash');
                else {
                    hashes = _.pluck(newRecordings, 'recording_hash');
                }
                this.$http.post('/api/v1/recordings/graphs', {'hashes': hashes}).then((response) => {
                    if(!newRecordings) {
                        this.graphs = response.data;
                    }
                    else {
                        var curGraphs = this.graphs;
                        this.graphs = _.union(curGraphs, response.data);
                        this.isLoadingGraphs = false;
                    }
                }, (response) => {
                    console.error(response.data);
                });
            },

            /**
             * Render a recording
             */
            'renderRecording': function() {
                this.ecgData = false;
                this.recording_id = false;
                this.$http.get('/api/v1/recording/' + event.currentTarget.id).then((response) => {
                    this.reported_events = response.data.reported_events;
                    this.ecgData = response.data.recording_data;
                    this.remeasurements = response.data.recording_remeasurements;
                    this.recording_id = response.data.id;
                    this.notes = response.data.recording_notes;
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
            },

            /**
             * Find recordings given a set of events
             *
             * @param null
             */
            'findRecordings': function() {
                this.isSubmitting = true;
                this.$http.post('/api/v1/recordings/events/', {events: this.selected_events, session_id: this.$route.params.session_id}).then((response) => {
                    this.isSubmitting = false;
                    this.graphs = false;
                    this.recordings = response.data;
                    this.getRecordingGraphs();
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
            },

            /**
             * Filter the events by clicking a button and stuff
             * @param e (not sure why I passed the event here...)
             */
            'addOrRemoveEvents': function(e) {
                this.isSubmitting = true;
                this.event_options = false;
                var events = [];
                if(this.viewPatientEvents) {
                    _.each(this.patient_events, function(value, name){
                        events.push({id: value.id, name: value.description});
                    });
                }
                if(this.viewNormalEvents) {
                    _.each(this.normal_events, function(value, name){
                        events.push({id: name, name: value});
                    });
                }
                if(this.viewArythmiaEvents) {
                    _.each(this.arythmias, function(value, name){
                        events.push({id: name, name: value});
                    });
                }
                if(this.viewBadEvents) {
                    _.each(this.bad_events, function(value, name){
                        events.push({id: name, name: value});
                    });
                }
                this.event_options = events;
                this.isSubmitting = false;
            }
        },
        props: ['user']
    }
</script>

<style>
    ::-webkit-scrollbar-track-piece{
        background-color:#fff;
        -webkit-border-radius:0;
    }
    ::-webkit-scrollbar{
        width:15px;
        height:8px;
    }
    ::-webkit-scrollbar-thumb{
        height:50px;
        background-color:#999;
        -webkit-border-radius:4px;
        outline:2px solid #fff;
        outline-offset:-2px;
        border: 2px solid #fff;
    }
    ::-webkit-scrollbar-thumb:hover{
        height:50px;
        background-color:#9f9f9f;
        -webkit-border-radius:4px;
    }
</style>