<template>
    <!-- Modal fullscreen -->
    <div class="modal-mask createdevice" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="row">
                    <div class="container">
                        <div class="modal-header">
                            <button type="button" class="close" @click="show = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel"><i class="ss-cellbars"></i><sup><i class="fa fa-plus-circle"></i></sup> Add New Device</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-xs-12" v-show="hasErrors">
                                            <div class="alert alert-danger">
                                                <div class="clearfix">
                                                    <div class="col-md-3">
                                                        <h3><i class="fa fa-warning"></i></h3>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul class="list list-unstyled">
                                                            <li v-for="error in errorMessages">
                                                                {{ error }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" v-show="hasSuccess">
                                            <div class="alert alert-success">
                                                <div class="clearfix">
                                                    <div class="col-md-3">
                                                        <h3><i class="fa fa-check"></i></h3>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <h3>The device has been added.</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3" for="network">Network</label>
                                            <div class="col-xs-6">
                                                <select v-bind:disabled="userHasMultipleNetworks" v-select="network_id" placeholder="Networks..." class="form-control" style="width:100%!important;">
                                                    <option v-for="network in networks" :value="network.id">{{ network.name }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3" for="username">Device Serial ID:</label>
                                            <div class="col-xs-6">
                                                <input name="radio_id" v-model="radio_id" class="form-control" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="submitNewDeviceForm">
                                <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                Submit</button>
                            <button type="button" class="btn btn-danger" @click="show = false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import _ from 'underscore';

    export default{
        /**
         |----------------------------------------
         |DATA
         |----------------------------------------
         * @returns {{isSubmitting: boolean}}
         */
        data(){

            return {
                isSubmitting: false,
                hasErrors: false,
                hasSuccess: false,
                errorMessages: [],

                // Device Details
                radio_id: null,
                network_id: null,

                networks: false,
                userHasMultipleNetworks: false,

            }

        },

        /**
         |-----------------------------------------
         |CREATED
         |-----------------------------------------
         */
        created: function() {
            // Load Networks
            this.$http.get('/api/v1/networks').then((response) => {
                // Ugly data.data object to support VueTable
                this.networks = response.data;
                this.network_id = response.data[0].id;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });

        },

        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {

            'networks': function (val) {
                if(val.length > 1)
                    this.userHasMultipleNetworks = true;
                 else
                    this.userHasMultipleNetworks = false;
            },
            'show': function(val) {

                if(val == false) {
                    this.radio_id = null;
                    this.show = false;
                    this.hasErrors = false;
                    this.hasSuccess = false;
                    this.$dispatch('update-device-table');
                }
            }

        },

        /**
         |----------------------------------------
         |DIRECTIVES
         |----------------------------------------
         */
        directives: {
            select: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function () {
                    var self = this
                    $(this.el)
                            .select2()
                            .on('change', function () {
                                self.set(this.value)
                            })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },

        },

        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods : {


            submitNewDeviceForm : function(e) {
                this.isSubmitting = true;

                var params = {
                    'radio_id'      :       this.radio_id,
                    'network_id'     :       this.network_id
                };

                this.$http.post('/api/v1/devices', params).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });

            },

            /**
             * Handle a success response from the submission form
             * @param {Object} e
             */
            handleSuccess : function(response) {
                this.radio_id = null;
                this.isSubmitting = false;
                this.hasSuccess = true;
            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }

        },

        /**
         |----------------------------------------
         |PROPERTIES
         |----------------------------------------
         */
        props: ['user', 'show'],
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 1998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        background-color: rgba(255, 255, 255, .99);
        overflow-y: scroll;
        transition: all .3s ease;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }

    label {
        font-weight: 700;
    }

    .createdevice input[type=checkbox] {
        outline: none;
        width: 58px;
        height: 23px;
        font-size: 11px;
        line-height: 2;
        display: block;
        font-weight: bold;
        border-radius: 3px;
        border: 1px solid #B9B9B9;
        -webkit-appearance: none;

        background-image: -webkit-gradient(
                linear, left top, left bottom,
                color-stop(0, #E8E8E8),
                color-stop(0.5, #E8E8E8),
                color-stop(0.5, #FDFDFD),
                color-stop(1, #FDFDFD)
        );
        box-shadow: 0px 1px 2px #AFAFAF inset;
        color: #7F7F7F;
    }

    .createdevice input[type=checkbox]:checked {
        background-image: -webkit-gradient(
                linear, left top, left bottom,
                color-stop(0, #367EF8),
                color-stop(0.5, #367EF8),
                color-stop(0.5, #66A3F8),
                color-stop(1, #66A3F8)
        );
        box-shadow: 0px 1px 2px #1449A3 inset;
        color: #fff;
        text-shadow: 0px -1px 1px #000;
        border: 1px solid #99B9E8;
    }

    .createdevice input[type=checkbox]:before {
        content: 'OFF';
        border-radius: 3px;
        border-top: 1px solid #F7F7F7;
        border-right: 1px solid #999999;
        border-bottom: 1px solid #BABABA;
        border-left: 1px solid #BDBDBD;
        background-image: -webkit-gradient(
                linear, left top, left bottom,
                color-stop(0, #D8D8D8),
                color-stop(1, #FBFBFB)
        );
        height: 20px;
        width: 22px;
        display: inline-block;
        text-indent: 27px;
    }

    .createdevice input[type=checkbox]:checked:before {
        content: 'ON';
        text-indent: -25px;
        margin-left: 33px;
    }

</style>
