<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="panel-title pull-left"><i class="ss-cellbars"></i> Devices</h3>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" class="form-control search-input" @keyup.enter="setFilter" v-model="searchFor" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" @click="setFilter" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <button class="btn btn-default" @click="resetFilter" type="button">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary pull-right" @click="showModal = true"><i class="fa fa-plus-circle"></i> Add Device</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <vuetable v-ref:vuetable
                                  api-url="/api/v1/devices"
                                  :fields="columns"
                                  :item-actions="itemActions"
                                  table-class="table table-responsive table-hover table-striped table-bordered"
                                  :per-page="10"
                                  :sort-order="[{ field: 'updated_at', direction: 'desc' }]"
                                  table-class="table table-bordered table-striped table-hover"
                                  ascending-icon="fa fa-chevron-up"
                                  descending-icon="fa fa-chevron-down"
                                  pagination-path=""
                                  pagination-info-no-data-template=""
                                  pagination-info-data-template=""
                                  pagination-component="vuetable-pagination"
                                  :item-actions="itemActions"
                                  :per-page="perPage"
                                  paginationInfo="{from} {to} {total}"
                                  :append-params="moreParams"
                        ></vuetable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <show-device :show.sync="showUserModal" :user="user"></show-device>
    <create-device :show.sync="showModal" :user="user"></create-device>
    <delete-device :show.sync="showDeleteModal" :user="user"></delete-device>
    <edit-device :show.sync="showEditModal" :user="user"></edit-device>
</template>
<style>

</style>

<style>
    .ui {
        margin-left: 2px;
    }

    .search-input {
        background: #222;
        border-color: #222;
        color: #fff;
    }

    .input-group {
        margin-bottom: 5px;
    }

    .vuetable th.sortable:hover {
        color: #2185d0;
        cursor: pointer;
    }
    .vuetable-actions {
        width: 11%;
        padding: 12px 0px;
        text-align: center;
    }

    .vuetable-pagination {

    }
    .vuetable-pagination-info {
        float: left;
        margin-top: auto;
        margin-bottom: auto;
    }
    .vuetable-pagination-component {
        float: right;
    }
    .vuetable-pagination-component .pagination {
        margin: 0px;
    }
    .vuetable-pagination-component .pagination .btn {
        cursor: pointer;
        margin: 2px;
    }
    [v-cloak] {
        display: none;
    }
    .highlight {
        background-color: yellow;
    }
    /* Loading Animation: */
    .vuetable-wrapper {
        opacity: 1;
        position: relative;
        filter: alpha(opacity=100); /* IE8 and earlier */
    }
    .vuetable-wrapper.loading {
        opacity:0.4;
        transition: opacity .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out;
        -webkit-transition: opacity .3s ease-in-out;
    }
    .vuetable-wrapper.loading:after {
        position: absolute;
        content: '';
        top: 40%;
        left: 50%;
        margin: -30px 0 0 -30px;
        border-radius: 100%;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        border: 4px solid #000;
        height: 60px;
        width: 60px;
        background: transparent !important;
        display: inline-block;
        -webkit-animation: pulse 1s 0s ease-in-out infinite;
        animation: pulse 1s 0s ease-in-out infinite;
    }
    @keyframes pulse {
        0% {
            -webkit-transform: scale(0.6);
            transform: scale(0.6); }
        50% {
            -webkit-transform: scale(1);
            transform: scale(1);
            border-width: 12px; }
        100% {
            -webkit-transform: scale(0.6);
            transform: scale(0.6); }
    }
</style>

<script>

    import CreateDevice from './CreateDevice.vue';
    import EditDevice from './EditDevice.vue';
    import ShowDevice from './ShowDevice.vue';
    import DeleteDevice from './DeleteDevice.vue';

    import Vuetable from 'vuetable/src/components/Vuetable.vue';

    import moment from 'moment';

    export default{

        /**
         |-----------------------------------------
         |DATA
         |-----------------------------------------
         */
        data(){
            return{
                showModal: false,
                showDeleteModal: false,
                showEditModal: false,
                showUserModal: false,
                paginationComponent: 'vuetable-pagination',
                perPage: 10,
                moreParams: [],
                columns: [
                    {
                        name: 'device_id',
                        sortField: 'device_id',
                        title: 'Device ID',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'patient',
                        sortField: 'patients',
                        title: 'Currently Assigned Patient',
                        titleClass: 'text-center',
                        callback: 'transformPatientName',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'status',
                        sortField: 'status',
                        title: 'Status',
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    },
                    {
                        name: 'battery_level',
                        sortField: 'battery_level',
                        title: 'Last Recorded Battery Level',
                        titleClass: 'text-center',
                        callback: 'transformBatteryLevel',
                        dataClass: 'text-center'
                    },
                    {
                        name: 'created_at',
                        sortField: 'created_at',
                        callback: 'formatDate|D/MM/Y',
                        titleClass: 'text-center',
                        title: 'Added On',
                        dataClass: 'text-center',
                    },
                    {
                        name: 'updated_at',
                        sortField: 'updated_at',
                        callback: 'formatDate|D/MM/Y',
                        title: 'Last Updated',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    },
                    {
                        name: '__actions',
                        title: '',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                    }
                ],
                itemActions: [
                    { name: 'edit-item', label: '', icon: 'fa fa-edit', class: 'ui btn btn-success' },
                    { name: 'delete-item', label: '', icon: 'fa fa-trash', class: 'ui btn btn-danger' }
                ]
            }
        },

        created: function() {
            this.$broadcast('vuetable-pagination:set-options', {
                wrapperClass: 'pagination',
                icons: { first: '', prev: '', next: '', last: ''},
                activeClass: 'active',
                linkClass: 'btn btn-default',
                pageClass: 'btn btn-default'
            });
        },

        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {
            'create-device': CreateDevice,
            'edit-device': EditDevice,
            'show-device': ShowDevice,
            'delete-device': DeleteDevice,
            'vuetable': Vuetable,
        },

        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {
            'perPage': function(val, oldVal) {
                this.$broadcast('vuetable:refresh')
            },
        },

        /**
         |-----------------------------------------
         |EVENTS
         |-----------------------------------------
         */
        events: {
// Set pagination
            'vuetable:load-success': function(response) {
                this.$dispatch('vuetable-pagination:set-options')
            },

            // Action buttons
            'vuetable:action': function(action, data) {
                if(action == 'delete-item') {
                    this.showDeleteModal = data;
                } else if (action == 'edit-item') {
                    this.showEditModal = data;
                }
            },

            // Log out the errors for loading
            'vuetable:load-error': function(response) {
                console.error('Load Error: ', response);
            },

            // Update the table upon closing a modal
            'update-device-table': function() {
                this.$refs.vuetable.loadData();
            },

        },

        /**
         |-----------------------------------------
         |METHODS
         |-----------------------------------------
         */
        methods: {
            /**
             * Format Moment.js Date
             */
            formatDate: function(value) {
                if (value == null) return '';
                return moment(value, 'YYYY-MM-DD h:mm:ss').format('MMMM Do YYYY h:mm:ss a');
            },

            transformBatteryLevel: function(value) {
                if(value != 'Unknown') {
                    if (value > 75) {
                        return '<i class="fa fa-battery-full" style="color:#008000"></i>'
                    } else if (value < 75 && value > 50) {
                        return '<i class="fa fa-battery-three-quarters" style="color:#0c7cd5"></i>'
                    } else if (value < 50 && value > 25) {
                        return '<i class="fa fa-battery-half" style="color:#8a6d3b"></i>';
                    } else if (value < 25 && value > 5) {
                        return '<i class="fa fa-battery-quarter" style="color:#8b4513"></i>';
                    } else if (value < 5) {
                        return '<i class="fa fa-battery-empty" style="color:#FF0000"></i>';
                    }
                }
                return value;
            },

            setFilter: function() {
                if(this.searchFor.length>0) {
                    this.moreParams = [
                        'filter=' + this.searchFor
                    ];
                }
                this.$nextTick(function() {
                    this.$broadcast('vuetable:refresh')
                })
            },
            resetFilter: function() {
                this.searchFor = '';
                this.moreParams = [];
                this.setFilter()
            },

            transformPatientName: function(patient) {
                if(patient instanceof Object == false) {
                    return 'No patient assigned';
                }
                return patient.name_first + ' ' + patient.name_last;
            }
        },

        /**
         |-----------------------------------------
         |PROPERTIES
         |-----------------------------------------
         */
        props: ['user']

    }
</script>
