<template>
    <!-- Modal fullscreen -->
    <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="row">
                    <div class="container">
                        <div class="modal-header">
                            <button type="button" class="close" @click="show = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i><sup><i class="fa fa-edit"></i></sup> Edit User</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-xs-12" v-show="hasErrors">
                                            <div class="alert alert-danger">
                                                <div class="clearfix">
                                                    <div class="col-md-3">
                                                        <h3><i class="fa fa-warning"></i></h3>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul class="list list-unstyled">
                                                            <li v-for="error in errorMessages">
                                                                {{ error }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" v-show="hasSuccess">
                                            <div class="alert alert-success">
                                                <div class="clearfix">
                                                    <div class="col-md-3">
                                                        <h3><i class="fa fa-check"></i></h3>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <h3>The device has been saved.</h3>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-xs-3" for="network">Network</label>
                                            <div class="col-xs-6">
                                                <select v-bind:disabled="userHasMultipleNetworks" v-select="selected_network" placeholder="Networks..." class="form-control" style="width:100%!important;">
                                                    <option>Select a network...</option>
                                                    <option v-for="network in networks" :value="network.id">{{ network.name }}</option>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-3" for="name">Device ID</label>
                                        <div class="col-xs-6">
                                            <input name="username" v-model="device_id" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="submitNewDeviceForm">
                                <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                Submit</button>
                            <button type="button" class="btn btn-danger" @click="show = false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import _ from 'underscore';

    export default{
        /**
         |----------------------------------------
         |DATA
         |----------------------------------------
         * @returns {{isSubmitting: boolean}}
         */
        data(){

            return{
                isSubmitting: false,
                isResettingPassword: false,
                hasErrors: false,
                hasSuccess: false,
                resetSuccess: false,
                errorMessages: [],

                // Device ID
                device_id: null,
                selected_network: false,
                networks: false,
                userHasMultipleNetworks: false

            }

        },

        /**
         |-----------------------------------------
         |CREATED
         |-----------------------------------------
         */
        created: function() {

            // Load Networks
            this.$http.get('/api/v1/networks').then((response) => {
                // Ugly data.data object to support VueTable
                this.networks = response.data;
                this.selected_network = response.data[0].id;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });

        },

        /**
         |----------------------------------------
         |DIRECTIVES
         |----------------------------------------
         */
        directives: {
            select: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function () {
                    var self = this;
                    $(this.el)
                            .select2()
                            .on('change', function () {
                                self.set(this.value)
                            })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },

        },

        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {

            'networks': function (val) {
                if(val.length > 1)
                    this.userHasMultipleNetworks = true;
                else
                    this.userHasMultipleNetworks = false;
            },
            'show': function (val) {
                if(val instanceof Object == true) {
                    this.device_id = val.device_id;
                }
                else if(val == false) {
                    this.isSubmitting = false;
                    this.hasErrors = false;
                    this.hasSuccess = false;
                    this.errorMessages = false;
                    this.resetSuccess = false;
                    this.selected_role = [];
                    this.device_id = null;
                    this.selected_network = false;
                    this.$dispatch('update-device-table');
                }
            }

        },
        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods : {


            submitNewDeviceForm : function(e) {
                this.isSubmitting = true;

                var params = {
                    'radio_id'       :       this.device_id,
                    'network_id'     :       this.selected_network,
                };

                this.$http.put('/api/v1/devices/' + this.show.id, params).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });

            },

            /**
             * Handle a success response from the submission form
             * @param {Object} e
             */
            handleSuccess : function(response) {
                var roles = [];
                this.hasErrors = false;
                this.hasSuccess = true;
                this.isSubmitting = false;
            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }

        },

        /**
         |----------------------------------------
         |PROPERTIES
         |----------------------------------------
         */
        props: ['user', 'show'],
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 1998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        background-color: rgba(255, 255, 255, .99);
        overflow-y: scroll;
        transition: all .3s ease;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }

    label {
        font-weight: 700;
    }

</style>
