<template>
    <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container">
                    <div class="container">
                        <div class="modal-header">
                            <button type="button" class="close" @click="show = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="myModalLabel"><i class="ss-cellbars"></i> RejivaECG Device ID - {{ show.device_id }}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row" v-if="show">
                                <div v-if="show.active">
                                        <div class="col-xs-6">
                                            <h4><i class="ss-power"></i> Device Status</h4>
                                            {{{ show.status }}}
                                            <hr />
                                            <h4><i class="ss-scroll"></i> Recent History</h4>
                                            <table class="table table-responsive table-bordered table-striped">
                                                <tr>
                                                    <th>Activity</th>
                                                    <th>Logged On</th>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <h5>No activity recorded...</h5>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                         <div class="col-xs-6">
                                             <h4><i class="ss-heartuser"></i> Assigned Patient</h4>
                                             <ul class="list-group">
                                                 <li class="list-group-item">
                                                     <i class="ss-heartuser"></i> {{ show.patient.name_first }} {{ show.patient.name_last }}
                                                 </li>
                                                 <li class="list-group-item">
                                                     <div class="btn-group" role="group">
                                                        <a href="#" class="btn btn-primary"><i class="ss-recordscript"></i> View Recording History</a>
                                                        <a href="#" v-bind:id="show.patient.id" v-bind:disabled="isAssigningPatient" @click="unassignPatientFromDevice" class="btn btn-danger">
                                                            <span v-show="isAssigningPatient"><i class="fa fa-spinner fa-spin"></i></span>
                                                            <i class="fa fa-stop"></i> End Recording Session
                                                        </a>
                                                    </div>
                                                 </li>
                                             </ul>
                                         </div>
                                </div>
                                <div v-else>
                                    <div class="col-xs-6">
                                        <h4><i class="ss-power"></i> Device Status</h4>
                                        {{{ show.status }}}
                                        <hr />
                                        <h4><i class="ss-script"></i> Recent History</h4>
                                        <table class="table table-responsive table-bordered table-striped">
                                            <tr>
                                                <th>Activity</th>
                                                <th>Logged On</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <h5>No activity recorded...</h5>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-xs-6">
                                        <h4><i class="ss-heartuser"></i> Available Patients</h4>
                                        <div v-if="patients">
                                        <ul class="list-group">
                                                    <li class="list-group-item" v-for="patient in patients">
                                                        <span class="clearfix">
                                                            <h4 class="pull-left">
                                                                <i class="ss-heartuser"></i> {{ patient.name_first }} {{ patient.name_last }}
                                                            </h4>
                                                            <span class="pull-right">
                                                                  <a class="btn btn-primary" href="#" v-bind:id="patient.id" v-bind:disabled="isAssigningPatient" @click="confirmAssignPatient">
                                                                        <i class="fa fa-play"></i> Start Recording
                                                                  </a>
                                                            </span>
                                                        </span>

                                                    </li>
                                            </ul>
                                        </div>
                                        <div v-else>
                                            <i class="fa fa-spinner fa-spin"></i> Loading available patients...
                                        </div>
                                    </div>
                                </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" @click="show = false">Close</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        data(){
            return{
                isLoadingNetworks: false,
                isAssigningPatient: false,
                patients: false,
            }
        },
        watch: {
            'show' : function(val) {
                if(val == false) {
                    this.$dispatch('update-device-table');
                } else {
                  this.loadAvailablePatients();
                }
            }
        },
        /**
         |----------------------------------------------
         |METHODS
         |----------------------------------------------
         */
        methods : {
            'confirmAssignPatient' : function() {
                this.isAssigningPatient = true;
                console.log("Assigning patient " + event.currentTarget.id + " to device " + this.show.id);
                this.$http.post('/api/v1/recording_sessions/', {device_id: this.show.id, patient_id: event.currentTarget.id}).then((response) => {
                    this.isAssigningPatient = false;
                    this.show = response.data;
                }, (response) => {
                    this.isAssigningPatient = false;
                    console.error("Error assigning patient " + JSON.stringify(response));
                });
            },

            'unassignPatientFromDevice' : function() {
                this.isAssigningPatient = true;
                this.$http.put('/api/v1/recording_sessions/'+this.show.active_recording_session, {device_id: this.show.id, patient_id: event.currentTarget.id}).then((response) => {
                    this.isAssigningPatient = false;
                    var device_id = this.show.device_id;
                    var id = this.show.id;
                    this.show = {
                        active: false,
                        active_recording_session: null,
                        device_id: device_id,
                        created_at: null,
                        id: id,
                        status: "<span class='label label-danger'> Inactive</span>",
                        updated_at: null
                    };
                    this.loadAvailablePatients();
                }, (response) => {
                    this.isAssigningPatient = false;
                    console.error("Error assigning patient " + JSON.stringify(response));
                });
            },
            'loadAvailablePatients': function() {
                this.$http.get('/api/v1/networks/' + window.User.network.id +'/patients').then((response) => {
                    this.patients = response.data;
                }, (response) => {
                    console.error("Error " + JSON.stringify(response));
                });
            }


        },
        /**
         |----------------------------------------------
         |PROPERTIES
         |----------------------------------------------
         */
        props: ['user', 'show'],
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 1998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        background-color: rgba(255, 255, 255, .99);
        overflow-y: scroll;
        transition: all .3s ease;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }

    label {
        font-weight: 700;
    }

</style>