<template>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" @click="toggleBadge">
                <i class="ss-alert"></i>
                <span v-show="showBadge" class="badge badge-primary">{{ notifications.new.length }}</span>
                <span v-show="showDangerBadge" class="badge badge-warning" style="background-color:#FF0000;"><i class="fa fa-heartbeat"></i></span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu overflow-menu">
                   <ul class="list-group">
                       <div class="clearfix">
                           <li class="list-group-item" v-for="notification in notifications.new">
                               <p>{{{ notification.content }}}</p>
                               <small class="text-muted"><i class="ss-clock"></i> {{ notification.created_at }}</small>
                           </li>
                           <li class="list-group-item" v-for="notification in notifications.read">
                               <p>{{{ notification.content }}}</p>
                               <small class="text-muted"><i class="ss-clock"></i> {{ notification.created_at }}</small>
                           </li>
                       </div>
                   </ul>
            </ul>
        </li>
</template>
<style>
.overflow-menu {
    max-height: 200px !important;
    overflow-y: scroll !important;
}
</style>
<script>
    import _ from 'underscore';
    import moment from 'moment';

    export default {

        data(){
            return {
                showBadge: false,
                showDangerBadge: false
            }
        },

        ready(){
            if(this.notifications.new.length > 0)
                this.showBadge = true;
            else {
                this.showBadge = false;
                this.showDangerBadge = false;
            }
        },

        methods: {

            toggleBadge: function() {
                var vm = this;
                var expanding = event.
                                        currentTarget.
                                        getAttribute('aria-expanded');

                // Dropdown is opening, clear current notifications
                if(expanding == "false") {
                    this.showBadge = false;
                    this.showDangerBadge = false;
                    vm.markNotificationAsRead(this.notifications.new);
                }
            },

            markNotificationAsRead: function(notifications) {
                var markAsRead = [];
                _.each(notifications, function(notification){
                   markAsRead.push(notification.id);
                });
                this.$http.post('/api/v1/user/' + this.user.user.id + '/notifications/all', { notifications: markAsRead, viewed: true}).then((response) => {
                       this.handleSuccess(response);
                }, (response) => {
                        this.handleError(response);
                });
            },

            handleSuccess: function(response) {
                this.$dispatch('reset-notifications', {notifications: response.data.data});
            },

            /**
             * Handle error code
             * @param response
             */
            handleError: function(response) {
                console.error("Error " + response.error);
            },

        },

        watch: {
            'notifications.new': function(val, oldVal) {
                var vm = this;
                _.each(val, function(notification){
                    if(notification.type == 'fall_detected')
                        vm.showDangerBadge = true;
                    else
                        vm.showBadge = true;
                });
            },
            'notifications.read': function(val, oldVal) {

            }
        },

        events: {
            'hide-badge' : function() {
                this.showBadge = false;
            }
        },

        props: ['user', 'notifications']
    }
</script>
