<template>
    <div class="patient-title">{{ patient.name }} - DOB: {{ patient.dob }} ({{ patient.age }})</div>
    <div class="app-container">
        <!-- <div class="app-row nav-wedge"></div> -->
        <div class="app-row">
            <div class="app-cell app-content-cell">
                <div class="app-content-cell-inner">
                    <div class="app-content-container">
                        <div class="app-content-container-table">
                            <div class="app-row">
                                <div class="app-cell width-25">
                                    <div class="app-table app-full">
                                        <div class="app-row">
                                            <div class="app-cell content-container" style="vertical-align:top;">
                                                <!-- Start Events Column -->
                                                <div class="content-title">
                                                    <div class="panel-heading">
                                                       <span>
                                                            <h3 class="panel-title">
                                                                Events<span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                                            </h3>
                                                       </span>
                                                    </div>
                                                </div>
                                                <div class="content-overflow">
                                                    <div id="events-column">
                                                        <div id="events-panel" class="panel panel-success">
                                                            <div class="panel-body">
                                                                <ul id="filterAccordion">
                                                                    <li class="accordion accordion-1" data-filter="arythmias">
                                                                        <div data-accordion-parent="accordion-1">
                                                                            <input type="checkbox" value="arythmia_events" v-model="viewArythmiaEvents" id="arythmia_events" @click='filterChildren("arythmias_events")'><span @click="accordionAction('accordion-1')">Arythmias</span><span class="arrow_wrapper" @click="accordionAction('accordion-1')"></span>
                                                                        </div>
                                                                        <ul id="arythmias_events_list">
                                                                            <li v-for="arythmia in arythmias" data-filter="{{ $key }}">
                                                                                <template v-if="available_events.includes($key) == true">
                                                                                    <input type="checkbox" value="{{ $key }}" v-model="filterIDs">
                                                                                    <div>{{ arythmia }} <span class="eventCount">({{getCount($key)}})</span></div>
                                                                                </template>
                                                                                <template v-else>
                                                                                    <input type="checkbox" value="{{ $key }}" disabled>
                                                                                    <div class="disabled_event">{{ arythmia }} <span class="eventCount">(0)</span></div>
                                                                                </template>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li class="accordion accordion-2" data-filter="bad_events">
                                                                        <div data-accordion-parent="accordion-2">
                                                                            <input type="checkbox" value="bad_events" v-model="viewBadEvents" id="bad_events" @click='filterChildren("bad_events")'><span @click="accordionAction('accordion-2')">Bad Events</span><span class="arrow_wrapper" @click="accordionAction('accordion-2')"></span>
                                                                        </div>
                                                                        <ul id="bad_events_list">
                                                                            <li v-for="bad_event in bad_events" data-filter="{{ $key }}">
                                                                                <template v-if="available_events.includes($key) == true">
                                                                                    <template v-if="getCount($key) != undefined">
                                                                                        <input type="checkbox" value="{{ $key }}" v-model="filterIDs">
                                                                                    </template>
                                                                                    <template v-else>
                                                                                        <input type="checkbox" value="{{ $key }}" disabled>
                                                                                    </template>
                                                                                    <div>{{ bad_event }} <span class="eventCount">(
                                                                                        <template v-if="getCount($key) != undefined">{{getCount($key)}}</template>
                                                                                        <template v-else>0</template>
                                                                                    )</span></div>
                                                                                </template>
                                                                                <template v-else>
                                                                                    <input type="checkbox" value="{{ $key }}" disabled>
                                                                                    <div class="disabled_event">{{ bad_event }} <span class="eventCount">(0)</span></div>
                                                                                </template>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li class="accordion accordion-3" data-filter="normal_events">
                                                                        <div data-accordion-parent="accordion-3">
                                                                            <input type="checkbox" value="normal_events" value="normal_events" v-model="viewNormalEvents" id="normal_events" @click='filterChildren("normal_events")'><span @click="accordionAction('accordion-3')">Normal Events</span><span class="arrow_wrapper" @click="accordionAction('accordion-3')"></span>
                                                                        </div>
                                                                        <ul id="normal_events_list">
                                                                            <li v-for="normal_event in normal_events" data-filter="{{ $key }}">
                                                                               <!--  <template v-if="available_events.includes($key) == true"> -->
                                                                                    <template v-if="getCount($key) != undefined">
                                                                                        <input type="checkbox" value="{{ $key }}" v-model="filterIDs">
                                                                                    </template>
                                                                                    <template v-else>
                                                                                        <input type="checkbox" value="{{ $key }}" disabled>
                                                                                    </template>
                                                                                    <div>{{ normal_event }}
                                                                                        <span class="eventCount">(
                                                                                        <template v-if="getCount($key) != undefined">{{getCount($key)}}</template>
                                                                                        <template v-else>0</template>
                                                                                    )</span>
                                                                                    </div>
                                                                                <!-- </template> -->
                                                                            <!-- <template v-if="available_events.includes($key) == true">
                                                                                <input type="checkbox" value="{{ $key }}" v-model="filterIDs">
                                                                                <div>{{ normal_event }} <span class="eventCount">({{getCount($key)}})</span></div>
                                                                            </template>
                                                                            <template v-else>
                                                                                <input type="checkbox" value="{{ $key }}" disabled>
                                                                                <div class="disabled_event">{{ normal_event }} <span class="eventCount">(0)</span></div>
                                                                            </template> -->
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li class="accordion accordion-4" data-filter="patient_events">
                                                                        <div data-accordion-parent="accordion-4">
                                                                            <input type="checkbox" value="patient_events" v-model="viewPatientEvents" id="patient_events" @click='filterChildren("patient_events")'><span @click="accordionAction('accordion-4')">Patient Events</span><span class="arrow_wrapper" @click="accordionAction('accordion-4')"></span>
                                                                        </div>
                                                                        <ul id="patient_events_list">
                                                                            <li v-for="patient_event in patient_events" data-filter="{{ patient_event.id }}">
                                                                                <template v-if="available_events.includes(patient_event.id.toString()) == true">
                                                                                    <input type="checkbox" value="{{ patient_event.id }}" v-model="filterIDs">
                                                                                    <div>{{ patient_event.description }} <span class="eventCount">({{getCount(patient_event.id)}})</span></div>
                                                                                </template>
                                                                                <template v-else>
                                                                                    <input type="checkbox" value="{{ patient_event.id }}" disabled>
                                                                                    <div class="disabled_event">{{ patient_event.description }} <span class="eventCount">(0)</span></div>
                                                                                </template>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-cell width-50">
                                    <div class="app-table app-full">
                                        <div class="app-row">
                                            <div class="app-cell content-container" style="vertical-align:top;">
                                                <!-- Start Alerts Column -->
                                                <div class="content-title">
                                                    <div class="panel-heading">
                                                       <span v-if="patient">
                                                           <div class="clearfix">
                                                                <h3 class="panel-title pull-left">
                                                                    Recordings
                                                                </h3>
                                                                <a href="#" @click="refreshView" class="pull-right"><i class="fa fa-refresh"></i></a>
                                                           </div>
                                                       </span>
                                                        <span v-else>
                                                                <h3 class="panel-title"><i class="fa fa-spin fa-spinner"></i></h3>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="content-overflow" v-on:scroll="scrollSpy">
                                                    <div id="strips-column">
                                                        <div class="panel panel-success">
                                                            <div class="panel-body">
                                                                <div id="graphsPanel">
                                                                    <div v-if="graphs" id="innerGraphs">
                                                                        <template v-for="(index, graph) in graphs">
                                                                            <div :id="graph.recording[0].id" class="center-block text-center graphContainer"
                                                                                            :class="{
                                                                                                    active: graph.recording[0].id == recording_id,
                                                                                                    inactive: graph.recording[0].id != recording_id
                                                                                                }">
                                                                                <small>Submitted {{ graph.recording[0].created_at }} (<strong>Debug:</strong> {{ graph.hash }})</small>
                                                                                <a href="#" @click.prevent="renderRecording" :id="graph.hash">
                                                                                    <img
                                                                                            :src="graph.image"
                                                                                            class="img-responsive"
                                                                                    />
                                                                                </a>
                                                                            </div>
                                                                        </template>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" v-if="isLoadingGraphs">
                                                        <div class="col-xs-12 center-block text-center">
                                                            <h1><i class="fa fa-refresh fa-spin"></i> Loading more...</h1>
                                                        </div>
                                                    </div>
                                                    <div v-if="!graphs" class="text-center">
                                                        <h1><i class="fa fa-refresh fa-spin"></i> Fetching Patient Recordings...</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-cell width-25">
                                    <div class="app-table app-full">
                                        <div class="app-row">
                                            <div class="app-cell content-container" style="vertical-align:top;">
                                                <!-- Start Data Column -->
                                                <div class="content-title">
                                                    <div class="panel-heading">
                                                       <span>
                                                            <h3 class="panel-title">
                                                                Data
                                                            </h3>
                                                       </span>
                                                    </div>
                                                </div>
                                                <div class="content-overflow">
                                                    <div v-if="ecgData">
                                                            <ecg-graph-display :additional_data.sync="additional_data" :recording.sync="recording_id" :data="ecgData" :reported="reported_events" :notes.sync="notes" :remeasurements.sync="remeasurements"></ecg-graph-display>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-row">
            <div class="app-cell vertical-align-middle">
                <div class="bottom-container">
                    <!-- Placeholder for the chart -->
                    <div id="recording">
                        <h1><i class="fa fa-refresh fa-spin"></i> Loading ECG Recording...</h1>
                        <div id="ecg-graph"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <referral-dialog-box :show.sync="showReferralDialog" :user.sync="user" :recording_id.sync="recording_id"></referral-dialog-box>
</template>

<script>

    import EcgGraphDisplay from '../ecg-graph/EcgGraphDisplayPatient.vue';
    import ReferralDialogBox from '../referrals/ReferralDialogBox.vue';
    import _ from 'underscore';

    export default{
        data(){
            return{
                selected_events: null,
                event_options: false,
                arythmias: false,
                additional_data: null,
                patient_events: false,
                bad_events: false,
                viewPatientEvents: false,
                viewArythmiaEvents: false,
                viewNormalEvents: false,
                viewBadEvents: false,
                isSubmitting: false,
                normal_events: false,
                network: window.User.network,
                ecgData: false,
                recording_id: null,
                patient: false,
                recordings: false,
                graphs: false,
                event_options2: false,
                available_events: [],
                event_count: [],
                filterIDs : [],
                firstLoad : true,
                curOffset: 16,
                isLoadingGraphs: false,
                notes: false,
                remeasurements: false,
                showReferralDialog: false,
                loadMore: true
            }
        },
        ready: function(){
            var patient_id = this.$route.params.patient_id;
            this.$http.get('/api/v1/patients/' + patient_id).then((response) => {
                this.patient = response.data;
                this.getPatientRecordings();
             }, (response) => {
                console.error(JSON.stringify(response.data));
            });
            this.loadEvents();
            window.addEventListener('resize', this.setHeight);
        },
        components:{
            'ecg-graph-display' : EcgGraphDisplay,
            'referral-dialog-box': ReferralDialogBox
        },
        directives: {
            select: {
                twoWay: true,
                priority: 1000,
                params: ['options'],
                bind: function () {
                    var self = this;
                             $(this.el)
                                      .select2({
                                           data: this.params.options
                                       })
                                        .on('change', function() {
                                            self.set($(self.el).val());
                                         })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },
        },
        watch: {
                // Added for paginator
                'recording_id': function(newValue, oldValue) {
                    if(newValue && newValue !== null) {
                        var length = $("#innerGraphs > div").length;
                        if(length > 0) {
                            var parentDiv = $("#graphsPanel");
                            var innerListItem = $("#"+newValue);
                            console.log(parentDiv.position().top);
                            console.log("newid= " + newValue);
                            console.log(innerListItem.position().top);

                            parentDiv.scrollTop(parentDiv.scrollTop() + (innerListItem.position().top - parentDiv.position().top));
                        }
                    }
                },

                'filterIDs': function(){
                    //if (this.firstLoad == false){
                        this.isSubmitting = true;
                        //console.log(this.filterIDs.length);
                       // if(this.filterIDs.length > 0){
                            console.log('Finding selected events '  + JSON.stringify(this.filterIDs));
                            this.$http.post('/api/v1/recordings/events/', {events: this.filterIDs, session_id:  + this.$route.params.session_id}).then((response) => {
                                this.isSubmitting = false;
                                this.graphs = false;
                                this.recordings = response.data;
                                console.log("start1");
                                this.getRecordingGraphs();
                            }, (response) => {
                                console.error(JSON.stringify(response.data));
                            });
                       // } else {
                           // this.isSubmitting = false;
                           // this.graphs = false;
                        //}
                    // } else {
                    //     console.log("else");
                    //     this.firstLoad = false;
                    // }
                },
                'graphs':function(){
                    //this.setHeight();
                },
                'notes':function(){
                    //this.setHeight();
                }
        },
        events: {
            'prevStrip': function(){
                this.renderPrevRecording();
            },
            'nextStrip': function(){
                console.log('next');
                this.renderNextRecording();
            },
            'sync-remeasurement': function(remeasurement) {
                var vm = this;
                if(Array.isArray(this.remeasurements)) {
                    var key;
                    _.each(_.keys(vm.remeasurements), function(k){
                        var v = vm.remeasurements[k];
                        if (v.id === remeasurement.id){
                            key = k;
                        }
                    });
                    if(key) {
                        var arr = [];
                        arr.push(remeasurement);
                        this.remeasurements = [];
                        this.remeasurements = arr;
                    } else {
                        this.remeasurements.push(remeasurement);
                    }
                }
            },
            'refer-strip': function(image) {
                this.showReferralDialog = image.image;
            }
        },
        methods: {
            'refreshView': function() {
                this.selected_events = null;
                this.event_options = false;
                this.arythmias = false;
                this.reported_events = false;
                this.bad_events = false;
                this.viewPatientEvents = false;
                this.viewArythmiaEvents = false;
                this.viewNormalEvents = false;
                this.viewBadEvents = false;
                this.isSubmitting = false;
                this.normal_events = false;
                this.network = window.User.network;
                this.ecgData = false;
                this.notes = false;
                this.recording_id = null;
                this.patient = false;
                this.recordings = false;
                this.graphs = false;
                this.curOffset = 16;
                this.isLoadingGraphs = false;
                this.remeasurements = false;
                this.firstLoad = true;
                this.loadMore = true;
                var patient_id = this.$route.params.patient_id;
                this.$http.get('/api/v1/patients/' + patient_id).then((response) => {
                    this.patient = response.data;
                    this.getPatientRecordings();
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
                this.loadEvents();
                return false;
            },
            'scrollSpy':function(e){
                if(e.target.scrollHeight - e.target.clientHeight <= e.target.scrollTop + 1) {
                    if(this.isLoadingGraphs)
                        return false;
                    else {
                        this.isLoadingGraphs = true;
                        this.loadMoreGraphs();
                    }
                }
            },
            'loadMoreGraphs': function() {
                var offset = this.curOffset;
                if (this.loadMore){
                    this.$http.get('/api/v1/patients/' + this.$route.params.patient_id + '/recordings/' + this.$route.params.session_id + '/' + offset).then((response) => {
                        var recordingsToPush = response.data.recordings;
                        var currentRecordings = this.recordings;
                        this.recordings = _.union(currentRecordings, recordingsToPush);
                        //this.available_events = response.data.available_events;

                        if(recordingsToPush.length == 0){
                            this.loadMore = false;
                            this.isLoadingGraphs = false;
                        }
                        // this.arythmias = this.arythmias;
                        // this.bad_events = this.bad_events;
                        // this.normal_events = this.normal_events;
                        // this.patient_events = this.patient_events;
                        //this.loadEvents();

                        this.curOffset = offset + 30;
                        console.log("start2");
                        this.getRecordingGraphs(recordingsToPush);
                        this.firstLoad = true;
                        //this.countAvailableEvents();
                    }, (response) => {
                        console.error(response.data);
                    });
                } else {
                    this.isLoadingGraphs = false;
                }
            },

            'getCount': function(eventKey){
                console.log("getCount= " + this.event_count[eventKey]);
                return this.event_count[eventKey];
            },
            'loadEvents': function(){
                this.$http.get('/api/v1/ecg_events').then((response)=> {
                    //var events = [];
                    var events = [];
                    this.arythmias = response.data.arythmias;
                    this.bad_events = response.data.bad_events;
                    this.normal_events = response.data.normal_events;
                    this.patient_events = response.data.patient_events;
                    _.each(response.data.arythmias, function(value, name){
                        events.push(name);
                    });
                    _.each(response.data.bad_events, function(value, name){
                        events.push(name);
                    });
                    _.each(response.data.normal_events, function(value, name){
                        events.push(name);
                    });
                    _.each(response.data.patient_events, function(value, name){
                        events.push(name);
                    });
                    this.event_options2 = events;
                }, (response) =>{
                    console.error(response.data);
                });
            },
            'getPatientRecordings': function() {
                this.$http.get('/api/v1/patients/' + this.$route.params.patient_id + '/recordings/' + this.$route.params.session_id).then((response) => {
                    this.ecgData = response.data.last_recording.ecgData;
                    this.reported_events = response.data.last_recording.reported_events;
                    this.recording_id = response.data.last_recording.id;
                    this.recordings = response.data.recordings;
                    this.remeasurements = response.data.last_recording.recording_remeasurements;
                    this.notes = response.data.last_recording.notes;
                    this.events = response.data.last_recording.events;
                    this.additional_data = {body_position: response.data.last_recording.body_position, breathing_rate: response.data.last_recording.breathing_rate, is_clipped: response.data.last_recording.is_clipped};
                    this.available_events = response.data.available_events;
                    console.log("first load of patient recordings");
                    this.getRecordingGraphs();
                    this.countAvailableEvents();
                    /**
                     * This is an ugly hack to load up the recording
                     * requested from an email notification
                     * for the referred physician.
                     *
                     * Please replace
                     */
                    if(this.$route.query.view_recording) {
                        this.ecgData = false;
                        this.recording_id = false;
                        this.reported_events = false;
                        this.remeasurements = false;
                        this.notes = false;
                        this.$http.get('/api/v1/recording/' + this.$route.query.view_recording).then((response) => {
                            console.log("Loading queried recording: " + JSON.stringify(response.data.recording_remeasurements));
                            this.reported_events = response.data.reported_events;
                            this.ecgData = response.data.recording_data;
                            this.recording_id = response.data.id;
                            this.notes = response.data.recording_notes;
                            this.remeasurements = response.data.recording_remeasurements;
                            this.additional_data = {body_position: response.data.body_position, breathing_rate: response.data.breathing_rate, is_clipped: response.data.is_clipped};
                        }, (response) => {
                            console.error(JSON.stringify(response.data));
                        });
                        //this.setHeight();
                    }
                }, (response) => {
                    console.error(response.data);
                });
            },

            'getRecordingGraphs': function(newRecordings = null) {
                console.log("getRecordingGraphs");
                var hashes = [];
                if(!newRecordings)
                    hashes = _.pluck(this.recordings, 'recording_hash');
                else {
                    hashes = _.pluck(newRecordings, 'recording_hash');
                }
                console.dir(hashes);
                if (hashes.length <= 0){
                    this.isLoadingGraphs = false;
                }
                this.$http.post('/api/v1/recordings/graphs', {'hashes': hashes}).then((response) => {
                    if(!newRecordings) {
                        this.graphs = response.data;
                       // this.setHeight();
                    }
                    else {
                        var curGraphs = this.graphs;
                        this.graphs = _.union(curGraphs, response.data);
                        this.isLoadingGraphs = false;
                        //this.setHeight();
                    }
                }, (response) => {
                    console.error(response.data);
                });
                //this.setHeight();
            },

            'renderRecording': function() {
                this.ecgData = false;
                this.recording_id = false;
                this.$http.get('/api/v1/recording/' + event.currentTarget.id).then((response) => {
                    this.reported_events = response.data.reported_events;
                    this.ecgData = response.data.recording_data;
                    this.recording_id = response.data.id;
                    this.notes = response.data.recording_notes;
                    this.remeasurements = response.data.recording_remeasurements;
                    this.additional_data = {body_position: response.data.body_position, breathing_rate: response.data.breathing_rate, is_clipped: response.data.is_clipped}
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
                //this.setHeight();
            },

            'renderNextRecording': function() {
                console.log($("#graphsPanel .graphContainer.active").next().children("a"));
                if ($("#graphsPanel .graphContainer.active").next().next().hasClass('inactive')){
                    var nextEl = $("#graphsPanel .graphContainer.active").next();
                    $("#graphsPanel .graphContainer.active").toggleClass('active').toggleClass('inactive');
                    nextEl.toggleClass('active').toggleClass('inactive');
                    this.ecgData = false;
                    this.recording_id = false;
                    this.$http.get('/api/v1/recording/' + nextEl.children("a").attr("id")).then((response) => {
                        this.reported_events = response.data.reported_events;
                        this.ecgData = response.data.recording_data;
                        this.recording_id = response.data.id;
                        this.remeasurements = response.data.recording_remeasurements;
                        this.notes = response.data.recording_notes;
                        this.additional_data = {body_position: response.data.body_position, breathing_rate: response.data.breathing_rate, is_clipped: response.data.is_clipped}
                    }, (response) => {
                        console.error(JSON.stringify(response.data));
                    });
                    //this.setHeight();
                } else {
                    this.loadMoreGraphs();
                }

            },

            'renderPrevRecording': function() {
                console.log($("#graphsPanel .graphContainer.active").prev().children("a"));
                if ($("#graphsPanel .graphContainer.active").prev().hasClass('inactive')){
                    var nextEl = $("#graphsPanel .graphContainer.active").prev();
                    $("#graphsPanel .graphContainer.active").toggleClass('active').toggleClass('inactive');
                    nextEl.toggleClass('active').toggleClass('inactive');
                    this.ecgData = false;
                    this.recording_id = false;
                    this.$http.get('/api/v1/recording/' + nextEl.children("a").attr("id")).then((response) => {
                        this.reported_events = response.data.reported_events;
                        this.ecgData = response.data.recording_data;
                        this.recording_id = response.data.id;
                        this.remeasurements = response.data.recording_remeasurements;
                        this.notes = response.data.recording_notes;
                        this.additional_data = {body_position: response.data.body_position, breathing_rate: response.data.breathing_rate, is_clipped: response.data.is_clipped}
                    }, (response) => {
                        console.error(JSON.stringify(response.data));
                    });
                    //this.setHeight();
                }

            },

            /**
             * Find recordings given a set of events
             *
             * @param null
             */
            'findRecordings': function() {
                this.isSubmitting = true;
                console.log('Finding selected events '  + JSON.stringify(this.selected_events));
                this.$http.post('/api/v1/recordings/events/', {events: this.selected_events, session_id:  + this.$route.params.session_id}).then((response) => {
                    this.isSubmitting = false;
                    this.graphs = false;
                    this.recordings = response.data;
                    this.getRecordingGraphs();
                }, (response) => {
                    console.error(JSON.stringify(response.data));
                });
            },

            /**
             * Filter the events by clicking a button and stuff
             * @param e (not sure why I passed the event here...)
             */
            'addOrRemoveEvents': function(e) {
                this.isSubmitting = true;
                this.event_options = false;
                //var events = [];
                var events = [];
                if(this.viewPatientEvents) {
                    _.each(this.patient_events, function(value, name){
                        //events.push({id: name, name: value});
                        events.push(name);
                    });
                }
                if(this.viewNormalEvents) {
                    _.each(this.normal_events, function(value, name){
                        //events.push({id: name, name: value});
                        events.push(name);
                    });
                }
                if(this.viewArythmiaEvents) {
                    _.each(this.arythmias, function(value, name){
                        //events.push({id: name, name: value});
                        events.push(name);
                    });
                }
                if(this.viewBadEvents) {
                    _.each(this.bad_events, function(value, name){
                        //events.push({id: name, name: value});
                        events.push(name);
                    });
                }
                //this.event_options = events;
                this.event_options2 = events;

                this.isSubmitting = false;
            },

            'accordionAction': function(className) {
                //console.log("accordion " + className);
                $('li.' + className).toggleClass('collapsed');
            },

            'filterChildren': function(list){
                console.log("#" + list);
                $("#" + list + "_list li input").trigger('click');

            },

            'countAvailableEvents' : function() {

                var array_elements = this.available_events;
                array_elements.sort();

                var current = null;
                var cnt = 0;
                for (var i = 0; i < array_elements.length; i++) {
                    if (array_elements[i] != current) {
                        if (cnt > 0) {
                        }
                        current = array_elements[i];
                        if (cnt == 0) {
                            this.event_count[current] = new Object();
                        }
                        
                        cnt = 1;
                        this.event_count[current] = cnt;
                    } else {

                        cnt++;

                        this.event_count[current] = cnt;
                    }
                }
                if (cnt > 0) {
                    this.event_count[current] = cnt;
                }

                var ids = [];
                $.each(this.available_events, function(i, el){
                    if ($.inArray(el, ids) === -1) {
                        ids.push(el);
                    }
                });
                console.log("count");
                this.filterIDs = ids;
                //console.log(this.filterIDs);
            }

        },
        props: ['user']
    }
</script>

<style lang="sass">

    // a.patient-header {
    //     display: block;
    //     text-decoration: none;
    // }

    // a.patient-header:hover,
    // a.patient-header>.active,
    // a.patient-header:focus{
    //     text-decoration: none;
    // }

    #page-content-wrapper {
        margin-top: 35px;
    }
    .panel {
        margin-bottom: 15px;
    }

    .panel-body {
        padding: 7px;
    }

    .row {
        margin-left: -7px;
        margin-right: -7px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 7px;
        padding-right: 7px;
    }
    .panel-heading {
        padding: 5px 10px;
    }
    #sidebar-wrapper {
        display: none;
    }
    #wrapper {
        padding: 0 0 0 0;
    }

    #events-column {
        //padding-right: 0;
    }

    #strips-column {
        //padding-right: 0;
        //padding-left: 0;
        //border: solid 1px #020430;
    }

    #graphsPanel {
        //height: 676px;
        overflow-y: scroll;
        border: solid 1px #000;
        border-bottom: solid 2px;
    }

    #data-column {
        padding-left: 0;
    }

    #current-strip-column {
        
        .current-strip {
            border: solid 1px #020430;
            padding: 0 7px;
        }
    }


    #graphsPanel {
        .graphContainer {
            border-bottom: solid 1px #ccc;
            &.active {
                border: 2px solid orange;
                box-shadow: 0px 2px 9px #000;
            }
            &.inactive {
                //border: 2px solid #FFF;
            }
            small {
                // background: rgba(102, 133, 194, 0.1);
                background: rgba(125,174,211,0.1);
                width: 100%;
                display: block;
                padding-left: 10px;
                padding-top: 3px;
                text-align: left;
            }
            a {
                img {
                    
                }
            }
        }
    }
    // .active {
    //     border: 2px solid #008000;
    // }

    

    .form-horizontal .control-label {
        padding-top: 9px;
    }

    .radio-inline, .checkbox-inline {
        padding-top: 9px;
    }

    #events-panel .panel-body, #data-column .panel-body  {
        padding: 7px;
        overflow-y: scroll;
        background: #eee;
    }

    #strips-column {
        padding-right: 0;
        padding-left: 0;
    }

    #strips-column .panel-body  {
        background: #eee;
    }

    #data-panel .panel-success {
        border: solid 1px;
    }

    #actions-panel {
        .panel-success {
            border: solid 1px;
        }
        h3:not(.panel-title){
            display: none;
        }
    }

    #filterAccordion {

        list-style: none;
        margin: 0;
        padding: 0;
        border: solid 1px #000;

        li {
          cursor: pointer; 
        }

        .accordion {

            list-style-type: none;
            margin: 0;
            padding: 0;
            // background: rgba(102, 133, 194, 0.298039);
            background: rgba(125,174,211,0.4);

            div {

                display: block;
                width: 100%;
                padding-left: 0;

                input {
                    margin: 5px 7px 0 7px;
                    //width: 16px;
                    //height: 16px;
                    float: left;
                }
                span.arrow_wrapper {
                    position: relative;
                    top: -3px;
                    display: block;
                    right: 0;
                    float: right !important;
                    width: 24px;
                    height: 24px;
                    &::after {
                        content: "";
                        display: block;
                        width: 0; 
                        height: 0; 
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        border-top: 7px solid #000;
                        position: absolute;
                        right: 12px;
                        top: 12px;
                    }
                }
                span:not(.eventCount) {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 23px;
                    //position: relative;
                    //top: -1px;
                    display: block;
                    float: left;
                    //width: 88%;
                    
                    
                }

                span.eventCount {
                    display: block;
                    float: right;
                }
            }

            &.collapsed {
                ul {
                    height: 0;
                    overflow: hidden;
                    -webkit-transition: height 0.8s;
                    -moz-transition: height 0.8s;
                    transition: height 0.8s;
                }
                div {
                    span {
                        &::after {
                            display: block;
                            width: 0; 
                            height: 0;
                            border-right: none;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 7px solid #000;
                            top: 8px;
                        }
                    }
                }

            }

            

            ul {
                background: #fff;
                list-style: none;
                margin: 0;
                padding: 0;
                clear: both;
                border-top: solid 1px #000;

                li {

                    list-style-type: none;
                    margin: 0;
                    padding: 0 10px 0 20px;
                    text-transform: lowercase;
                    text-transform: capitalize;
                    font-weight: bold;
                    font-size: 10px;

                    display: block;
                    width: 100%;
                    border-bottom: solid 1px #000;
                    line-height: 23px;
                    &:nth-child(even) {
                        background-color: #e6e7e8;
                    }

                    input {
                        margin: 5px;
                        width: 12px;
                        height: 12px;
                        float: left;
                    }

                    div {
                        border: none;
                        padding-left: 5px;
                        line-height: 23px;
                        &.disabled_event {
                            color: #999;
                        }
                    }

                }

            }
        }
    }

    #ecg-graph {
        border: inset 1px #000;
    }

    .panel {
        //margin-bottom: 0;
    }

    .save_recording {
        margin-top: 15px;
    }

    .margin-top {
        margin-top:45px;
    }

    #events-panel::-webkit-scrollbar {
        color: #00b2ee;;
    }

    // .label-as-badge {
    //     border-radius: 1em;
    // }

// STYLES Added by Jeremy

$titleheight: 32px;

.display-table{display: table !important;}
.display-table-row{display: table-row !important;}
.display-table-cell{display: table-cell !important;}

.display-inline{display: inline-block !important;}

.vertical-align-top{vertical-align: top !important;}
.vertical-align-middle{vertical-align: middle !important;}
.vertical-align-bottom{vertical-align: bottom !important;}

.width-20{  width: 20% !important; }
.width-25{  width: 25% !important; }
.width-30{  width: 30% !important; }
.width-33{  width: 33.333% !important; }
.width-40{  width: 40% !important; }
.width-45{  width: 45% !important; }
.width-50{  width: 50% !important; }
.width-60{  width: 60% !important; }
.width-66{  width: 66.666% !important; }
.width-70{  width: 70% !important; }
.width-75{  width: 75% !important; }
.width-80{  width: 80% !important; }
.width-90{  width: 90% !important; }
.width-100{  width: 100% !important; }

.clear-both{
    display: block;
    position: relative;
    width:100%;
    clear: both;
    height: 0;
}

.float-right{
    float: right !important;
}
.float-left{
    float: left !important;
}

p{
    margin-bottom: 20px;
}

// .app-container{
//     display: table;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 10;
// }


.app-container{
    display: table;
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 45px);
    z-index: 10;
}

.app-table{
    display: table;
    position: relative;
}
.app-row{
    display: table-row;
    position: relative;
}
.app-cell{
    display: table-cell;
    position: relative;
}
.app-full{
    height:100%;
    width: 100%;
}
.app-content-cell{
    height: 100%;
}
.app-content-cell-inner{
    position:relative;
    width:100%;
    height:100%;

}
.app-content-container{
    position:relative;
    margin:0 auto;
    width:100%;
    background:#ffffff;
    height:100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.app-content-container-table{
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content-left-container{
    background: #8393be;
    width: 38%;
    height:100%;
    vertical-align: middle;
}
.content-container{
    background: #ffffff;
    height: 100%;
    border: 2px solid #ddd;
}
.content-title{
    overflow: visible;
    position: absolute;
    width: 100%; 
    height: $titleheight; 
    top: 0; 
    left: 0; 
    right: 0;
    background: #eee;
}
.content-overflow{
    overflow-y:scroll;
    overflow-x:hidden;
    position:absolute; 
    width: 100%; 
    height: calc(100% - #{$titleheight});
    top: $titleheight;
    bottom: 0;
    left: 0; 
    right: 0;
    background: #ddd;
}

.bottom-container{
    display: block;
    position:relative;
    margin:0 auto;
    width:100%;
    height:100%;
    background-color:#eee;
    min-height: 400px;
    border-top: 2px solid #ddd;
}

#recording {
    margin: 0;
}
.nav-wedge{
    height:45px;
}

.patient-title{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    color: #fff;
    white-space: nowrap;
    line-height: 46px;
    font-size: 18px;
    text-align: center;
    z-index: 2000;
}
.app-container{

    .panel-success > .panel-heading {
        background-color: #eee;
        border: none;
        color: #333;
    }
    .panel-group .panel + .panel{
        margin-top: 0;
    }
    .panel-heading {
        padding: 5px 10px;
        height: $titleheight;
    }
    .panel-footer {
        background-color: #f0f0f0;
        border-top: none;
    }
    #events-panel .panel-body, 
    #data-column .panel-body,
    #strips-column .panel-body{
        overflow: initial;
        background: transparent;
        padding:0;
    }
    #graphsPanel{
        overflow: initial;
        border: none;
        .graphContainer {
            border: 2px solid transparent;
        }
        .graphContainer.active {
            border: 2px solid orange;
            // box-shadow: 0 2px 9px #000;
            box-shadow: none;
        }
        .graphContainer.inactive:hover {
            border: 2px solid rgba(125,174,211,1);
        }
        .flag-clear{
            margin-right: 6px;
        }
        .panel-heading {
            padding: 5px 2px 5px 10px;
            height: $titleheight;
            background: rgba(125,174,211,0.4);
            color: #fff;
        }
    }
    .panel-group{
        border: 1px solid #fff;
    }
    .panel{
        background-color: #fff;
        margin: 0;
        box-shadow: none;
        border:none;
        border: 1px solid #fff;
    }
    .panel-success{
        border: 2px solid #fff;
        .panel-success{
            border: none;
        }
        #actions-panel .panel-success {
            border: 1px solid #ddd;
            border: 1px solid transparent;
        }
    }
    #ecg-graph {
        border: none;
    }
    #filterAccordion{
        border: 2px solid #fff;
        .accordion ul {
            border-top: 2px solid #fff;
        }
        .accordion ul li {
            border-bottom: 2px solid #fff;
        }
        .accordion:last-child ul li:last-child {
            border-bottom: none;
        }

    }
    // #filterAccordion li.accordion:last-child ul{
    //     border-top: none;
    // }

    #patientAlertsAccordion {
        .panel-heading + div{
            margin-top: 2px;
        }
        span.arrow_wrapper {
            position: relative;
            top: -3px;
            display: inline-block;
            left: 0;
            width: 24px;
            height: 24px;
            margin-left: 5px;
            cursor: pointer;
            &::after {
                content: "";
                display: block;
                width: 0; 
                height: 0; 
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid #000;
                position: absolute;
                right: 12px;
                top: 12px;
            }
        }
        &.collapsed span.arrow_wrapper::after {
            display: block;
            width: 0;
            height: 0;
            border-right: none;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #000;
            top: 8px;
        }
        .panel-group .panel + .panel {
            margin-top: 0;
        }
    }

    #data-panel{
        table.measurements{
            margin: 0;
            border: 2px solid #fff;
        }
        table.measurements > thead > tr > th, 
        table.measurements > thead > tr > td, 
        table.measurements > tbody > tr > th, 
        table.measurements > tbody > tr > td, 
        table.measurements > tfoot > tr > th, 
        table.measurements > tfoot > tr > td {
            border: 2px solid #fff;
        }
        table.measurements td {
            background-color: #f0f0f0;
        }
    }
    .panel-group {
        margin-bottom: 0;
    }
    .patient-header{
        a{
            display: inline-block;
            position: relative;
            line-height: 100%;
            color: #000;
            text-decoration: none;
            top: -6px;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .select2-container--default .select2-selection--single {
        border-radius: 0;
    }
}
#recording{
    h1{
        display: block;
        position: absolute;
        text-align: center;
        top: 35%;
        width: 100%;
    }
} 


/* -- COPY BELOW TO TriageInterface.vue OR PUT ALL OF THESE SOMEWHERE GLOBAL -- */



</style>
