html, body{
    margin:0;
    padding:0;
    font-size: 9pt;
    position: relative;
    width: 100%;
    height: 100%;
}
.width-5{width:5% !important;}
.width-10{width:10% !important;}
.width-15{width:15% !important;}

.report-container{
    position: relative;
    width: 100%;
    height: 100%;
    /*max-width: 612px;*/
    /*height: 792px;*/
    margin: auto;
    /*border: 1px dotted #ddd;*/
}
.report-header{
    position: relative;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.title h1{
    font-size: 18pt;
    line-height: 100%;
    margin: 0;
}
.address p{
    font-size: 8pt;
}
.sub-title h2{
    font-size: 14pt;
    line-height: 100%;
    margin: 0;
}
.timestamp{
    text-align: right;
}
.timestamp p{
    font-size: 8pt;
}
.report-table table{
    width: 100%;
    border-collapse: collapse;
}
.report-table th{
    padding: 3px 5px;
    line-height: 100%;
    font-size: 9pt;
    border:1px solid #000;
    background: #efefef;
    vertical-align: top;
    text-align: right;
}

.report-table thead th{
    background: #000;
    color: #fff;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
}
th.text-center {
    text-align:center;
}
.report-table td{
    padding: 3px 5px;
    line-height: 100%;
    font-size: 9pt;
    border:1px solid #000;
}
.report-table td p{
    line-height: 120%;
    font-size: 7pt;
}
.report-table h3{
    line-height: 100%;
    font-size: 8pt;
    margin: 5px 0;
}
.report-end{
    text-align: right;
}
.report-underline{
    border-bottom: 1px solid #000;
}
td.report-strip{
    padding: 0;
}

.report-end{
    position: relative;
    bottom: 0;
    width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}

/*.dummy-ecg-strip{*/
    /*background: #ffffff;*/
    /*height: 400px;*/
    /*margin: 0;*/

/*}*/

.ecg-test{
    width:1243px;
}

/*.ecg-strip{*/
    /*border: 1px solid #000000;*/
/*}*/

.page-last-item{
    position: relative;
    page-break-after: always;
    page-break-inside: avoid;

}

.strip-wrap{
    position: relative;
    height:298px;
    width: 100%;
}

.first-image{
    clip: rect(0,1244px,297px,55px);
    position: absolute;
    left: -55px;
}
.second-image{
    clip: rect(0,2433px,297px,1244px);
    position: absolute;
    left: -1244px;
}
.third-image{
    clip: rect(0,3622px,297px,2433px);
    position: absolute;
    left: -2433px;
}
.fourth-image{
    clip: rect(0,4538px,297px,3622px);
    position: absolute;
    left: -3622px;
}
.page-break-size{
    height: 800px;
}

.tapestry-td {
    height: 15px;
}

td.time{
    vertical-align: text-top;
}

.tapestry-table, .inner-tapestry {line-height: 1; border-collapse: collapse; width: 100% }
.tapestry-table td, .tapestry-table tr, .tapestry-table img { padding: 0px; margin: 0px; border: none; }
.tapestry-table td {font-size: smaller}
.tapestry-table td.header,.tapestry-table td.footer {
    font-size: medium;
    height: 14px;
}
.tapestry-table td.header{
    height: 18px;
    padding-bottom: 3px;
}
.inner-left{
    width: 20%;
    text-align: left;
}
.inner-right{
    width: 20%;
    text-align: right;
}
.inner-center{
    width: 60%;
    text-align: center;
}

.tapestry-table img{
    width: 550px;
    height: 23px;
}

.strip-title{
    padding-top: 5px;
}

.monitoring{
    padding-left: 10px;
}
.physician{
    padding-left: 10px;
}
