<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left"><i class="fa fa-user"></i><sup><i class="fa fa-edit"></i></sup> Create User</h3>
                    <div class="pull-right">
                        <a class="btn btn-danger" v-link="{ path: '/network-portal/staff/' }">Close</a>
                        <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="submitNewUserForm">
                            <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                            Submit</button>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-12" v-show="hasErrors">
                                <div class="alert alert-danger">
                                    <div class="clearfix">
                                        <div class="col-md-3">
                                            <h3><i class="fa fa-warning"></i></h3>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list list-unstyled">
                                                <li v-for="error in errorMessages">
                                                    {{ error }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" v-show="hasSuccess">
                                <div class="alert alert-success">
                                    <div class="clearfix">
                                        <div class="col-md-3">
                                            <h3><i class="fa fa-check"></i></h3>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>The user has been created.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <user-form
                                    :name_first.sync="name_first"
                                    :name_last.sync="name_last"
                                    :username.sync="username"
                                    :email.sync="email"
                                    :company.sync="company"
                                    :selected_role.sync="selected_role"
                                    :selected_network.sync="selected_network"
                                    :roles.sync="roles"
                                    :networks.sync="networks"
                            ></user-form>
                        </div>
                        <template v-if="locations.length">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4>Locations:</h4>
                                </div>
                            </div>
                            <template v-for="(key, location) in locations">
                                <div class="col-xs-4" :id="key">
                                    <div class="panel panel-success">
                                        <div class="panel-body">
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <p>{{ location.location_street }} {{ location.location_street_2 }}</p>
                                                    <p>{{ location.location_city }}, {{ location.location_province.name }} {{ location.location_postal_code }}</p>
                                                    <p>p:{{ location.location_phone }} / f: {{ location.location_fax }}</p>
                                                </div>
                                                <div class="pull-right">
                                                    <button type="button" @click="editLocation(key)" class="btn btn-warning">
                                                        <i class="ss-write"></i>
                                                    </button>
                                                    <button type="button" @click="trashLocation(key)" class="btn btn-danger">
                                                        <i class="ss-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </template>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import _ from 'underscore';
    import UserForm from './UserForm.vue';

    export default{
        /**
         |----------------------------------------
         |DATA
         |----------------------------------------
         * @returns {{isSubmitting: boolean}}
         */
        data(){

            return{
                isSubmitting: false,
                hasErrors: false,
                hasSuccess: false,
                errorMessages: [],

                // User Properties
                name_first: null,
                name_last: null,
                username: null,
                email: null,
                company: null,
                roles: [],
                networks: [],
                locations: [],
                selected_role: [],
                selected_network: false,
            }

        },

        /**
         |-----------------------------------------
         |CREATED
         |-----------------------------------------
         */
        created: function() {
        },

        ready: function(){
            this.$http.get('/api/v1/networks').then((response) => {
                this.networks = response.data;
        }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });
            this.$http.get('/api/v1/roles').then((response) => {
                this.roles = response.data;
        }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });
        },

        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {

            'isSubmitting': function (val) {
                if (val == true) {

                }
            },

            'roles': function(val) {
                if(val.length > 3) {
                    for(var i = this.roles.length - 1; i >= 0; i--) {
                        if(i === 2 || i === 3) {
                            console.log("Splicing " + i);
                            this.roles.splice(i, 1);
                        }
                    }
                    var phyisicianRole = {
                        'created_at' : '',
                        'description' : ' A physician',
                        'id': 5,
                        'level': 5,
                        'name': 'Physician',
                        'slug': 'physician',
                        'updated_at': ''
                    };
                    this.roles.push(phyisicianRole);
                }
            }
        },

        /**
         |----------------------------------------
         |DIRECTIVES
         |----------------------------------------
         */
        directives: {

        },

        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods : {

            trashLocation: function(key) {
                if(!key) {
                    this.locations.splice(0, 1);
                } else {
                    this.locations.splice(key, 1);
                }
            },

            editLocation: function(key) {
              this.$broadcast('edit-location', {key: key, location: this.locations[key]});
            },

            /**
             * Submit a new user
             * @param {Object} e
             */
            submitNewUserForm : function(e) {
                this.isSubmitting = true;

                var params = {
                        'name_first':       this.name_first,
                        'name_last' :       this.name_last,
                        'username'  :       this.username,
                        'email'     :       this.email,
                        'company'   :       this.company,
                        'roles'     :       this.selected_role,
                        'locations' :       this.locations,
                        'network'   :       this.selected_network,
                };

                this.$http.post('/api/v1/users', params).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });
            },

            /**
             * Handle a success response from the submission form
             * @param {Object} e
             */
            handleSuccess : function(response) {
                this.name_first = null;
                this.name_last = null;
                this.username = null;
                this.email = null;
                this.company = null;
                this.selected_role = false;
                this.selected_network = false;
                this.hasErrors = false;
                this.hasSuccess = true;
                this.isSubmitting = false;
            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }

        },

        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {
            'user-form': UserForm
        },
        /**
         |-----------------------------------------
         |EVENTS
         |-----------------------------------------
         */
        events: {
            'add-location': function(location) {
                this.locations.push(location);
            },
            'update-location': function(object) {
                this.locations.$set(object.key, object.location);
            },
            'clear-locations': function() {
                this.locations = [];
            }
        },
        /**
         |----------------------------------------
         |PROPERTIES
         |----------------------------------------
         */
        props: ['user']
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 1998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        background-color: rgba(255, 255, 255, .99);
        overflow-y: scroll;
        transition: all .3s ease;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }

    label {
        font-weight: 700;
    }

    .createuser input[type=checkbox] {
        outline: none;
        width: 58px;
        height: 23px;
        font-size: 11px;
        line-height: 2;
        display: block;
        font-weight: bold;
        border-radius: 3px;
        border: 1px solid #B9B9B9;
        -webkit-appearance: none;

        background-image: -webkit-gradient(
                linear, left top, left bottom,
                color-stop(0, #E8E8E8),
                color-stop(0.5, #E8E8E8),
                color-stop(0.5, #FDFDFD),
                color-stop(1, #FDFDFD)
        );
        box-shadow: 0px 1px 2px #AFAFAF inset;
        color: #7F7F7F;
    }

    .createuser input[type=checkbox]:checked {
        background-image: -webkit-gradient(
                linear, left top, left bottom,
                color-stop(0, #367EF8),
                color-stop(0.5, #367EF8),
                color-stop(0.5, #66A3F8),
                color-stop(1, #66A3F8)
        );
        box-shadow: 0px 1px 2px #1449A3 inset;
        color: #fff;
        text-shadow: 0px -1px 1px #000;
        border: 1px solid #99B9E8;
    }

    .createuser input[type=checkbox]:before {
        content: 'OFF';
        border-radius: 3px;
        border-top: 1px solid #F7F7F7;
        border-right: 1px solid #999999;
        border-bottom: 1px solid #BABABA;
        border-left: 1px solid #BDBDBD;
        background-image: -webkit-gradient(
                linear, left top, left bottom,
                color-stop(0, #D8D8D8),
                color-stop(1, #FBFBFB)
        );
        height: 20px;
        width: 22px;
        display: inline-block;
        text-indent: 27px;
    }

    .createuser input[type=checkbox]:checked:before {
        content: 'ON';
        text-indent: -25px;
        margin-left: 33px;
    }

</style>
