<template>
    <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="row">
                    <div class="container">
                        <div class="modal-header">
                            <button type="button" class="close" @click="show = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i><sup><i class="fa fa-minus-circle"></i></sup> Delete  User</h4>
                        </div>
                        <div class="modal-body">
                            <p>Confirm deletion of this user?</p>
                            <div class="row">
                                <div class="col-xs-12" v-show="hasErrors">
                                    <div class="alert alert-danger">
                                        <div class="clearfix">
                                            <div class="col-md-3">
                                                <h3><i class="fa fa-warning"></i></h3>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="list list-unstyled">
                                                    <li v-for="error in errorMessages">
                                                        There was an error deleting this user.  Please try again later.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12" v-show="hasSuccess">
                                    <div class="alert alert-success">
                                        <div class="clearfix">
                                            <div class="col-md-3">
                                                <h3><i class="fa fa-check"></i></h3>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>The user has been deleted.</h3>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="modal-footer">
                            <button v-show="!hasSuccess" type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="confirmDeleteUser">
                                <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                                Confirm</button>
                            <button type="button" class="btn btn-danger" @click="show = false">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        data(){
            return{
                isSubmitting: false,
                hasSuccess: false,
                hasErrors: false,
            }
        },
        watch: {
            'show' : function(val) {
                if(val == false) {
                    this.isSubmitting = false;
                    this.hasSuccess = false;
                    this.hasErrors = false;
                    this.$dispatch('update-user-table');
                }
            }
        },
        /**
         |----------------------------------------------
         |METHODS
         |----------------------------------------------
         */
        methods : {
            confirmDeleteUser :  function() {
                this.isSubmitting = true;
                this.$http.delete('/api/v1/users/' + this.show.id).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });
            },

            handleSuccess: function(response) {
                this.hasErrors = false;
                this.hasSuccess = true;
            },

            handleError: function(response) {
                this.hasSuccess = false;
                this.hasErrors = true;
                this.isSubmitting = false;
            }
        },
        /**
         |----------------------------------------------
         |PROPERTIES
         |----------------------------------------------
         */
        props: ['user', 'show'],
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 1998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        background-color: rgba(255, 255, 255, .99);
        overflow-y: scroll;
        transition: all .3s ease;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }

    label {
        font-weight: 700;
    }

</style>