<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left" id="myModalLabel"><i class="fa fa-user"></i><sup><i class="fa fa-edit"></i></sup> Edit - {{ name_first }} {{ name_last }}</h3>
                    <div class="pull-right">
                        <button class="btn btn-danger" type="button" @click="goBack">Cancel</button>
                        <button type="button" v-bind:disabled="isSubmitting" class="btn btn-success" @click="submitNewUserForm">
                            <span v-show="isSubmitting"><i class="fa fa-spinner fa-spin"></i></span>
                            Submit</button>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-12" v-show="hasErrors">
                                <div class="alert alert-danger">
                                    <div class="clearfix">
                                        <div class="col-md-3">
                                            <h3><i class="fa fa-warning"></i></h3>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list list-unstyled">
                                                <li v-for="error in errorMessages">
                                                    {{ error }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" v-show="hasSuccess">
                                <div class="alert alert-success">
                                    <div class="clearfix">
                                        <div class="col-md-3">
                                            <h3><i class="fa fa-check"></i></h3>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>The user has been saved.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <user-form
                                    :name_first.sync="name_first"
                                    :name_last.sync="name_last"
                                    :username.sync="username"
                                    :locations.sync="locations"
                                    :email.sync="email"
                                    :company.sync="company"
                                    :selected_role.sync="selected_role"
                                    :selected_network.sync="selected_network"
                                    :roles.sync="roles"
                                    :networks.sync="networks"
                            >
                            </user-form>
                            <div class="form-group">
                                <div class="col-md-5 alert alert-warning dismissable" v-if="resetSuccess">
                                   <p>Users password was updated.</p>
                                </div>
                                <div class="col-md-5 col-md-offset-3" v-else>
                                    <button type="button" v-bind:disabled="isResettingPassword" @click="sendResetPassword" class="btn btn-warning">
                                        <span v-show="isResettingPassword"><i class="fa fa-spinner fa-spin"></i></span>
                                        <i class="fa fa-lock"></i>
                                        Reset Password
                                    </button>
                                </div>
                            </div>
                            <template v-if="locations.length">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4>Locations:</h4>
                                    </div>
                                </div>
                                <template v-for="(key, location) in locations">
                                    <div class="col-xs-4" :id="key">
                                        <div class="panel panel-success">
                                            <div class="panel-body">
                                                <div class="clearfix">
                                                    <div class="pull-left">
                                                        <p>{{ location.location_street }} {{ location.location_street_2 }}</p>
                                                        <p>{{ location.location_city }}, {{ location.location_province.name }} {{ location.location_postal_code }}</p>
                                                        <p>p: {{ location.location_phone }} / f: {{ location.location_fax }}</p>
                                                    </div>
                                                    <div class="pull-right">
                                                        <button type="button" @click="editLocation(key)" class="btn btn-warning">
                                                            <i class="ss-write"></i>
                                                        </button>
                                                        <button type="button" @click="trashLocation(key)" class="btn btn-danger">
                                                            <i class="ss-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </template>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import _ from 'underscore';
    import UserForm from './UserForm.vue';

    export default{
        /**
         |----------------------------------------
         |DATA
         |----------------------------------------
         * @returns {{isSubmitting: boolean}}
         */
        data(){

            return {
                isSubmitting: false,
                isResettingPassword: false,
                hasErrors: false,
                hasSuccess: false,
                resetSuccess: false,
                errorMessages: [],
                name_first: null,
                name_last: null,
                username: null,
                email: null,
                selected_role: [],
                locations: [],
                selected_network: false,
                roles: [],
                networks: [],
            }
        },

        /**
         |-----------------------------------------
         |CREATED
         |-----------------------------------------
         */
        created: function() {
            this.$http.get('/api/v1/networks').then((response) => {
                this.networks = response.data;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });
            this.$http.get('/api/v1/roles').then((response) => {
                this.roles = response.data;
            }, (response) => {
                console.error("Error " + JSON.stringify(response));
            });
        },

        ready: function(){
            var url = '/api/v1/users/' + this.$route.params.userID +'/edit';
            this.$http.get(url).then((response) => {
                console.log(response.data);
                this.name_first = response.data.name_first;
                this.name_last = response.data.name_last;
                this.username = response.data.username;
                this.email = response.data.email;
                this.locations = response.data.locations;
                this.setRoleAndNetwork({role: response.data.role.id, network: response.data.network.id});
                this.$dispatch('hideLoadingMask');
            }, (response) => {

            });
        },

        /**
         |-----------------------------------------
         |WATCHERS
         |-----------------------------------------
         */
        watch: {


        },
        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods : {

            goBack: function() {
                this.$dispatch('go-back');
            },

            trashLocation: function(key) {
                this.$http.delete('/api/v1/user/'+ this.$route.params.userID +'/locations/' + this.locations[key].location_id).then((response) => {
                    console.log(response.data);
                }, (response) => {
                    console.error(response.data);
                });
                this.locations.splice(key, 1);
            },

            setRoleAndNetwork: function(obj) {
                this.selected_role = obj.role;
                this.selected_network = obj.network;
            },

            editLocation: function(key) {
                if(!key) {
                    var keyToUpdate = 'first';
                } else {
                    var keyToUpdate = key;
                }
                this.$broadcast('edit-location', {key: keyToUpdate, location: this.locations[key]});
            },

            /**
             * Submit a new user
             * @param {Object} e
             */
            submitNewUserForm : function(e) {
                this.isSubmitting = true;
                var params = {
                    'name_first':       this.name_first,
                    'name_last' :       this.name_last,
                    'username'  :       this.username,
                    'network'   :       this.selected_network,
                    'locations' :       this.locations,
                    'roles'     :       this.selected_role
                };
                this.$http.put('/api/v1/users/' + this.$route.params.userID , params).then((response) => {
                    this.handleSuccess(response);
                }, (response) => {
                    this.handleError(response);
                });
            },

            sendResetPassword: function() {
                this.isResettingPassword = true;
                this.$http.put('/api/v1/user/' + this.$route.params.userID + '/reset_password').then((response) => {
                   this.handlePasswordReset(response);
                }, (response) => {
                    this.handlePasswordError(response);
                });
            },

            handlePasswordReset: function(response) {
                this.resetSuccess = true;
                this.isResettingPassword = false;
            },

            handlePasswordError: function(response) {
                alert("Error" + JSON.stringify(response));
                this.isResettingPassword = false;
            },

            /**
             * Handle a success response from the submission form
             * @param {Object} e
             */
            handleSuccess : function(response) {
                var roles = [];
                this.hasErrors = false;
                this.hasSuccess = true;
                this.isSubmitting = false;
            },

            /**
             * Handle an error from the submission form
             * @param {Object} e
             */
            handleError : function(response) {
                var responseErrors = [];
                if (response.status == 422) {
                    var errors = [response.data];
                    for (var index in errors) {
                        if (errors.hasOwnProperty(index)) {
                            var attr = errors[index];
                            for (var error in attr) {
                                if (attr.hasOwnProperty(error)) {
                                    responseErrors.push(attr[error]);
                                }
                            }
                        }
                    }
                }
                else {
                    responseErrors.push('An error occurred.  Please try again later.');
                }
                this.errorMessages = responseErrors;
                this.hasErrors = true;
                this.hasSuccess = false;
                this.isSubmitting = false;
            }

        },

        events: {
            'add-location': function(location) {
                console.log("Location added " + JSON.stringify(location));
                this.locations.push(location);
            },
            'update-location': function(object) {
                console.log("Updating " + object.key + " with " + JSON.stringify(object.location));
                this.locations.$set(object.key, object.location);
            },
            'clear-locations': function() {
                this.locations = [];
            }
        },

        /**
         |-----------------------------------------
         |COMPONENTS
         |-----------------------------------------
         */
        components: {
            'user-form': UserForm
        },
        /**
         |----------------------------------------
         |PROPERTIES
         |----------------------------------------
         */
        props: ['user'],
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 1998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        background-color: rgba(255, 255, 255, .99);
        overflow-y: scroll;
        transition: all .3s ease;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }

    label {
        font-weight: 700;
    }

</style>
