<template>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left" id="myModalLabel"><i class="fa fa-user"></i><sup><i class="fa fa-eye"></i></sup> Show User - {{ show.name }}</h3>
                    <div class="pull-right">
                        <a href="#" class="btn btn-danger" v-link="{'path': '/network-portal/staff'}">Close</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" v-if="show">
                        <div class="col-xs-6">
                            <h4><i class="ss-user"></i> Account Information</h4>
                            <p><strong>Name:</strong> {{ show.name }}</p>
                            <p><strong>Email:</strong> {{ show.email }}</p>
                            <p><strong>Registration Date:</strong> {{ show.created_at }}
                            <p><strong>Last Activity:</strong> {{ show.updated_at }}
                        </div>
                        <div class="col-xs-6">
                            <h4><i class="ss-connection"></i> Network Information</h4>
                            <div v-if="show.network">
                                <div>
                                    <span class="pull-left">
                                        {{ show.network.name }}
                                    </span>
                                    {{{ show.role }}}
                                </div>
                            </div>
                            <div v-else>
                                <p>No network selected</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        data(){
            return{
                isLoadingNetworks: false
            }
        },
        ready() {
            this.$http.get('/api/v1/users/' + this.$route.params.userID).then((response) => {
                this.show = response.data;
            }, (response) => {
                console.error(response.data);
            });
        },
        watch: {
            'show' : function(val) {
                if(val == false) {

                } else {
                    // Hacks for calling the modal from elsewhere
                    if(this.show.network instanceof Object == false) {
                        this.show.network = false;
                    }

                    if(this.show.role instanceof Object == true) {
                        this.transformRole(this.show.role);
                    }
                }
            }
        },
        /**
         |----------------------------------------------
         |METHODS
         |----------------------------------------------
         */
        methods : {

            'viewUserNetwork' : function() {
                this.show = false;
                this.$dispatch('show-network', {network_id: event.currentTarget.id});
            },

            'transformRole' : function(role) {
                if(role.level == 1) {
                    this.show.role = '<span class="label label-primary pull-right">Administrator</span>';
                } else if(role.level == 2) {
                    this.show.role = '<span class="label label-default pull-right">User</span>';
                } else if(role.level == 3) {
                    this.show.role = '<span class="label label-success pull-right">Network Administrator</span>';
                } else if(role.level == 4) {
                    this.show.role = '<span class="label label-warning pull-right">Cardiac Technician</span>';
                }
                else if(role.level == 5) {
                    this.show.role = '<span class="label label-danger pull-right">Interpreting Cardiologist</span>';
                }
            }

        },
        /**
         |----------------------------------------------
         |PROPERTIES
         |----------------------------------------------
         */
        props: ['user', 'show'],
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 1998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        background-color: rgba(255, 255, 255, .99);
        overflow-y: scroll;
        transition: all .3s ease;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }

    label {
        font-weight: 700;
    }

</style>