<template>
    <div class="form-group">
        <label class="control-label col-xs-3" for="name_first">First Name</label>
        <div class="col-xs-6">
            <input name="name_first" required="true" v-model="name_first" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="name_last">Last Name</label>
        <div class="col-xs-6">
            <input name="name_last" required="true" v-model="name_last" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="username">Username</label>
        <div class="col-xs-6">
            <input name="email" v-model="username" class="form-control has-error" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="username">Email Address</label>
        <div class="col-xs-6">
            <input name="email" v-model="email" class="form-control has-error" type="email" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="role">User Role</label>
        <div class="col-xs-6">
            <select v-select="selected_role" placeholder="Networks..." class="form-control" style="width:100%!important;">
                <option>Select a role...</option>
                <option v-for="role in roles" :value="role.id">{{ role.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="network">Network</label>
        <div class="col-xs-6">
            <select v-select="selected_network" placeholder="Networks..." class="form-control" style="width:100%!important;">
                <option>Select a network...</option>
                <option v-for="network in networks" :value="network.id">{{ network.name }}</option>
            </select>
        </div>
    </div>
    <template v-if="canAddLocation">
        <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-primary" @click="isAddingLocation = true">
                <i class="fa fa-plus"></i> Add Location
            </button>
            <hr />
        </div>
    </template>
    <template v-if="isAddingLocation">
        <div class="form-group">
            <label class="control-label col-xs-3" for="location_street">Street Address</label>
            <div class="col-xs-6">
                <input class="form-control" type="text" placeholder="Street address..." v-model="location_street" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="location_street_2">Suite/Office</label>
            <div class="col-xs-6">
                <input class="form-control" type="text" placeholder="Suite / Office..." v-model="location_street_2" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="location_city">City</label>
            <div class="col-xs-6">
                <input class="form-control" type="text" placeholder="City" v-model="location_city" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="location_province">Province</label>
            <div class="col-xs-6">
                <select v-select="location_province" placeholder="Provinces..." class="form-control" style="width:100%!important;">
                    <option>Select a province...</option>
                    <option v-for="province in available_provinces" :value="province.id">{{ province.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="location_postal_code">Postal Code</label>
            <div class="col-xs-6">
                <input class="form-control" type="text" placeholder="Postal Code" v-model="location_postal_code" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="location_phone">Phone</label>
            <div class="col-xs-6">
                <input class="form-control" type="text" placeholder="Phone Number" v-model="location_phone" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="location_fax">Fax</label>
            <div class="col-xs-6">
                <input class="form-control" type="text" placeholder="Fax" v-model="location_fax" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6 col-xs-offset-5">
                <button type="button" class="btn btn-success" @click="confirmLocation">
                    <i class="fa fa-check-circle"></i> Confirm Location
                </button>
            </div>
        </div>
    </template>
</template>

<script>

    import _ from 'underscore';

    export default{
        /**
         |----------------------------------------
         |CREATED
         |----------------------------------------
         */
        created: function() {

        },
        /**
         |----------------------------------------
         |READY
         |----------------------------------------
         */
        ready: function() {
          this.$http.get('/api/v1/provinces').then((response) => {
                this.available_provinces = response.data;
          }, (response) => {
                console.error(response.data);
          });
        },
        /**
         |----------------------------------------
         |DIRECTIVES
         |----------------------------------------
         */
        directives: {
            select: {
                twoWay: true,
                priority: 1000,

                params: ['options'],

                bind: function () {
                    var self = this
                    $(this.el)
                            .select2()
                            .on('change', function () {
                                self.set(this.value)
                            })
                },
                update: function (value) {
                    $(this.el).val(value).trigger('change')
                },
                unbind: function () {
                    $(this.el).off().select2('destroy')
                }
            },
        },
        /**
         |----------------------------------------
         |DATA
         |----------------------------------------
         */
        data: function() {
            return {
                available_provinces: null,
                location_street: null,
                location_street_2: null,
                location_city: null,
                location_id: false,
                location_province: false,
                location_postal_code: null,
                location_phone: null,
                location_fax: null,
                canAddLocation: false,
                isAddingLocation: false,
                isUpdatingLocation: false
            }
        },
        /**
         |----------------------------------------
         |METHODS
         |----------------------------------------
         */
        methods: {
            'confirmLocation': function() {
                var vm = this;
                var province = _.find(this.available_provinces, function(item) {
                                    return item.id == vm.location_province;
                                });
                if(this.isUpdatingLocation) {
                    if(this.isUpdatingLocation == 'first') {
                        var locationToUpdate = 0;
                    } else {
                        var locationToUpdate = this.isUpdatingLocation;
                    }

                    this.$dispatch('update-location', {
                        key: locationToUpdate,
                        location: {
                            location_id: this.location_id,
                            location_street: this.location_street,
                            location_street_2: this.location_street_2,
                            location_city: this.location_city,
                            location_province: province,
                            location_postal_code: this.location_postal_code,
                            location_phone: this.location_phone,
                            location_fax: this.location_fax
                        }
                    });
                    this.isUpdatingLocation = false;
                }
                else {
                    this.$dispatch('add-location', {
                        location_id: this.location_id,
                        location_street: this.location_street,
                        location_street_2: this.location_street_2,
                        location_city: this.location_city,
                        location_province: province,
                        location_postal_code: this.location_postal_code,
                        location_phone: this.location_phone,
                        location_fax: this.location_fax
                    });
                }
                this.location_id = false;
                this.location_street = null;
                this.location_street_2 = null;
                this.location_city = null;
                this.location_province = false;
                this.location_postal_code = null;
                this.location_phone = null;
                this.location_fax = null;
                this.isAddingLocation = false;
            }
        },
        /**
         |----------------------------------------
         |EVENTS
         |----------------------------------------
         */
        events: {
            'edit-location': function(object) {
                if (typeof object.location.location_id !== "undefined"){
                    this.location_id = object.location.location_id;
                }
                this.isAddingLocation = true;
                this.location_street = object.location.location_street;
                this.location_street_2 = object.location.location_street_2;
                this.location_city = object.location.location_city;
                this.location_province = object.location.location_province.id;
                this.location_postal_code = object.location.location_postal_code;
                this.location_phone = object.location.location_phone;
                this.location_fax = object.location.location_fax;
                this.isUpdatingLocation = object.key;
            }
        },
        /**
         |----------------------------------------
         |WATCHERS
         |----------------------------------------
         */
        watch: {
            'selected_role': function(val) {
                if(val > 4)
                    this.canAddLocation = true;
                else {
                    this.canAddLocation = false;
                    this.$dispatch('clear-locations');
                }
            }
        },
        /**
         |----------------------------------------
         |PROPS
         |----------------------------------------
         */
        props:[
            'name_first',
            'name_last',
            'username',
            'company',
            'email',
            'selected_role',
            'roles',
            'locations',
            'selected_network',
            'networks'
        ]
    }

</script>
